<ion-content class="register">
    <ion-card gradient-top-left>

        <ion-icon item-end navPop name="close"></ion-icon>

        <ion-card-header>
            Welcome back to
            <br/>
            <p>Nayashopi</p>
            <div orange></div>
            <div purple></div>
        </ion-card-header>
        <ion-card-content class="ratingreview">
            <ion-grid>

                <ion-segment color-gray [(ngModel)]="selectedSegment">
                    <ion-segment-button value="new">
                        Sign Up
                    </ion-segment-button>
                    <ion-segment-button dimopacity value="login" tappable (click)="showSignin()">
                        Login
                    </ion-segment-button>
                </ion-segment>
                <form (ngSubmit)="register()" #registerForm="ngForm">

                    <ion-row>
                        <ion-col col-12 margin-top>
                            <ion-item no-padding font13>
                                <ion-input custom-textbox-styling no-padding no-margin type="text" placeholder="Email" name="email" [(ngModel)]="registerCredentials.email"
                                    required></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-12>
                            <ion-item no-padding font13>
                                <ion-input custom-textbox-styling no-padding no-margin type="text" placeholder="Username" name="username" [(ngModel)]="registerCredentials.username"
                                    required></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-12>
                            <ion-item no-padding font13>
                                <ion-input custom-textbox-styling no-padding no-margin type="password" placeholder="Password" name="password" [(ngModel)]="registerCredentials.password"
                                    required></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row padding-top>
                        <ion-col col-12 text-center>
                            <button ion-button class="submit-btn" ns-button full type="submit" [disabled]="!registerForm.form.valid">Sign Up</button>
                        </ion-col>
                    </ion-row>
                    <ion-row padding-top>
                        <ion-col prepostborder col-12 text-center prepostborder>
                            Login Using
                        </ion-col>
                    </ion-row>

                </form>
            </ion-grid>
        </ion-card-content>
    </ion-card>

</ion-content>