
/* Body */
body {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}

/* Titles */
h1, h2, h3,
h4, h5, h6,
.header #main-menu a,
.header #top-sub-menu a,
.header-topmenu ul li a,
.header-2-content .header-weather strong,
.widget-contact li strong,
.item-block-4 .item-header strong,
.photo-gallery-grid .item .category-photo {
	font-family: 'Open Sans', sans-serif;
}

/* Main menu */
.header .main-menu > ul {
	font-family: 'Open Sans', sans-serif;
}
