
/* DESKTOP */
@media only screen and (max-width: 1300px) {

	.ot-slider .owl-nav {
		display: none;
	}

}

/* DESKTOP */
@media only screen and (max-width: 1220px) {

	.active.boxed {
		max-width: 100%;
	}

	.header-menu nav.main-menu,
	.wrapper {
		max-width: 97%;
	}

	.rss-float {
		display: none;
	}

	.header .main-menu > ul > li > a {
		font-size: 0.8em;
	}

	.header-menu .head-searcher .head-search-input {
		padding: 11px 35px 10px 16px;
	}

	.ot-slider .ot-slider-layer.fourth a strong, .ot-slider .ot-slider-layer.third a strong {
		font-size: 1em;
	}

	.ot-slider .ot-slider-layer.second a strong {
		font-size: 1em;
	}

	.ot-slider .ot-slider-layer strong {
		font-size: 1.4em;
	}

	.article-list-big .item-the-huge .item-content h3 {
		font-size: 1.1em;
	}

}


/* TABLET */
@media only screen and (max-width: 1000px) {
	
	.header-menu .head-searcher {
		display: none;
	}

	.header-banner {
		width: auto;
		padding-left: 30px;
	}

	.footer > .wrapper p {
		font-size: 0.8em;
	}

	.footer > .wrapper ul.right {
		font-size: 0.8em;
	}

	.header-menu nav.main-menu,
	.wrapper {
		max-width: 94%;
	}

	.header-block > div img {
		width: 100%;
	}

}


/* TABLET */
@media only screen and (max-width: 900px) {

	body, div, p, a, table, td {
		-webkit-text-size-adjust: none;
		letter-spacing: .015em;
	}

	.main-menu-reposnive-button {
		display: block;
	}

	.header .main-menu > ul {
		display: none!important;
	}

	.main-content-wrapper {
		width: 100%!important;
		display: block!important;
	}

	.main-content-wrapper > div,
	.main-content-wrapper > aside {
		max-width: 100%!important;
		display: block!important;
		flex: none;
		width: 100%!important;
		margin-left: 0px!important;
		margin-right: 0px!important;
		padding-left: 0px!important;
		padding-right: 0px!important;
	}

	.main-content-wrapper > .main-content {
		display: block!important;
		flex: none;
		width: 100%;
		margin-left: 0px!important;
		margin-right: 0px!important;
		padding-left: 0px!important;
		padding-right: 0px!important;
	}

	.main-content-wrapper > #sidebar {
		display: block!important;
		flex: none;
		width: 100%!important;
		margin-left: 0px;
		margin-right: 0px;
		max-width: 100%;
		border-top: 2px solid #ECECEC;
		margin-top: 10px;
		padding-top: 30px;
	}

	.content .widget > div.banner {
		text-align: center;
	}

	.widget .photo-gallery-list .gallery-change a,
	.widget .photo-gallery-list .gallery-change a.active img,
	.widget .photo-gallery-list .gallery-change a img {
		width: 100%;
	}

	.photo-gallery-grid .item {
		flex: 1 48.5%;
		-moz-flex: 1 48.5%;
		-webkit-flex: 1 48.5%;
		max-width: 48.5%;
		margin-bottom: 35px;
		margin-left: 3%;
	}

	.photo-gallery-grid .item .item-header .hover-image,
	.photo-gallery-grid .item .item-header img {
		width: 100%;
	}

	.photo-gallery-grid .item:nth-child(4n+1) {
		margin-left: 1.69%;
	}

	.photo-gallery-grid .item:nth-child(2n+1) {
		margin-left: 0px;
	}

	.photo-gallery-content {
		padding-left: 0px;
		padding-right: 0px;
	}

	.photo-gallery-main .photo-controls {
		display: none;
	}

	.archive-grid > div {
		flex: 1 48.5%;
		-moz-flex: 1 48.5%;
		-webkit-flex: 1 48.5%;
		max-width: 48.5%;
		margin-bottom: 35px;
		margin-left: 3%;
	}

	.archive-grid img {
		max-width: 100%;
	}

	.archive-grid > div:nth-child(3n+1) {
		margin-left: 3%;
	}

	.archive-grid > div:nth-child(2n+1) {
		margin-left: 0px;
	}

	.contact-us-page {
		display: block;
		flex: none;
		width: 100%;
		margin-right: 0px;
		max-width: 100%;
	}

	.contact-us-page iframe,
	.contact-us-page > div {
		max-width: 100%;
		width: 100%;
	}

	.contact-us-page .map-page {
		margin-bottom: 20px;
	}

}


/* PHONE */
@media only screen and (max-width: 600px) {

	.demo-settings {
		display: none!important;
	}

	.split-blocks {
		display: block;
		flex: none;
	}

	.header-banner {
		padding-left: 0px;
	}

	.split-blocks > div {
		display: block;
		width: 100%;
		flex: none;
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 0px!important;
		padding-right: 0px!important;
		width: 100%;
	}

	.article-list-big .item-the-huge .item-header a.hover-image,
	.article-list-big .item-the-huge .item-header img {
		width: 100%;
	}

	.ot-slider {
		display: none!important;
	}

	.def-panel.banner {
		text-align: center;
	}

	.footer .footer-widgets .widget {
		width: 100%;
		display: block;
		margin-left: 0px;
		margin-right: 0px;
		float: none;
		clear: both;
		margin-bottom: 30px;
	}

	.full-block .right.social-content {
		float: none;
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}

	.full-block .social-content a {
		float: none;
		display: inline-block;
	}

	.full-block .advert-links {
		line-height: 150%;
		text-align: center;
	}

	.weather-top {
		float: none;
		width: 100%;
		text-align: center;
		margin-bottom: 5px;
	}

	.top-line ul.top-menu {
		display: none;
	}

	.header-block {
		display: block;
		text-align: center;
	}

	.header-block .header-logo {
		margin-bottom: 30px;
	}

	.header-block > div {
		display: block;
		text-align: center;
	}

	.main-article-list .item {
		display: block;
		flex: none;
	}

	.main-article-list .item .item-header {
		width: 100%;
		flex: none;
		display: block;
		margin-bottom: 20px;
	}

	.main-article-list .item .item-content {
		flex: none;
		display: block;
		width: 100%;
		float: none;
		margin-left: 0px;
	}

	.main-content-wrapper > .main-content,
	.main-content-wrapper > .main-content-spacy {
		margin-right: 0px;
	}

	.main-article-list .item .item-header .hover-image,
	.main-article-list .item .item-header img {
		width: 100%;
	}

	.def-panel .panel-title .right {
		display: none;
	}

	.main-content-wrapper.with-double-sidebar > .small-sidebar {
		display: block;
		flex: none;
		width: 100%;
		margin-right: 0px;
		margin-left: 0px;
		max-width: 100%
	}

	.shortocde-content h1 {
		font-size: 1.2em;
		line-height: 140%;
	}

	.article-header .article-header-info .article-header-meta .article-header-meta-links {
		display: none;
	}

	.social-headers {
		display: block;
		margin-left: auto;
		margin-right: auto;
		float: none;
	}

	.article-header-meta {
		display: block;
		clear: both;
		margin-top: 20px;
	}

	.about-author .about-author-header {
		display: none;
	}

	.about-author .about-author-content {
		margin-left: 0px;
	}

	.related-articles .item {
		max-width: 100%;
	}

	.related-articles .item .hover-image,
	.related-articles .item img {
		width: 100%;
	}

	#comments li li .comment-block {
		padding-left: 0px;
	}

	#comments .comment-text .time-stamp {
		display: block;
		float: none;
		margin-bottom: 5px;
	}

	#comments .comment-text .user-nick {
		font-size: 17px;
	}

	#writecomment {
		width: 100%;
	}

	#writecomment p label {
		display: none;
	}

	.archive-grid,
	.photo-gallery-grid {
		display: block;
		flex: none;
	}

	.archive-grid > div,
	.photo-gallery-grid > .item {
		display: block;
		flex: none;
		max-width: 100%;
		width: 100%;
		margin-left: 0px;
	}

	.photo-gallery-grid .item .item-header .hover-image,
	.photo-gallery-grid .item .item-header img {
		width: 100%;
	}

	.paragraph-row {
		display: block;
		float: none;
	}

	.paragraph-row > div {
		width: 100%!important;
		clear: both;
		display: block;
		margin-left: 0px;
	}

	.short-tabs > ul li a {
		font-size: 0;
	}

	.short-tabs > ul li {
		counter-increment: section;
	}

	.short-tabs > ul li a:before {
		font-size: 14px;
		content: counter(section);
	}

	.footer > .wrapper ul.right {
		display: none!important;
	}

	.footer > .wrapper ul.right li {
		display: inline-block!important;
	}

}
