@charset "utf-8";
/* CSS Document 
@import url("http://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.5.4/bootstrap-select.min.css");*/

@font-face {
font-family: 'Roboto-Regular';
src: url('../fonts/Roboto-Regular-webfont.eot');
src: url('../fonts/Roboto-Regular-webfont?#iefix') format('embedded-opentype'),
/*        url('../fonts/graphik-regular.woff2') format('woff2'),*/
url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'),
url('../fonts/Roboto-Regular-webfont.svg#pt_serifbold') format('svg');
font-weight: normal; font-style: normal;}

@font-face {
font-family: 'Roboto-Condensed';
src: url('../fonts/Roboto-Condensed-webfont.eot');
src: url('../fonts/Roboto-Condensed-webfont?#iefix') format('embedded-opentype'),
/*        url('../fonts/graphik-regular.woff2') format('woff2'),*/
url('../fonts/Roboto-Condensed-webfont.woff') format('woff'),
url('../fonts/Roboto-Condensed-webfont.ttf') format('truetype'),
url('../fonts/Roboto-Condensed-webfont.svg#pt_serifbold') format('svg');
font-weight: normal; font-style: normal;}



@font-face {
font-family: 'Roboto-Bold';
src: url('../fonts/Roboto-Bold-webfont.eot');
src: url('../fonts/Roboto-Bold-webfont?#iefix') format('embedded-opentype'),
/*        url('../fonts/graphik-regular.woff2') format('woff2'),*/
url('../fonts/Roboto-Bold-webfont.woff') format('woff'),
url('../fonts/Roboto-Bold-webfont.ttf') format('truetype'),
url('../fonts/Roboto-Bold-webfont.svg#pt_serifbold') format('svg');
font-weight: normal; font-style: normal;}


@font-face {
font-family: 'Helvetica Neue';
src: url('../fonts/HelveticaNeue.eot');
src: url('../fonts/HelveticaNeue?#iefix') format('embedded-opentype'),
/*        url('../fonts/graphik-regular.woff2') format('woff2'),*/
url('../fonts/HelveticaNeue.woff') format('woff'),
url('../fonts/HelveticaNeue.ttf') format('truetype'),
url('../fonts/HelveticaNeue.svg#pt_serifbold') format('svg');
font-weight: normal; font-style: normal;}





body{ font-family: 'Roboto-Regular'; background:#f3f3f4; font-size:12px;}
.topbar{background:#f8f8f8; border-bottom:1px solid #ebebeb; padding:5px 0;}
.topside-menu{ padding-top:5px;}
.topside-menu { margin:0px;}
.topside-menu  li{ margin:0px; display:inline-block; padding-left:10px;}
.topside-menu  li a{ color:#6c6767; text-decoration:none;}
.topside-menu  li a:focus, .topside-menu  li a:hover {
color: #cd3232;}
.logo{ padding-top:2px;padding-bottom:4px;}
a,a:hover,.btn,.btn:hover{ transition:all 0.5s ease;}
.topside-menu .dropdown-menu{}
.topside-menu .dropdown-menu li{ display:block;}

header{ background:#fff;}
header.affix{ width:100%; z-index:99; top:0px; }
/*flag*/
.borderRadius{-moz-border-radius:5px; border-radius:5px; }
.borderRadiusTp{-moz-border-radius:5px 5px 0 0; border-radius:5px 5px 0 0;}
.borderRadiusBtm{-moz-border-radius:0 0 5px 5px ; border-radius:0 0 5px 5px;}

.ddcommon {position:relative;display:-moz-inline-stack; zoom:1; display:inline-block; *display:inline; cursor:default;}
.ddcommon ul{padding:0;margin:0;}
.ddcommon ul li{list-style-type:none;}
.borderRadiusTp ul li:last-child{-moz-border-radius:0 0 5px 5px ; border-radius:0 0 5px 5px;border-bottom:0 none #c3c3c3; }
.borderRadiusBtm ul li:first-child{-moz-border-radius:5px 5px 0 0; border-radius:5px 5px 0 0 ;border-bottom:1 solid #c3c3c3; }

.ddcommon .disabled img, .ddcommon .disabled span, .ddcommon.disabledAll{
opacity: .5; /* standard: ff gt 1.5, opera, safari */
-ms-filter:"alpha(opacity=50)"; /* ie 8 */
filter:alpha(opacity=50); /* ie lt 7 */
-khtml-opacity:.5; /* safari 1.x */
-moz-opacity:.5; /* ff lt 1.5, netscape */
color:#999999;
}
.ddcommon .clear{clear:both}
.ddcommon .shadow{-moz-box-shadow:5px 5px 5px -5px #888888;-webkit-box-shadow:5px 5px 5px -5px #888888;box-shadow: 5px 5px 5px -5px #888888;}
.ddcommon .text{color:#7e7e7e;padding:0; position:absolute; background:#fff; display:block; width:98%; height:98%; left:2px; top:0; border:none;}
.ddOutOfVision{position:relative; display:-moz-inline-stack; display:inline-block; zoom:1; *display:inline;}
.borderRadius .shadow{-moz-box-shadow:5px 5px 5px -5px #888888;-webkit-box-shadow:5px 5px 5px -5px #888888;box-shadow: 5px 5px 5px -5px #888888;}
.borderRadiusBtm .shadow{-moz-box-shadow:-5px -5px 5px -5px #888888;-webkit-box-shadow:-5px -5px 5px -5px #888888;box-shadow: -5px -5px 5px -5px #888888}
.borderRadiusTp .border, .borderRadius .border{-moz-border-radius:0 0 5px 5px ; border-radius:0 0 5px 5px;}
.borderRadiusBtm .border{-moz-border-radius:5px 5px 0 0; border-radius:5px 5px 0 0;}
img.fnone{float:none !important}
.ddcommon .divider{width:0; height:100%; position:absolute;}
.ddcommon .arrow{display:inline-block; position:absolute; top:50%; right:4px;}
.ddcommon .arrow:hover{background-position:0 100%;}
.ddcommon .ddTitle{padding:0; position:relative; display:inline-block; width:100%}
.ddcommon .ddTitle .ddTitleText{display:block;}
.ddcommon .ddTitle .ddTitleText .ddTitleText{padding:0;}
.ddcommon .ddTitle .description{display:block;}
.ddcommon .ddTitle .ddTitleText img{position:relative; vertical-align:middle; float:left}
.ddcommon .ddChild{position:absolute;display:none;width:100%;overflow-y:auto; overflow-x:hidden; zoom:1;}
.ddcommon .ddChild li{clear:both;}
.ddcommon .ddChild li .description{display:block;}
.ddcommon .ddChild li img{border:0 none; position:relative;vertical-align:middle;float:left}
.ddcommon .ddChild li.optgroup{padding:0;}
.ddcommon .ddChild li.optgroup .optgroupTitle{padding:0 5px; font-weight:bold; font-style:italic}
.ddcommon .ddChild li.optgroup ul li{padding:5px 5px 5px 15px}
.ddcommon .noBorderTop{border-top:none 0  !important; padding:0; margin:0;}

/*************** default theme **********************/
.dd{}
.dd .divider{ right:24px;}
.dd .arrow{width:16px;height:16px; margin-top:-8px; background:url(../images/msdropdown/skin1/arrow.png) no-repeat center right;}
.dd .arrow:hover{background-position:0 100%;}
.dd .ddTitle{color:#000;background: url(../../images/msdropdown/skin1/title-bg.gif) repeat-x left top;}
.dd .ddTitle .ddTitleText{padding:5px 20px 5px 5px;}
.dd .ddTitle .ddTitleText .ddTitleText{padding:0;}
.dd .ddTitle .description{font-size:12px; color:#666}
.dd .ddTitle .ddTitleText img{padding-right:5px;}
.dd .ddChild{border:1px solid #c3c3c3; background-color:#fff; left:-1px;}
.dd .ddChild li{padding:5px; background-color:#fff; border-bottom:1px solid #c3c3c3;}
.dd .ddChild li .description{color:#666;}
.dd .ddChild li .ddlabel{color:#333;}
.dd .ddChild li.hover{background-color:#f2f2f2}
.dd .ddChild li img{padding:0 6px 0 0;}
.dd .ddChild li.optgroup{padding:0;}
.dd .ddChild li.optgroup .optgroupTitle{padding:0 5px; font-weight:bold; font-style:italic}
.dd .ddChild li.optgroup ul li{padding:5px 5px 5px 15px}
.dd .ddChild li.selected{background-color:#d5d5d5; color:#000;}

/*-------------------------------*/
.flag{float:left;padding:0 !important;margin:0 5px 0 0;width:16px;height:11px;background:url(../images/msdropdown/icons/flagssprite_small.png) no-repeat;}.flag.ad{background-position:0 0}.flag.ae{background-position:0 -11px}.flag.af{background-position:0 -22px}.flag.ag{background-position:0 -33px}.flag.ai{background-position:0 -44px}.flag.al{background-position:0 -55px}.flag.am{background-position:0 -66px}.flag.an{background-position:0 -77px}.flag.ao{background-position:0 -88px}.flag.ar{background-position:0 -99px}.flag.as{background-position:0 -110px}.flag.at{background-position:0 -121px}.flag.au{background-position:0 -132px}.flag.aw{background-position:0 -143px}.flag.ax{background-position:0 -154px}.flag.az{background-position:0 -165px}.flag.ba{background-position:0 -176px}.flag.bb{background-position:0 -187px}.flag.bd{background-position:0 -198px}.flag.be{background-position:0 -209px}.flag.bf{background-position:0 -220px}.flag.bg{background-position:0 -231px}.flag.bh{background-position:0 -242px}.flag.bi{background-position:0 -253px}.flag.bj{background-position:0 -264px}.flag.bm{background-position:0 -275px}.flag.bn{background-position:0 -286px}.flag.bo{background-position:0 -297px}.flag.br{background-position:0 -308px}.flag.bs{background-position:0 -319px}.flag.bt{background-position:0 -330px}.flag.bv{background-position:0 -341px}.flag.bw{background-position:0 -352px}.flag.by{background-position:0 -363px}.flag.bz{background-position:0 -374px}.flag.ca{background-position:0 -385px}.flag.catalonia{background-position:0 -396px}.flag.cc{background-position:0 -407px}.flag.cd{background-position:0 -418px}.flag.cf{background-position:0 -429px}.flag.cg{background-position:0 -440px}.flag.ch{background-position:0 -451px}.flag.ci{background-position:0 -462px}.flag.ck{background-position:0 -473px}.flag.cl{background-position:0 -484px}.flag.cm{background-position:0 -495px}.flag.cn{background-position:0 -506px}.flag.co{background-position:0 -517px}.flag.cu{background-position:0 -528px}.flag.cr{background-position:0 -539px}.flag.cs{background-position:0 -550px}.flag.cv{background-position:0 -561px}.flag.cx{background-position:0 -572px}.flag.cy{background-position:-16px 0}.flag.cz{background-position:-16px -11px}.flag.de{background-position:-16px -22px}.flag.dj{background-position:-16px -33px}.flag.dk{background-position:-16px -44px}.flag.dm{background-position:-16px -55px}.flag.do{background-position:-16px -66px}.flag.dz{background-position:-16px -77px}.flag.ec{background-position:-16px -88px}.flag.ee{background-position:-16px -99px}.flag.eg{background-position:-16px -110px}.flag.eh{background-position:-16px -121px}.flag.england{background-position:-16px -132px}.flag.er{background-position:-16px -143px}.flag.es{background-position:-16px -154px}.flag.et{background-position:-16px -165px}.flag.eu{background-position:-16px -176px}.flag.fam{background-position:-16px -187px}.flag.fi{background-position:-16px -198px}.flag.fj{background-position:-16px -209px}.flag.fk{background-position:-16px -220px}.flag.fm{background-position:-16px -231px}.flag.fo{background-position:-16px -242px}.flag.fr{background-position:-16px -253px}.flag.ga{background-position:-16px -264px}.flag.gb{background-position:-16px -275px}.flag.gd{background-position:-16px -286px}.flag.ge{background-position:-16px -297px}.flag.gf{background-position:-16px -308px}.flag.gh{background-position:-16px -319px}.flag.gi{background-position:-16px -330px}.flag.gl{background-position:-16px -341px}.flag.gm{background-position:-16px -352px}.flag.gn{background-position:-16px -363px}.flag.gp{background-position:-16px -374px}.flag.gq{background-position:-16px -385px}.flag.gr{background-position:-16px -396px}.flag.gs{background-position:-16px -407px}.flag.gt{background-position:-16px -418px}.flag.gu{background-position:-16px -429px}.flag.gw{background-position:-16px -440px}.flag.gy{background-position:-16px -451px}.flag.hk{background-position:-16px -462px}.flag.hm{background-position:-16px -473px}.flag.hn{background-position:-16px -484px}.flag.hr{background-position:-16px -495px}.flag.ht{background-position:-16px -506px}.flag.hu{background-position:-16px -517px}.flag.id{background-position:-16px -528px}.flag.ie{background-position:-16px -539px}.flag.il{background-position:-16px -550px}.flag.in{background-position:-16px -561px}.flag.io{background-position:-16px -572px}.flag.iq{background-position:-32px 0}.flag.ir{background-position:-32px -11px}.flag.is{background-position:-32px -22px}.flag.it{background-position:-32px -33px}.flag.jm{background-position:-32px -44px}.flag.jo{background-position:-32px -55px}.flag.jp{background-position:-32px -66px}.flag.ke{background-position:-32px -77px}.flag.kg{background-position:-32px -88px}.flag.kh{background-position:-32px -99px}.flag.ki{background-position:-32px -110px}.flag.km{background-position:-32px -121px}.flag.kn{background-position:-32px -132px}.flag.kp{background-position:-32px -143px}.flag.kr{background-position:-32px -154px}.flag.kw{background-position:-32px -165px}.flag.ky{background-position:-32px -176px}.flag.kz{background-position:-32px -187px}.flag.la{background-position:-32px -198px}.flag.lb{background-position:-32px -209px}.flag.lc{background-position:-32px -220px}.flag.li{background-position:-32px -231px}.flag.lr{background-position:-32px -242px}.flag.lk{background-position:-32px -253px}.flag.ls{background-position:-32px -264px}.flag.lt{background-position:-32px -275px}.flag.lu{background-position:-32px -286px}.flag.lv{background-position:-32px -297px}.flag.ly{background-position:-32px -308px}.flag.ma{background-position:-32px -319px}.flag.mc{background-position:-32px -330px}.flag.md{background-position:-32px -341px}.flag.me{background-position:-32px -352px}.flag.mg{background-position:-32px -363px}.flag.mh{background-position:-32px -374px}.flag.mk{background-position:-32px -385px}.flag.ml{background-position:-32px -396px}.flag.mm{background-position:-32px -407px}.flag.mn{background-position:-32px -418px}.flag.mo{background-position:-32px -429px}.flag.mp{background-position:-32px -440px}.flag.mq{background-position:-32px -451px}.flag.mr{background-position:-32px -462px}.flag.ms{background-position:-32px -473px}.flag.mt{background-position:-32px -484px}.flag.mu{background-position:-32px -495px}.flag.mv{background-position:-32px -506px}.flag.mw{background-position:-32px -517px}.flag.mx{background-position:-32px -528px}.flag.my{background-position:-32px -539px}.flag.mz{background-position:-32px -550px}.flag.na{background-position:-32px -561px}.flag.nc{background-position:-32px -572px}.flag.ne{background-position:-48px 0}.flag.nf{background-position:-48px -11px}.flag.ng{background-position:-48px -22px}.flag.ni{background-position:-48px -33px}.flag.nl{background-position:-48px -44px}.flag.no{background-position:-48px -55px}.flag.np{background-position:-48px -66px}.flag.nr{background-position:-48px -77px}.flag.nu{background-position:-48px -88px}.flag.nz{background-position:-48px -99px}.flag.om{background-position:-48px -110px}.flag.pa{background-position:-48px -121px}.flag.pe{background-position:-48px -132px}.flag.pf{background-position:-48px -143px}.flag.pg{background-position:-48px -154px}.flag.ph{background-position:-48px -165px}.flag.pk{background-position:-48px -176px}.flag.pl{background-position:-48px -187px}.flag.pm{background-position:-48px -198px}.flag.pn{background-position:-48px -209px}.flag.pr{background-position:-48px -220px}.flag.ps{background-position:-48px -231px}.flag.pt{background-position:-48px -242px}.flag.pw{background-position:-48px -253px}.flag.py{background-position:-48px -264px}.flag.qa{background-position:-48px -275px}.flag.re{background-position:-48px -286px}.flag.ro{background-position:-48px -297px}.flag.rs{background-position:-48px -308px}.flag.ru{background-position:-48px -319px}.flag.rw{background-position:-48px -330px}.flag.sa{background-position:-48px -341px}.flag.sb{background-position:-48px -352px}.flag.sc{background-position:-48px -363px}.flag.scotland{background-position:-48px -374px}.flag.sd{background-position:-48px -385px}.flag.se{background-position:-48px -396px}.flag.sg{background-position:-48px -407px}.flag.sh{background-position:-48px -418px}.flag.si{background-position:-48px -429px}.flag.sj{background-position:-48px -440px}.flag.sk{background-position:-48px -451px}.flag.sl{background-position:-48px -462px}.flag.sm{background-position:-48px -473px}.flag.sn{background-position:-48px -484px}.flag.so{background-position:-48px -495px}.flag.sr{background-position:-48px -506px}.flag.st{background-position:-48px -517px}.flag.sv{background-position:-48px -528px}.flag.sy{background-position:-48px -539px}.flag.sz{background-position:-48px -550px}.flag.tc{background-position:-48px -561px}.flag.td{background-position:-48px -572px}.flag.tf{background-position:-64px 0}.flag.tg{background-position:-64px -11px}.flag.th{background-position:-64px -22px}.flag.tj{background-position:-64px -33px}.flag.tk{background-position:-64px -44px}.flag.tl{background-position:-64px -55px}.flag.tm{background-position:-64px -66px}.flag.tn{background-position:-64px -77px}.flag.to{background-position:-64px -88px}.flag.tr{background-position:-64px -99px}.flag.tt{background-position:-64px -110px}.flag.tv{background-position:-64px -121px}.flag.tw{background-position:-64px -132px}.flag.tz{background-position:-64px -143px}.flag.ua{background-position:-64px -154px}.flag.ug{background-position:-64px -165px}.flag.um{background-position:-64px -176px}.flag.us{background-position:-64px -187px}.flag.uy{background-position:-64px -198px}.flag.uz{background-position:-64px -209px}.flag.va{background-position:-64px -220px}.flag.vc{background-position:-64px -231px}.flag.ve{background-position:-64px -242px}.flag.vg{background-position:-64px -253px}.flag.vi{background-position:-64px -264px}.flag.vn{background-position:-64px -275px}.flag.vu{background-position:-64px -286px}.flag.wales{background-position:-64px -297px}.flag.wf{background-position:-64px -308px}.flag.ws{background-position:-64px -319px}.flag.ye{background-position:-64px -330px}.flag.yt{background-position:-64px -341px}.flag.za{background-position:-64px -352px}.flag.zm{background-position:-64px -363px}.flag.zw{background-position:-64px -374px}
/*flag*/

/*dropdown*/
.dropdown-menu-child {background-clip: padding-box;background-color: #fff;border: 1px solid rgba(0, 0, 0, 0.15);border-radius: 4px;box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);display: none;float: left;font-size: 13px;left: 0;
list-style: outside none none;margin: 2px 0 0;min-width: 160px;padding: 20px;position: absolute;top: 100%;z-index: 1000;}
.dropdown-menu-child > li{}

.dropdown-submenu {position: static;}
.dropdown-submenu>.dropdown-menu-child {top: 0;left: 100%;margin-top: -6px;margin-left: -1px;-webkit-border-radius: 0 6px 6px 6px;-moz-border-radius: 0 6px 6px;border-radius: 0 6px 6px 6px; display:none}
.dropdown-submenu:hover>.dropdown-menu-child{display: block;}
/*.dropdown-submenu>a:after {display: block;content: " ";float: right; width: 0; height: 0;border-color: transparent;border-style: solid;border-width: 5px 0 5px 5px;border-left-color: #ccc;margin-top: 5px;margin-right: -10px;}
*/.dropdown-submenu:hover>a:after {border-left-color: #fff;}
.dropdown-submenu.pull-left {float: none;}
.dropdown-submenu.pull-left>.dropdown-menu-child {left: -100%;margin-left: 10px;-webkit-border-radius: 6px 0 6px 6px;-moz-border-radius: 6px 0 6px 6px;border-radius: 6px 0 6px 6px;}
.dropdown-menu-child h5{ color:#cd3232; font-weight:bold; border-bottom:1px solid #CCC; padding-bottom:10px; text-transform:uppercase;}
.dropdown-menu-child ul{ margin:0px; padding:0px;}
.dropdown-menu-child ul li{ margin:0px; padding:5px 0; font-size:14.5px; color:#333; list-style:none; font-weight:bold; display:block; float:left; width:100%;}
.dropdown-menu-child ul li a{ color:#6c6767; text-decoration:none;font-weight:normal;}
.dropdown-menu-child ul li a:hover{ color:#337ab7;}
/*dropdown*/


*{ outline:none !important;}
a:focus, a:hover {
color: #cd3232; text-decoration:none !important;

}

a{ transition:all ease-in-out 0.2s;}
.btn-search{ background:#cd3232; color:#fff; border:0px; border-radius:0px;}
.btn-search a{ color:#fff; padding:6px 10px; font-size:18px;}
.search-block{ margin-left: -15px;
padding-left: 0; padding-right:0px;
padding-top: 32px; }
.search-block .form-control{ border-radius:0px; height:40px;}
.downloadapp{ display:inline-block; color:#6d7074; line-height:1; padding-top:25px;}
.downloadapp i{ display:inline-block; width:26px; height:34px; background:url(../images/sprit.png) no-repeat -4px 9px;}
.downloadapp em{ display:block; vertical-align:top; padding-top:5px; text-align:center; font-style:normal;} 
.navbar {min-height:42px;}
.navbar-inverse {background-color: #535353;border-color: #535353; border-radius:0px;}
.main-menu{ background:#cd3232 !important ; color:#fff; z-index:9;}
.main-menu.input-group-btn > .btn,.main-menu.input-group-btn > .btn:focus,.main-menu.input-group-btn.open > .btn:focus ,.main-menu.input-group-btn.open > .btn:hover   {display: block;position: relative;text-align: left;width: 100%; color:#fff; background:none; padding:11px 12px;}
.main-menu.open > .dropdown-menu {display: block;width: 100%;}
.main-menu button,.main-menu:hover button,.main-menu:focus button,.main-menu.open button{ background:none; border:0px;}
.bias-input-group .input-group-addon + .input-group-btn > .btn {border-radius: 0;}
.bias-input-group .input-group-addon + .input-group-btn + .input-group-addon {border-right: 0; border-left: 0;}
.main-menu .fa-bars{ padding-right:10px;}
.dropdown-menu.categorymenu{ border-radius:0px;} 
.categorymenu > li{ float:left; width:100%; border-bottom:1px solid #f0f0f0;}
.categorymenu > li a i{ padding-top:5px;}
.categorymenu > li span{ display:inline-block; width:25px; height:25px; margin-right:10px; background:url(../images/sprit.png) no-repeat 0 0;}
.categorymenu > li.cloth span{ background-position:-32px 0}
.categorymenu > li.foot span{ background-position:-57px 0}
.categorymenu > li.watches span{ background-position:-82px 0}
.categorymenu > li.sunglasses span{ background-position:-107px 0}
.categorymenu > li.toys span{ background-position:-132px 0}
.categorymenu > li.accessories span{ background-position:-160px 0}
.categorymenu > li.sports  span{ background-position:-182px 0}
.main-menu .dropdown-menu {min-width: 100%;}
.categorymenu > li strong{ float:left; font-weight:normal;}
.categorymenu > li a{ float:left; width:100%;}
.dropdown-menu.categorymenu  > li > a { padding: 12px 20px; font-size:14.5px;}
.input-group{ z-index:0;} 
.overlay{ background-color:rgba(0,0,0,0.5); position:fixed; left:0px; top:0px; width:100%; height:100%; z-index:2; display:none;}
.bestoffer{ position:relative;}
.bestoffer span{ background:url(../images/sprit.png) no-repeat 0 -37px; height:4px; width:100%; position:absolute; display:block; left:0px; bottom:0px;}
.menu-secondary{}
.menu-secondary > ul{ margin:0px; padding:0px; float:left;}
.menu-secondary > ul > li{ display:inline-block;}
.menu-secondary > ul > li > a{ display:inline-block; color:#fff; text-transform:uppercase; font-size:13px;border-top:5px solid transparent; margin:3px 10px; padding:5px 0}
.menu-secondary > ul li a i{ color:#cfc854;}
.menu-secondary ul li.bestoffer a{ display:inline-block; color:#ffec80; text-transform:uppercase; font-size:13px; border-top:5px solid #FFF;}
.menu-secondary span.compare-lower{color: #fff;display: inline-block;font-size: 13px;padding-right:0;padding-top:3px;}
.menu-secondary span.compare-lower i{ width:55px; height:39px;background:url(../images/sprit.png) no-repeat -215px -1px; display:inline-block; vertical-align:middle; margin-left:10px; }
.navbar {margin-bottom: 10px;}
.carousel-caption {left: 50px;right: inherit;text-align: left;top: 15px; z-index:0;}
.carousel-caption h3 strong{ font-size:30px; color:#cd3232;font-weight:normal; display:block;} 
.carousel-caption h3 { font-size:30px; color:#4d4d4d; font-weight:bold; text-shadow:none;} 
.carousel-caption p{color:#fff;text-shadow:none; font-size:13px;}

.carousel-indicators {
bottom: 20px; z-index:1;
}
.no-left-padd{ padding-left:0px;}
.addbanner{ margin-bottom:15px;}
.addbanner picture img{ margin-bottom:15px;}
.addbanner picture:last-child img{ margin-bottom:0px;}
.panel-default {border-color: transparent; border-radius:0px; border:1px solid #dddada;  /*box-shadow:0px 0px 4px rgba(0, 0, 0, 0.2); -moz-box-shadow:0px 0px 4px rgba(0, 0, 0, 0.2);-ms-box-shadow:0px 0px 4px rgba(0, 0, 0, 0.2);-webkit-box-shadow:0px 0px 4px rgba(0, 0, 0, 0.2);-moz-box-shadow:0px 0px 4px rgba(0, 0, 0, 0.2));-o-box-shadow:0px 0px 4px rgba(0, 0, 0, 0.2);*/}
.deal.panel-default > .panel-heading  {background-color:#fff; font-size:18px; border-color: #fff;color: #000;  padding:20px 15px; padding-bottom:0px; }

.panel-default > .panel-footer{ border:0px; /*background:#f3f5f5; */background:#f8f8f8; text-align:center; padding-top:6px;}
.panel-default > .panel-footer h3 { float:left;  font-size:20px; letter-spacing:1.8px; border-color: #fff;color: #000; padding:0; margin:10px 0 20px;font-family: 'Roboto-Condensed';}
.text-right{ text-align:right !important;}

.smldealbox{ min-height:160px;} 
.dealbox{ border:1px solid #f2f2f2; padding:15px;}

.dealbox:hover,.product-colume:hover{border: 1px solid #dedede;}

.dealbox p.discription{ font-size:13px; color:#4d4d53; padding-top:10px;}
.dealbox p.discription span{ display:block;}
.dealbox p.price{ font-size:14px; color:#000000;}
.dealbox p.price span{color:#b5b4b4; text-decoration:line-through}
.dealbox p.price strong{color:#cd3232;}
.dealbox p.price strong i{ font-size:12px; color:#4d4d53; font-weight:normal;}
.dealbox p.price strong span{color:#b5b4b4; text-decoration:none; font-size:12px; display:block; font-weight:normal; }

.dealbox figure img{ height:150px;}
.mobile.dealbox figure img{ height:135px; display:inline-block;}
.mobile.dealbox{  padding:15px 10px; min-height:270px;}



.marb15{ margin-bottom:15px;}
.centerimg{ display:inline-block !important}
.dealrow{ padding:15px 22.5px;} 
.dealrow [class*="col-"],.couponrow [class*="col-"]{ padding:0 7.5px;}
.dropdown-menu {font-size: 13px;}
/*shopingtab*/
.panel-footer .nav-tabs > li {margin: 0 10px;}



.dealofthe-day .panel-footer .nav-tabs > li.active{ margin-bottom:-3px; border-bottom:3px solid #cd3232; background:#fff;}
.dealofthe-day .panel-footer .nav-tabs > li{border-bottom:3px solid #cdcdcd; background:#efefef;}

.panel-footer .nav-tabs > li a{ color:#222;}
.deal .nav-tabs > li.active > a, .deal .nav-tabs > li.active > a:focus,.deal  .nav-tabs > li.active > a:hover {background-color:transparent;border-color:none;border-image: none;border-style: solid;border-width: 0px;
color: #000;cursor: default;}
.deal  .nav-tabs { text-align:center; border:0px; display:inline-block; padding-top:5px; position:relative;}
.deal  .nav-tabs span{ position:absolute; left:-127px; top:20px; font-size:12px; color:#4d4d53;}
.dealofthe-day .panel-footer{ padding-bottom:0px;}
.dealofthe-day .panel-footer h3{}
.dealofthe-day .panel-footer .nav-tabs > li{ margin:0 2px;}
.dealofthe-day .panel-body,.coupon-cashbook .panel-body{ padding-bottom:0px;}

.nav-tabs > li{ float:none; display:inline-block;}
.deal .nav-tabs > li img{ width:100%; height:100%; cursor:pointer;}
.deal .nav.nav-tabs li a{ background:none; border:0px; font-size:14px; text-transform:capitalize;}
.flipcart{ background:url(../images/sprit.png) no-repeat 0 -91px ; width:120px; height:46px; overflow:hidden; }
.flipcart.active { background-position:0 -48px;}
.snapdeal{ background:url(../images/sprit.png) no-repeat -125px -91px ; width:130px; height:46px; overflow:hidden; }
.snapdeal.active { background-position: -125px -48px;}
.amazon{ background:url(../images/sprit.png) no-repeat -266px -91px ; width:114px; height:46px; overflow:hidden; }
.amazon.active { background-position: -266px -48px;}
.paytm{ background:url(../images/sprit.png) no-repeat -389px -91px ; width:96px; height:46px; overflow:hidden; }
.paytm.active { background-position: -389px -48px;}
.mantra{ background:url(../images/sprit.png) no-repeat -492px -91px ; width:165px; height:46px; overflow:hidden; }
.mantra.active { background-position:-492px -48px;}
.ebay{ background:url(../images/sprit.png) no-repeat -673px -91px ; width:96px; height:46px; overflow:hidden; }
.ebay.active { background-position:-673px -48px;}

.samsung{ background:url(../images/sprit.png) no-repeat -14px -200px ; width:100px; height:44px; overflow:hidden; }
.samsung.active { background-position:-14px -156px;}
.micromax{ background:url(../images/sprit.png) no-repeat -115px -200px ; width:122px; height:44px; overflow:hidden; }
.micromax.active { background-position:-115px -156px;}
.sony{ background:url(../images/sprit.png) no-repeat -237px -200px ; width:103px; height:44px; overflow:hidden; }
.sony.active { background-position:-237px -156px;}
.htc{ background:url(../images/sprit.png) no-repeat -340px -200px ; width:88px; height:44px; overflow:hidden; }
.htc.active { background-position:-340px -156px;}
.lenovo{ background:url(../images/sprit.png) no-repeat -427px -200px ; width:132px; height:44px; overflow:hidden; }
.lenovo.active { background-position:-427px -156px;}
.nokia{ background:url(../images/sprit.png) no-repeat -559px -200px ; width:107px; height:44px; overflow:hidden; }
.nokia.active { background-position:-559px -156px;}
.intex{ background:url(../images/sprit.png) no-repeat -666px -200px ; width:95px; height:44px; overflow:hidden; }
.intex.active { background-position:-666px -156px;}

.addidas{ background:url(../images/sprit.png) no-repeat -14px -287px ; width:59px; height:44px; overflow:hidden; }
.addidas.active { background-position:-14px -244px;}

.puma{ background:url(../images/sprit.png) no-repeat -81px -287px ; width:80px; height:44px; overflow:hidden; }
.puma.active { background-position:-81px -244px;}

.reebok{ background:url(../images/sprit.png) no-repeat -168px -287px ; width:74px; height:44px; overflow:hidden; }
.reebok.active { background-position:-168px -244px;}

.locoste{ background:url(../images/sprit.png) no-repeat -242px -287px ; width:61px; height:44px; overflow:hidden; }
.locoste.active { background-position:-242px -244px;}

.fila{ background:url(../images/sprit.png) no-repeat -303px -287px ; width:109px; height:44px; overflow:hidden; }
.fila.active { background-position:-303px -244px;}

.nike{ background:url(../images/sprit.png) no-repeat -422px -287px ; width:97px; height:44px; overflow:hidden; }
.nike.active { background-position:-422px -244px;}

/*shopingtab*/



.coupon-cashbook h3{color: #000; font-size:20px;font-family: 'Roboto-Condensed'; letter-spacing:1.8px; }
.coupon-cashbook .panel-heading{ padding-top:0; padding-bottom:0px; text-align:left; background:#f8f8f8;}
.coupon-cashbook .panel-heading .nav{ border-bottom:0px; padding-left:142px;}
.coupon-cashbook .panel-body{ border-bottom:0px; }
.coupon-cashbook .tab-content .tab-content{background:#fff;}

.coupon-cashbook  .nav-tabs { text-align:left;float:left; }
.coupon-cashbook  .nav-tabs li{ text-align:center;  padding:0 10px;}
.coupon-cashbook  .nav-tabs li a { color:#474747; font-size:13px; padding:7px 30px; }
.coupon-cashbook  .nav-tabs li a i { display:block;}
.coupon-cashbook  .nav-tabs > li.active > a, .coupon-cashbook  .nav-tabs > li.active > a:focus, .coupon-cashbook  .nav-tabs > li.active > a:hover {
-moz-border-bottom-colors: none; border-radius:0px;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
background-color: #fff;
border-color: #ddd #ddd transparent;
border-image: none;
border-style: solid;
border-width: 1px;
color: #000;
cursor: default;
}
.b-shadow{box-shadow:0px 0px 4px rgba(0, 0, 0, 0.2); -moz-box-shadow:0px 0px 4px rgba(0, 0, 0, 0.2);-ms-box-shadow:0px 0px 4px rgba(0, 0, 0, 0.2);-webkit-box-shadow:0px 0px 4px rgba(0, 0, 0, 0.2);-moz-box-shadow:0px 0px 4px rgba(0, 0, 0, 0.2);-o-box-shadow:0px 0px 4px rgba(0, 0, 0, 0.2)}
.coupon-block{ padding:20px 15px; background:#fff; margin:0 0; min-height:267px;}
.btn-info{ font-size:12px; padding:10px 25px; border:0px; color:#181819; border-radius:40px;-o-border-radius:40px;-ms-border-radius:40px;-webkit-border-radius:40px;-moz-border-radius:40px;  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#faf7ce+0,fee8c4+100 */
background: #faf7ce; /* Old browsers */
background: -moz-linear-gradient(45deg,  #faf7ce 0%, #fee8c4 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  #faf7ce 0%,#fee8c4 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  #faf7ce 0%,#fee8c4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faf7ce', endColorstr='#fee8c4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.btn-info:hover{ background:#fe4c4c; color:#000;}
.coupon-block:hover .btn{ background:#fe4c4c; color:#fff;}
.coupon-block figure { display:inline-block; margin-bottom:10px;}
.coupon-block figure img {display:inline-block; height:30px;}
.couponrow .btn-default{ font-size:12px; padding:10px 45px; z-index:0; position:relative;  color:#181819; text-transform:uppercase; border-radius:40px;-o-border-radius:40px;-ms-border-radius:40px;-webkit-border-radius:40px;-moz-border-radius:40px; box-shadow:2px 1px 3px inset #999;}
.margt-55{ margin-top:-35px;}
.coupon-cashbook .tab-content{ padding:0 7.5px; }
.bdr-dashed{  border:2px dashed #d8e0e2;}
.coupon-block p strong{color:#cd3232; font-size:18px; display:inline-block; padding:10px; line-height:1;}
.coupon-block p strong span{color:#666; font-size:14px; display:block;}
.coupon-block p span{ color:#cd3232; font-size:12px; display:inline-block; padding-top:5px;} 


.listingblock{ }
.listingblock h3{color: #000;font-family: "Roboto-Bold";font-size: 18px;padding-bottom:21px;padding-top:0; margin:0px;}
.listingblock h3 i{ color:#fe4c4c;}
.listingblock ul.discription-list{ margin:40px 0 0 0; padding:0px;}


.listingblock ul.discription-list li{ margin:0px; padding:0px; display:block; list-style:none;}
.listingblock ul.discription-list li a{  color:#504444; font-size:13px; display:block; padding:18px 20px; border-top:1px dashed #bbbbbb; }
.listingblock ul.discription-list li a:hover{ color:#337ab7;} 
.listingblock .panel-body{ padding:15px 25px;}

.list-productblock{ border-left:1px solid #f1f1f1; padding:0px !important;}
.list-productblock [class*="col-"]{ padding:0px;}
.product-colume{ border:1px solid #f2f2f2; padding:10px 0; position:relative; text-align:center;}
.product-colume figure{ display:inline-block; padding-bottom:10px; height:110px; overflow:hidden; }
.product-colume figure img{ max-width:100%;}
.product-colume p.discription {color: #4d4d53;font-size: 13px; text-align:center;}
.product-colume p.discription span { display:block; padding-top:5px;}
.product-colume p.price {color: #000000;font-size: 13px; text-align:center;}
.product-colume p.price span {color: #b5b4b4;text-decoration: line-through;}
.product-colume p.price strong { color:#cd3232;
}
.product-colume p.price strong span { font-size:11px; padding-top:5px; display:block;
color: #4d4d53; font-weight:normal;text-decoration:none;}
}
.discount-badge{ width:52px; height:37px; background:url(../images/dicount_badge.png) no-repeat; padding:4px 8px 2px 17px; line-height:1; position:absolute; right:7px; top:20px;}
.discount-badge span{ width:40px; margin: auto 0px; line-height:1; font-size:14px; color:#fff;  font-weight:bold;} 
.discount-badge span strong{ float:right; font-size:13px; font-weight:normal; width:100%; text-align:right;}

.discount-badge2{ width:35px; height:35px; background:#14ac55; border-radius:100%; -ms-border-radius:100%; -o-border-radius:100%;-webkit-border-radius:100%; -moz-border-radius:100%; line-height:1; position:absolute; right:12px; top:5px;}
.discount-badge2 span{ display:inline-block; padding-top:5px; line-height:1; font-size:13px; color:#fff;  font-weight:bold;} 
.discount-badge2 span strong{ float:right; font-size:11px; font-weight:normal; padding-right:5px; text-align:right;}


.mobilepricelist{}
.mobilepricelist h3{  font-family: "Roboto-Condensed";font-size:20px;letter-spacing: 1.8px; margin:0px; padding-bottom:0px; color:#000;  text-align:center;}
.mobilepricelist h3 span{ display:inline-block; background:#fff; padding:10px 15px; border-radius:10px 10px  0 0; -ms-border-radius:10px 10px  0 0; -o-border-radius:10px 10px  0 0;-webkit-border-radius:10px 10px  0 0;-moz-border-radius:10px 10px  0 0;}
.mobilepricelist .priceblock{border-radius:10px;-o-border-radius:10px;-ms-border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px; background:#fff; padding:15px; text-align:center; margin-bottom:15px; margin-top:0px;}
.priceblock ul{ margin:0px; padding:0px; display:inline-block;}
.priceblock ul li{ list-style:none; text-align:left; padding:5px 0;}
.priceblock ul li a{ padding:0px 15px; font-size:12px; color:#868686; text-decoration:none; }
.priceblock ul li a img{ height:25px; display:inline-block; }
.priceblock ul li a p{display:inline-block;}
.priceblock ul li a:hover{ text-decoration:underline;} 

.trend-comprisioin h3{font-size:16px;color:#504444; font-family: 'Roboto-Bold'; text-transform:uppercase; margin-bottom:15px; }
.trend-comprisioin h3 span{ text-transform:capitalize; font-size:12px;}
.trend-block{ padding:13px 25px; background:#fff; margin-bottom:15px;}
.comprison-block{ padding:0; background:#fff;margin-bottom:15px;}

.trendrow{ border-bottom:1px solid #eee; padding-bottom:10px;}
.trendrow .btn-default{ font-size:12px;} 
.trendrow:hover .btn-default{ font-size:12px; background:#cd3232; color:#fff;} 
.trend-block p.discription {color: #4d4d53;font-size: 13px; text-align:left; margin-bottom:0px;}
.trend-block p.discription span { display:block; padding-top:0px;}
.trend-block p.price {color: #000000;font-size: 13px; text-align:left;}
.trend-block p.price span {color: #b5b4b4;text-decoration: line-through;}
.trend-block p.price strong { font-size:11px; padding-top:0; display:block;
color: #4d4d53; font-weight:normal;}
.comprision-colume{}
.comprision-colume > p.price {color:red;font-size: 13px; padding:0px; margin:0px;text-align:inherit;}
.comprision-colume > p.discription {color: #337ab7; padding:0px; margin:0px;font-size: 13px;text-align: inherit; }
.text-right.comprision-colume{ padding-right:15px !important;}
.text-left.comprision-colume{ padding-left:15px !important;}
.product-colume{ position:relative;}
.comp_tag{ left: 44%;position: absolute;top: 30%;z-index:1;}
.comprision-colume > figure {height: 120px;overflow: hidden; padding: 15px 0;}
.comprison-block .product-colume {padding: 15px 0;}
.newsletter{ background:#fc8c8d; padding:15px 60px 0 60px;}
.newsletter h4{ color:#353430; font-size:18px; padding-top:50px; font-weight:bold;}
.newsletter h4 span{ color:#fff; display:block; font-size:13px; font-weight:normal; text-transform:capitalize;}
.newsletter .input-group-addon{ border-radius:0px; border:0px; background:#000;}
.newsletter .input-group-addon a{ color:#fff;}
.newsletter .form-control{ border-radius:0px;}

footer h4{font-size:16px;color:#504444; font-family: 'Roboto-Bold'; text-transform:uppercase; margin-top:20px; }
.f-block {}
.f-block ul{ margin:0px; padding:0px;}
.f-block ul li{ margin:0px; padding:5px 0; display:block;}
.f-block ul li a{ display:block; font-size:12px; text-transform:uppercase; color:#7a7878;}

.keylist {}
.keylist ul{ margin:0px; padding:0px;}
.keylist ul li{ margin:0px; padding:5px 0; float:left; width:100%; list-style:none;}
.keylist ul li img{ float:left; padding-right:10px;}
.keylist ul li span em{ display:block; padding-top:10px;}
.keylist ul li strong { display:block; font-size:11px;color:#7a7878;font-weight:normal;}
.keylist ul li span { float:none; font-size:16px;color:#000; overflow:hidden; line-height:1; text-align:left;}
.footerbg { background:#535353; padding:15px 0; margin-top:15px;}
.footerbg .social ul{ display:inline-block; margin:0px;}
.footerbg .social ul li{ display:inline-block; margin:0px;}
.footerbg .social ul li a{ display:inline-block; margin:0px; width:35px; height:35px; background:#a7a7a7; line-height:35px; font-size:18px; color:#fff;}
.footerbg .social ul li a:hover{ background:#cd3232;}
.copyright{ padding-top:10px !important; padding-bottom:10px !important; color:#969696;}

.page-scroll {background: #fff none repeat scroll 0 0;bottom: 80px;color: #666;height: 50px; cursor:pointer; line-height: 50px;position: fixed;right:30px;text-align: center;width: 50px;}
.box-border{ border:1px solid #dedede;}
.no-columepadding [class*="col-"]{ padding:0px;}
.nopadt{ padding-top:0px !important;}
.multipledeal-product{}
.multipledeal-product a  h3{ color:#000;}
.multipledeal-product a  h3 strong{ color:#337ab7;} 
.multipledeal-product p{ padding:0px; margin:0px;}
.multipledeal-product h3{ margin:0px; padding-top:3px;}
.popularbrand{ font-size:14px; padding-top:10px; float:left; text-decoration:underline;}
.bggray{ background:#eeeeee;}
.login-model{ min-width:800px;}
.modal-header {border-bottom: 1px solid #e5e5e5;padding: 10px 15px;}

.login-model .modal-content{background:url(../images/bgrepeat.gif) repeat-y center top !important; padding-bottom:15px;}
.login-model .modal-header{ border:0px;}
.login-model .main{ padding:15px 0;}
.login-model .nav-tabs > li a{ font-size:13px;}
.login-model .nav-tabs > li.active > a,.login-model .nav-tabs > li.active > a:focus,.login-model .nav-tabs > li.active > a:hover {
border:0px; border-bottom:2px solid #cd3232;color: #000;cursor: default; 
}
.btn-submit{ border-radius:0px; background:#000; border:0px; padding:10px 35px;}
.btn-submit:hover{ background:#cd3232;} 
.login-model  .nav-tabs > li > a {color: #939393;}
.login-model .form-control{ border-radius:0px;}
.no-radius{ border-radius:0px !important;}
.succes-point{}
.succes-point figure{ margin-top:-30px;}
.succes-point ul{ margin:10px 0 0 0;padding:0px;}
.succes-point ul li{ margin:0px;padding:10px 0 0 0; list-style:none; display:block;}
.succes-point ul li img{ float:left; padding-right:10px;}
.succes-point ul li p{ float:none; overflow:hidden; font-size:16px; color:#ae352c;}
.succes-point ul li p strong{ display:block; font-size:11px; color:#4f4f4f; font-weight:normal;}
.login-model {min-width: 800px;margin-top: 205px;}
.dropdown-menu-child  { max-height:400px; overflow-y:scroll;}
header .img-responsive{ display:inline-block !important;}

.dropdown-menu-xs {
  background-clip: padding-box;background-color: #fff;border:0px;border-radius:0px;box-shadow:none;display: none;float: left;font-size:12px;left: 0;list-style: outside none none;margin: 2px 0 0;min-width: 100%;padding: 0px 0;
  position: absolute;text-align: left;top: 100%;z-index: 1000;}
.dropdown-menu-xs .dropdown-menu{ position:static; min-width:100%;}

ul.login{ margin:0px; padding:20px 0 0 0  ; }
ul.login > li{ display:inline-block; text-align:center; padding-left:15px;}
ul.login > li > a{ margin:0px; padding:0px; color:#6d7074;}
ul.login > li > a:hover{ text-decoration:underline !important;}

ul.login > li > a span{ color:#ccc8c8; text-transform:capitalize;}
ul.login .dropdown-menu { padding:0; border-radius:0px; width:220px; right:-17px; }
ul.login .dropdown-menu .topsection{background:#f3f5f5; padding:20px; text-align:center;} 
ul.login > .dropdown-menu > li{ display:block;}
ul.login > .dropdown-menu > li > a{ display:block; color:#666;}
ul.login   .btn-danger {background-color: #cd3232;border-color: #cd3232;color: #fff;}
ul.login   .btn-danger:hover{  background-color: #b82626;}
ul.login > .dropdown-menu > li > a.btn-danger{ color:#fff !important;}

.btn-loadmore{ text-align:center; color:#3f3f3f; border-radius:0px; margin-top:5px; padding:0px; font-size:13px;line-height: 5px;}
.btn-loadmore i{ font-weight:bold; color:#cd3232; font-size:16px; display:block;}
/*.bgnone{ background:none !important; margin-top:5px;}*/

.panel-footer { position:relative;}
.newuser{ display:inline-block; padding:15px 5px; color:#666; font-size:11px;}
.newuser strong{ font-size:12px; text-decoration:underline; color:#cd3232;} 
.carousel-caption .btn {
  text-shadow: none; border-radius:0px; padding:8px 20px;
}
#myCarousel{ margin-bottom:15px;}
#myCarousel .nav a small { display:block;}
#myCarousel .nav {background:#eee;}
#myCarousel .nav a {border-radius:0px;}
#myCarousel .nav{ background:#FFF; }
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
  background-color:#535353;
  color: #fff;
}
.colume5 [class*="col-"]{ width:20%;}
.colume6 [class*="col-"]{ width:16.66%;}

.dealofthe-day .btn-loadmore,.couponrow .btn-loadmore  {margin-top:8px;}
.nav-justified > li > a {font-size: 15px;color: #646464;}
.nav-justified > li  a small {color: #cd3232 ;}
.nav-justified > li.active  a small {color:#ffec80;}

/*-------------categories----------------------------------------------*/
.savnavigation_bg{background:#fff; margin-top:-10px; display:none;}
.savnavigation_bg .navbar-nav > li > a {color: #747373;font-size: 13px;padding: 10px 6px;}
.savnavigation_bg .navbar-nav > li > a .fa {padding-left: 6px; font-size:13.7px;}
.navbar-header .navbar-brand {color: #090303;font-size: 13px; height:auto; line-height:none; padding: 10px 17px 10px 15px}
.breadcrumb {background-color: transparent;margin: 0; padding: 0px 0 15px;}
.breadcrumb li a {color:#2e90c8;font-size: 12px;}
.page-tital{}
.page-tital h3 {color:#000; margin: 0; padding: 0 0 6px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; text-transform:capitalize;}


.page-tital p{font-size:12.66; color:#8e8986;}
.price_renge_slider  {background:#fff; padding:13px 14px 17px; border:1px solid #dfe1e8;}
.price_renge_slider label {display: inline-block; font-size:14px; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; color:#535353; font-weight:bold; margin-bottom: 5px; text-align: center; width: 100%;}
.price_renge_slider p{text-align:center; font-size:12.58px; color:#535353;}

.price_renge_slider .ui-slider .ui-slider-handle {border-radius: 0;cursor: default;height:20px;position: absolute; background:#535353;top:-5px;width:11px;z-index: 2;}
.price_renge_slider .ui-widget-content {background: #eff0f0 none repeat scroll 0 0;border: 0 solid #aaaaaa;border-radius: 0 !important;color: #222222;}
.item-search{}
.item-search .input-group {border: 1px solid #d0d1d1;}
.item-search input {color:#e53237 !important;}
.item-search .form-control {background:#eff0f0; border-radius: 0; color: slategrey; border-right:0px; border:0px; text-align:left;}
.item-search .btn-default {background-color: transparent;border-color: navy navy navy -moz-use-text-color;border:1px;border-radius: 0;}
.brand{}
.brand .form-group span { background:#f3f3f4; border-radius: 20px; font-size: 11px; padding: 0 8px;}

.brand .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"], .radio-inline input[type="radio"] { margin-left: -20px; position: absolute; top:0px;}
.brand .navbar-toggle {display: block;margin: 0; padding: 0;}
.brand h4{margin-top:10px;}
.brand h4 { padding-bottom:14px; margin-bottom:0px; color:#4a4a4fa; margin-top:8px;font-size:15.5px; font-weight:bold; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;}
.brand h4 span{ color: #bfbfbf;float: right;font-size: 12px;font-weight: normal;}


.brand input {color: #535353 !important; font-size: 12px; padding: 5px 0; text-align: center; background:#f2f2f2;}
.brand .form-group {margin-bottom:8px;}
.brand .checkbox, .radio {display: block; margin-bottom: 0; margin-top: 3px; position: relative;}
.brand .checkbox label strong{ font-weight:normal !important;}
.brand .panel-group {margin-bottom: 3px;}
.brand .panel {background-color: transparent;border: 1px solid transparent; border-radius: 4px;margin-bottom: 3px; box-shadow:none;}
/*.caregori_podectblog [class*="col-"]{padding-left:10px; padding-right:10px;}*/
.padd-r7{padding-right:7px !important;}
.padd-l7{padding-left:7px !important;} 
.brand .color_copies{height:15px; width:15px; padding:0px; border:0px; margin-top:1px;}
.caregori_podectblog.right-block{ width:77.6%;} 
.caregori_podectblog .mobile_slidbg {background: #fff none repeat scroll 0 0; padding-top:20px; p border:1px solid #dfe1e8; }
.caregori_podectblog .mobile_slidbg h2{border-color: #fff;color: #000;font-family: "Roboto-Condensed"; font-size: 20px;letter-spacing: 1.8px;padding: 0;}
.catgories-list{ margin:0px; padding:0px; display:block; text-align:center;}
.catgories-list li {text-align: center; display:inline-block; padding:0 23px; padding-bottom:15px;}
.catgories-list li a{display:inline-block; text-align:center; color:#3d6a8c; font-size:13px;}
.catgories-list li a p{padding-top:7px;}
.catgories-list li span{display:table-row;  height:100px;}
.catgories-list li span img{ height:80px;}
.catgories-list li span strong{ display:table-cell; vertical-align:middle; height:100px;border-radius:50%; background:#f2f2f2; width:100px;}
.mobile_slidbg{ margin-bottom:15px;}


.popular_brand ul{ padding:0px; margin:0px;}
.popular_brand ul li{ display:inline-block; color:#3f3f3f; font-size:17px; vertical-align:middle; padding:10px 6px 10px;}
.popular_brand ul li span{display:table-row; height:70px; vertical-align:top;}
.popular_brand ul li span small{display:table-cell; vertical-align:middle; height:70px; background:#f2f2f2; width:70px; border-radius:50%;}
.popular_brand ul li.frist{padding-right:36px; text-transform:capitalize;}
.amh_row { margin-bottom:13px; background: #fff none repeat scroll 0 0;padding:13px 15px; border:1px solid #dddada;}

.amh_row .list-capacity{ border:1px solid #dddada; text-align:center; font-size:14px;  border:1px solid #bebebe; color:#4d4d4d;  padding:10px; margin:15px 0;}
.amh_row .list-capacity a{ color:#4d4d4d;}
.amh_row .list-capacity a:hover{ color:#2e90c8;}
.amh_row h3{font-size:16px; font-weight:normal; color:#cd3232;padding: 0; margin-top:7px;}
.amh_row p{ color:#878787; font-size:13px;}

.amh_row2 h3{font-size:16px; font-weight:normal; color:#cd3232;padding: 0; margin-top:0px;}
.amh_row2 p{ color:#878787; font-size:13px;}



.product-section h3{font-size:20px; color:#333; padding: 0; margin-bottom:7px; margin-top:8px;}
.product-section h3 span{color:#838383; font-weight:normal; font-size:14px;}
.card {background: #FFF none repeat scroll 0% 0%; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); margin-bottom: 30px; }
.black{ display:inline-block; width:15px; height:15px; background:#000;}
.blue{ display:inline-block; width:15px; height:15px; background:#083ad7;}
.cyan{ display:inline-block; width:15px; height:15px; background:#0ed7df;}
.darkblue{ display:inline-block; width:15px; height:15px; background:#0e599d;}
.golden{ display:inline-block; width:15px; height:15px; background:#c88d31;}
.left-scrollblock{ height:226px;}
.left-panel{ margin-bottom:15px; width:22.4%;}
.left-panel .input-group-addon {
  background-color:transparent; 
  color: #555;
}
.left-panel .input-group-addon i{ color:#fff; cursor:pointer;}
.left-panel .input-group{ }
.jcarousel{ border:1px solid #d8d7d7; padding-top:10px;}
.input-group.searcbar{ text-align:left; margin-bottom:10px;}
.input-group.searcbar .form-control{ background:none; border-right:0px;text-align:left; box-shadow:none; text-indent:10px; height:30px;}
.input-group.searcbar .form-control:focus{ box-shadow:none; border:1px solid #ccc; border-right:0px;}
.input-group.searcbar .input-group-addon i{ color:#c5c5c5;}

.product-section{}
 .product-section .nav-tabs li {background: #efefef none repeat scroll 0 0;
    border-bottom: 3px solid #cdcdcd;}

.product-section .nav-tabs li a { color:#403c3c; font-size:13px; padding:5px 10px; border-radius:0px; margin-bottom:2px}
.product-section .nav-tabs {border-bottom: 0 none;
margin-top: 2px; padding-left:30px;
margin-bottom:8px;} 
.product-section .nav-tabs > li.active > a,.product-section .nav-tabs > li.active > a:focus, .product-section .nav-tabs > li.active > a:hover {
 border:0px; border-radius:0px;  
  color: #333;
  cursor: default;
}
.product-section .nav-tabs > li.active {border-bottom: 3px solid #e52228; background:#fff;} 

.product-section .tab-content{ background:#fff; border:1px solid #dddada; padding:10px; padding-bottom:0px; margin-bottom:15px;}
.product-section  p.availabe-store{ background:#f8f8f8; padding:5px; margin:0 5px;}
.product-section  p.availabe-store span{ color:#999; font-size:11px;}
.product-section  p.availabe-store strong a{ color:#d02b37; font-size:11px; display:block; font-weight:normal;}
.product-section  p.availabe-store strong a img{ height:15px;}

.pricelist{ padding:0px; margin:0px; list-style:none; display:block;}
.pricelist li{ list-style:none; display:block; text-align:left; border-bottom: 1px solid #ccc;}
.pricelist li a{ padding:5px; display:block; background:#fff; color:#535353; font-size:12px;  margin:0px; margin-bottom:5px;}
.brand-block,.discount,.newarrivals,.seller,.battery,.color,.powerbank{ margin-top:10px; background:#fff; padding:10px; padding-left:25px; border:1px solid #dfe1e8;}
.left-panel .checkbox label, .left-panel.radio label {color: #696969;} 
.checkbox-inline, .radio-inline { color:#696969;}
.left-panel  .checkbox-inline{ font-size:13.5px;}
 h2 {color: #333;font-size: 20px; margin:5px 0; margin-bottom:15px;padding: 0;}
 h2 span a{ color:#bf2837; font-size:12px; float:right; padding-top:10px; display:none;}
.brdr{ border:1px solid #dddada;}
.tab-order{ text-align:left;}
.tab-order .nav.nav-tabs{ display:inline-block; float:none;}

.view-type{margin:8px 0 0 0;vertical-align: bottom; float:right;}
.view-type a{ font-size:16px; color:#b7b6b6; display:inline-block; height:30px; width:30px; margin-left:5px; text-align:center; padding:5px; background:#efefef; border:1px solid #dfe1e8; } 
.view-type a i{ vertical-align:top; padding-top:2px;}
.view-type a.active{ color:#2e90c8;background: #fff;}
.view-type span{ vertical-align:top; display:inline-block; font-size:13px; padding-top:7px;} 
h3.subtitle {color: #696969;font-size: 16px;font-weight: normal;margin-bottom: 13px;margin-top: 12px;padding: 0;}
h3.subtitle span {  color: #838383;  font-size: 14px;  font-weight: normal;}
/*-------------categories----------------------------------------------*/


/*-------------categories----------------------------------------------*/

/*compare box*/
.compare_box{background:rgba(26, 26, 26, 0.70); padding:6px 0 6px 0; position:relative;}
.compare_box::after{ content:""; position:absolute; left:0px; bottom:-12px; background:url(../images/corner_left.png) no-repeat; width:13px; height:13px;  }
.compare_box::before{ content:""; position:absolute; right:0px; bottom:-12px; background:url(../images/corner_right.png) no-repeat; width:13px; height:13px;  }
.compare_box .search_bg{ padding:23px 13px 40px 24px; background:rgba(57, 57, 57, 0.70);}
.compare_box .search_bg label { font-size:12.97px; font-weight:normal; color: #fff;}
.compare_box .search_bg_tow{background:none !important; padding:22px 18px 40px 27px;}
.padd-lr{padding-left:0px !important; padding-right:0px !important;}
.padd-l{padding-left:0px !important}
.padd-r{padding-right:0px !important;}
.compare_box .compare_feature{ padding:50px 13px 40px 24px; position:relative;}
.compare_box .compare_feature .btn {background: #e4151b none repeat scroll 0 0; border-radius: 0; color: #fff; font-size: 12px;}
.compare_box .search_bg .form-control { border-radius: 0px;}
.compare_box .search_bg .btn-search a {font-size: 13px;}
.compare_box .search_bg .btn-search {padding:6px 3px;}
.compare_box .compare_feature .fa{color: #fff;content: "";font-size: 24px;font-weight: normal; position: absolute; right: 0; top: 0;}
/*compare box and*/


/*product_details3*/
.display_slider{ background:#fff; padding:10px; border:1px solid #dddada;}
.display_slider .carousel-control.right { background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.5) 100%); background-repeat: repeat-x; left: auto; right: 0; background: none;color:#5f5f5f; font-size:15px;}
.display_slider .carousel-control.left {background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0px, rgba(0, 0, 0, 0) 100%);background-repeat: repeat-x;  background: none; color:#5f5f5f; font-size:15px;}
.display_slider .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {font-size: 15px;height: 30px;margin-top: -10px;width: 7px;}
.display_slider .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {margin-left: -21px;}
.display_slider .panel {border: 1px solid #c8caca;border-radius: 0;padding-bottom: 20px;padding-top: 20px;}
.detail_blog-right{background:#FFF; padding:0 15px 0 15px; border:1px solid #dddada; }
.detail_blog-right h3{ padding:16px 0 10px 0;  margin:0 0 12px 0; font-size:22px; font-weight:bold; color:#000; border-bottom:1px solid #eff0f0;}
.detail_blog-right h3 span{color:#969595; font-size:16px; font-weight:400;}
.stars{padding-top:0;}
#stars-default label{float:right; font-size:11px; color:#858585; vertical-align:top; padding-top:0;}
#stars-default .glyphicon {top: -2px; vertical-align: top;}

.sold{color:#5b5b5b; font-size:12px; font-weight:700;}
.sold .fa {display: inline-block;font: 12px/1 FontAwesome; text-rendering: auto;}

.detail_blog-right .social{padding:0px; margin:0px; list-style:none;}
.detail_blog-right .social li{display:inline-block;}
.detail_blog-right .social li{display:inline-block; padding-top:6px;}
.star_row {border-bottom:1px solid #eff0f0;padding-bottom:10px;}

.bdrtop{border-top:1px solid #eff0f0; margin-top:5px; padding-top:5px;}
.detail_blog-right .order-store{}
.detail_blog-right .order-store ul{list-style:none; padding:0px;}
.detail_blog-right .order-store ul li .fa {color: #7b7878; padding-right:5px;}
.detail_blog-right .order-store ul li {color: #7b7878; line-height:27px;}
.priceblock{ background:#f1f1f1; padding:20px; margin:10px 0;}

.detail_blog-right .order-store h2 {color: #cb170a;font-size:27px; font-weight:bold;  margin:0px;}
.detail_blog-right .order-store h3 {color: #666666;font-size:13px; margin:0px;  padding:0;}
.detail_blog-right .order-store h3 span {color:#1980dd;font-size:14px;}
.detail_blog-right .order_form{}
.detail_blog-right .order_form .colors{ padding:0px; list-style:none;}
.detail_blog-right .order_form .colors li{ display:inline-block; border:1px solid #ccc; padding:2px; padding-bottom:0px;}
.detail_blog-right .order_form .colors li i{ display:inline-block; vertical-align:top;}
.detail_blog-right .order_form .colors li.active,.detail_blog-right .order_form .colors li:hover{ background:#e3e3e3;}

.detail_blog-right .order_form .colors li input{width:26px; padding:1px;}
.detail_blog-right .order_form .colors p{padding:0px 0 5px 0; margin:0px; color:#5f5f5f; font-size:13px;}
.detail_blog-right .order_form .Storage li{ border:1px solid #d0d0d0; padding:8px; font-size:12px; margin-right:5px;}
.detail_blog-right .order_form .Storage li:hover{background:#e3e3e3; color:#000;}
.detail_blog-right .order_form .btn-block {background: #cd3232 none repeat scroll 0 0;color: #fff;display: block;font-size: 16px;margin-top: 0;padding: 11px 10px;width: 100%;}
.detail_blog-right .order_form .Price-Drop-Alert-btn{background:#dddddd; color:#5f5f5f;}
.detail_blog-right .Warranty_stetas {border:1px solid #eff0f0; border-right:none; border-top:none; padding:28px 38px; position:relative;}
.detail_blog-right .Warranty_stetas::after{ content:""; background:url(../images/boder_bend.png) no-repeat 0 0; width:30px; height:15px; position:absolute; left:-1px; top:45%;}


.detail_blog-right .Warranty_stetas p{font-size:13px; color:#636363;}
.detail_blog-right .Warranty_stetas p strong{ font-weight:normal; text-transform:uppercase;  color:#333;}
.detail_blog-right .Warranty_stetas p span{color:#8a8d8d; font-size:12px;}
.detail_blog-right .Warranty_stetas h4{font-size:12px; color: #333;font-weight: normal;text-transform: uppercase; font-weight:normal;}
.detail_blog-right .Warranty_stetas h4 strong{ font-weight:normal;}

.detail_blog-right .Warranty_stetas h4 span{color:#8a8d8d; font-size:11px; padding-top:5px; display:inline-block;}
.detail_blog-right .Warranty_stetas h4 small{ border:1px solid #CCC; padding:0px 3px; color:#000;}

.product-d-slider{ text-align:center; margin:12px 0;}
.product-d-slider img{ text-align:center; display:inline-block !important; max-height:300px;}
.small-thumb{}
.small-thumb img{ height:32px;}
.nav-pills.small-thumb > li > a{ border:1px solid #ccc; margin:2px;}
.nav-pills.small-thumb > li.active > a, .nav-pills.small-thumb > li.active > a:focus, .nav-pills.small-thumb > li.active > a:hover {
  background-color:transparent;border:1px solid #666;
  color: #fff;
}
.subsectioin{ margin:0px; padding:0px;}
.subsectioin li{ display:inline-block; padding:5px 16px 5px 0; line-height:1; vertical-align:middle; }
.subsectioin li:last-child{ border:0px;}
.subsectioin li a{ color:#999; font-size:12px; vertical-align:top; font-weight:normal;}
.subsectioin li:last-child a{ color:#1980dd;}
.listfeature{}
.listfeature li{ display:inline-block; width:32%;}
.listfeature li i{ display:inline-block; font-size:8px; padding-right:0px}
.help{ display:inline-block; width:15px; cursor: pointer; height:15px; line-height:15px; border-radius:100%; -ms-border-radius:100%;-webkit-border-radius:100%; -o-border-radius:100%;-moz-border-radius:100%; background:#9b9b9b; color:#fff; font-style:normal; text-align:center;}
.offer{}
.offer{ color:#2da126 !important; font-size:16px !important;}

.offerlist{ margin:0px; padding:0px; }
.offerlist li{ display:block; padding:5px 0; color:#7b7878; font-size:12px;}
.offerlist li i{ display:inline-block; font-size:8px; padding-right:0px}
.storedetail{ margin: 0 0 15px 0;}
.storedetail{}
.detailblock{ padding:15px; border:1px solid #dddada; background:#fff;}
.detailblock h2{color:#000;font-size:18px;font-weight:bold;margin: 0 0 12px; padding: 10px 0; }
.detail-row{ padding:15px 0; border-top:1px solid #dddada;}
.dealer{ }
.dealer img{ height:45px;}
.buyconditioin{ margin:0px; padding:0px;}
.buyconditioin li{ margin:0px; padding:3px 0; list-style:none; display:block; font-size:12px; font-weight:normal; color:#737373;}
.buyconditioin .fa-check-circle{ color:#060;}
.buyconditioin .fa-close{ color:#ff0000;}

.storedetail h4{ color:#cd3232; font-size:28px; font-weight:bold;}
.storedetail h4 span{ color:#060; font-size:12px; display:block; font-weight:normal;}
.btn-block.btn-danger{ padding-top:15px; padding-bottom:15px; margin-top:10px;}

.tech-specification{ padding:10px 0; border:1px solid #dddada; background:#fff; padding-bottom:0px; margin-bottom:0;}
.tech-specification h2{color:#333;border-bottom:1px solid #dddada; font-size:18px;font-weight:bold;margin:0px; padding:10px; padding-bottom:20px; }
.tech-specification h3{color:#333;font-size:13px;font-weight:bold;margin:0;padding:10px;border-bottom:1px solid #dddada; background:#f2f2f2;}
.tech-spec-row{ border-bottom:1px solid #dddada; font-size:14px;}
.first-colume{ background:#fafafa;}
.tech-spec-row [class*="col"]{ padding-top:10px; padding-bottom:9px; margin-top:2px; margin-bottom:2px;}
.margt{ margin-top:0px !important;}
.dis-filter-option { margin-top:-5px;}
.dis-filter-option .form-control{ font-size:12px; font-weight:normal;}
.marg-b15{ margin-bottom:15px;}
.userreview{ float:right; margin-top:0px; font-size:14px; font-weight:normal;}
.userreview i{ color:#F00; }
.review-colume{ text-align:center;} 
.review-colume span{ display:block;}
.review-colume a{ display:block; color:#2e90c8; padding:5px 0;}

.userthumb{ float:left; padding:10px;}
.user-detail{ float:none; overflow:hidden; }
.user-detail span{ display:inline-block; padding-top:15px; font-size:12px;}
.color-blue{ color:#2e90c8 !important;}
.color-blue span{ color:#960; display:block;}
.review-detail{}
.review-detail h4{ font-size:16px; color:#333}
.block{ display:block;}
.review-detail p span{ color:#999;}
.paddb-none{ padding-bottom:0px !important;}
.view-all{ background:#CCC; padding:5px; text-align:center;color:#2e90c8; font-size:13px;}
.paddb{ padding-bottom:0px !important;}
.all-reivew{ background:#f7f7f7; padding:10px 0; padding-bottom:0px;}
.soldby{ color:#000;}
.soldby strong{ font-weight:bold !important; text-transform:capitalize !important;}
.btn-blue { background: #337ab7 none repeat scroll 0 0;color: #fff;display: block;font-size: 16px;margin-top: 0;padding: 10px 40px;width: 100%;}
.btn-blue:hover{  background:#236aa7;color: #fff;}
.filteroption{ background:#f3f3f4; padding-top:3px; padding-bottom:3px;}
.colume-outer{ display:table-row; height:95px;}
.colume-inner{ display:table-cell; min-height:95px; vertical-align:middle; }

/*.custome-checkbox*/
.nopadlr{ padding:0px 15px !important;}

.funkyradio div { display:inline-block;
 
}

.funkyradio label {
  width: 100%; background:#fff;
  border-radius: 3px;
  border: 1px solid #d0d0d0; color:#ccc;
  font-weight: normal;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 3.25em;
  margin-top:0;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; padding-right:15px;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #ccc; position:absolute; left:5px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #888;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
  color: #777;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #ccc;
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked ~ label:before,
.funkyradio-default input[type="checkbox"]:checked ~ label:before {
  color:green;
}

.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
  color: #fff;
}

.funkyradio-success input[type="radio"]:checked ~ label:before,
.funkyradio-success input[type="checkbox"]:checked ~ label:before {
  color: #fff;
}

.funkyradio-danger input[type="radio"]:checked ~ label:before,
.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
  color: #fff;
}

.funkyradio-warning input[type="radio"]:checked ~ label:before,
.funkyradio-warning input[type="checkbox"]:checked ~ label:before {
  color: #fff;
}

.funkyradio-info input[type="radio"]:checked ~ label:before,
.funkyradio-info input[type="checkbox"]:checked ~ label:before {
  color: #fff;
}
.filter-option-left{ float:left; padding-top:10px;}
.filter-option-right{ float:right; padding-top:13px;}
.left-padd-none{ padding-left:0px !important;}
.right-padd-none{ padding-right:0px !important;}
.product-detail{ margin-bottom:0px; margin-top:15px;}
.product-detail .detail-row{ border-top:0px; border-bottom:1px solid #dddada;}
.product-detail .detail-row:last-child{ border-bottom:0px;} 
.filteroption h2{ margin:16px 0 15px; color:#000;}
.tech-spec-row:last-child{ border-bottom:0px;}
.btn-store{ float:right; margin-top:25px;}

.block-title { text-align:left !important;color: #000;font-size: 18px;font-weight: bold;margin: 0 0 12px;padding: 10px 0;}
.side-panel{}
.side-panel h4{ font-size:16px; padding-bottom:8px;}
.side-panel .powerbank { margin-top:0PX !important; margin-bottom:15px !important; }
.padd-r-none{ padding-right:0px !important;}

/*.custome-checkbox*/
/*clearfix*/
.full-row:after{*zoom:1;}
.full-row:before, .full-row:after, .full-row:before, .full-row:after{content:""; display:table;}
.full-row:after{clear:both;}

/*cliarfix*/

@media (max-width:1100px){
.carousel-caption h3 strong,.carousel-caption h3 { font-size: 20px;}
.carousel-caption p {font-size: 12px;}

}
@media (min-width:1600px){
	.container{ width:1299px;}
	}



@media (min-width:768px) and (max-width:990px){
.login-model {min-width:700px;margin-top:50px;}
.newsletter h4 {padding-top: 0;}
.newsletter h4 span {font-size: 10px;}
.trend-block {padding: 15px;}
.panel-footer .nav-tabs > li {margin: 0 0px;}
.trendrow .btn-default {font-size: 9px;}
.search-block {margin-left: 0;padding-left: 15px;padding-right: 15px;padding-top: 0;}
ul.login {margin: 0;padding: 0 0 10px;}

}

@media (max-width:767px){
	
.navbar-toggle .icon-bar {background: #fff none repeat scroll 0 0;}
.container-fluid {padding: 0 15px;}
.main-banner  img{ height:auto !important;}
.no-left-padd{ padding-left:15px;}
.carousel-caption{ display:none;}
.login-model {min-width:95%;margin-top:50px;}
.login-model .modal-content {background:#fff !important;}
.bigdealbox{ min-height:150px!important;} 
.navbar-toggle { margin-right:0px;}
.closesearch{ cursor:pointer;}
ul.login {display: inline-block;float: none !important;margin: 0;padding: 0;}
.menu-xs-bg{ background:#535353;}
.menu-xs-bg .searcbbtn{ padding:0px; }
.menu-xs-bg .searcbbtn i{ color:#fff; width:30px; height:30px; line-height:30px; font-size:18px; } 
.searcbar{ margin-top:15px;}
.searcbar .input-group-addon {background-color: #cd3232; color:#fff;}
.page-scroll{ display:none !important;}
.main-banner{ margin-bottom:15px;}
.colume5 [class*="col-"] {width: 100%;}
.colume-outer {height: auto;}
.colume-inner {min-height:auto;}
.left-panel {padding-right: 15px !important;width: 100%;}
.caregori_podectblog.right-block {padding-left: 15px !important;width: 100%;}
.product-section .nav-tabs {padding-left: 0;}
.product-section .nav-tabs li a {font-size: 12px;padding: 3px;}
.newsletter {margin-bottom: 15px;padding: 15px 0 15px 0;}
}





