@import "css/plugins.css";
@import "css/navigation-menu.css";
@import "css/shortcode.css";


/* [Global] */

body {
    font-size: 15px;
    color: #000;
    overflow-x: hidden;
}
.sdfg{display:none;}
.one_half {
    width: 48%;
    float: left;
    position: relative;
    margin-right: 4%;
}
.compare-table h3{ font-size:16px; color:#746e6e;}
.compare-table .price,.start-rate{ color:#ff8d3d; font-size:21px; font-weight:600;}
.caom-inner{padding:30px 10px;}
.last {
    margin-right: 0 !important;
    clear: right;
}
.address_info {
    float: left;
    background-color: #f9f9f9;
    border: 1px solid #e1e1e1;
    padding: 20px 20px 10px 20px;
    width: 99%;
    margin-bottom: 40px;
}
.google-map {
    width: 99%;
    height: 350px;
    border: 5px solid #fff;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}
.cforms label {
    float: left;
    font-size: 15px;
    text-align: left;
    width: 100%;
    color: #454545;
    font-weight: normal;
}
.cforms label em {
    color: #f00;
    font-size: 12px;
    font-style: normal;
}
.cforms input {
    color: #454545;
    float: left;
    width: 100%;
    padding: 9px 12px;
    margin-bottom: 10px;
    border: 1px solid #eee;
    background: #f9f9f9;
    -webkit-box-shadow: inset 1px 0px 2px 0px rgba(238,238,238,1);
    -moz-box-shadow: inset 1px 0px 2px 0px rgba(238,238,238,1);
    box-shadow: inset 0px 1px 2px 0px rgba(238,238,238,1);
}
.cforms textarea {
    color: #454545;
    float: left;
    width: 100%;
    padding: 9px 12px;
    margin-bottom: 10px;
    border: 1px solid #eee;
    background: #f9f9f9;
    -webkit-box-shadow: inset 1px 0px 2px 0px rgba(238,238,238,1);
    -moz-box-shadow: inset 1px 0px 2px 0px rgba(238,238,238,1);
    box-shadow: inset 0px 1px 2px 0px rgba(238,238,238,1);
}
.cforms .button {
    float: left;
    margin-top: 10px;
    color: #fff;
    padding: 14px 20px;
    font-size: 14px;
    font-weight: 500;
    background: #ff8d3d;
    border: 1px solid #cb6218;
    border-radius: 3px;
    margin-bottom: 20px;
    font-family: "Roboto-Regular";
    cursor: pointer;
    transition: all 0.3s ease;
}
.page-title {
    font-size: 29px;
    font-weight: 700;
    color: #333333;
    text-align: center;
    margin-bottom: 10px;
    padding: 0px 30px 0px 30px;
    line-height: 33px;
}
.description {
    font-size: 14px;
    font-weight: 400;
    color: #434242;
    line-height: 20px;
    text-align: center;
    padding: 0px 30px 0px 30px;
}
.icons-content {
    clear: both;
    margin: 0px 100px 30px 100px;
    padding: 40px 0px 40px 0px;
    border-bottom: #dcdcdc solid 1px;
}
.item .icon {
    text-align: center;
    margin-bottom: 25px;
    height: 101px;
}
 .item .title {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: #333333;
    margin-bottom: 10px;
}
 .item .item-description {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #434242;
    padding: 0px 12px 0px 12px;
}
.kjhh .menu-block.navbar-fixed-top {position:relative;}
.gray-clor span{float:right; color:green;}
.gray-clor  h3{color:#0c4572;}
.mobile-follow{display: none;}
.code-blc{padding: 5px; border-radius: 10px; border:1px dashed #7cbf65; background: #f5f5f5; display: inline-block;}
.code-blc span{color: #7cbf65; font-size: 17px; text-transform: uppercase; padding:5px 15px; display: inline-block;    letter-spacing: 5px;}
.code-blc button{ background: #7cbf65; color: #fff; border:0;border-radius:0 10px 10px 0; font-size: 15px; padding:10px 20px; display: inline-block;  }
main,
footer {
    overflow-x: auto;
}
.sdfg{text-align:center;}
.sdfg h4{ font-size:15px;}
.sdfg p{ font-size:12px;}
img {
    max-width: 100%;
    height: auto;
}

a {
    outline: 0 !important;
}
.iner-mob{display:none;}
.categori-blc-listview{display: none;}
.categori-blc-listview{overflow-y: hidden; clear: both; 
    padding: 10px;
   
    background: #fff;}
.mobi-filter-bc{display: none;}
.centerfilter{padding: 0; margin: 0; list-style: none;}
.centerfilter li input[type=radio]{ float: right; }
   .centerfilter li{ border-bottom: 1px solid #dfe1e8; padding: 8px; text-align: left;
    margin-bottom: 2px;}
 .centerfilter li:last-child{ border-bottom: 0; } 
 .light-modal-body h4{padding: 10px; margin: 0;}  
.mobile-view-menu { display:none;}
.mobile-popular-cat{display:none;}
.sub-drop{ display: none; }
.haschild.active>.sub-drop{display: block; transition: all 5s ease-in-out; background:#f5f5f5;}
.hassubchild.active>.sub-drop{display: block; transition: all 5s ease-in-out;}
.gn-menu li {position: relative;}
.gn-menu li ul{ padding-left: 0px; }
.gn-menu li ul li ul{ padding-left: 20px; }
.gn-menu li ul li a{ font-size: 14px;border-bottom: 1px solid #fff;}
.gn-menu li ul li ul li a{ border-bottom:0;}
.gn-menu a span{
	background: transparent url(images/down.png) no-repeat top right;
	text-indent:-9000px;
	width: 26px;
	height: 16px;
	position: absolute;
	top: 17px;
	right: 10px;
	
	opacity:1;
	-webkit-transition:  all 0.2s ease-in-out;
	-moz-transition:  all 0.2s ease-in-out;
	-o-transition:  all 0.2s ease-in-out;
	-ms-transition:  all 0.2s ease-in-out;
	transition:  all 0.2s ease-in-out;
}

/* + Padding/Margin */

.no-padding {
    padding: 0;
}

.no-left-padding {
    padding-left: 0;
}

.no-right-padding {
    padding-right: 0;
}

.no-top-padding {
    padding-top: 0;
}

.no-bottom-padding {
    padding-bottom: 0;
}

.no-margin {
    margin: 0;
}

.no-left-margin {
    margin-left: 0;
}

.no-right-margin {
    margin-right: 0;
}

.no-top-margin {
    padding-top: 0;
}

.no-bottom-margin {
    margin-bottom: 0;
}


/* + OW pull-left/pull-right */

.ow-pull-left {
    float: left;
}

.ow-pull-right {
    float: right;
}


.team-list .team-item {
    clear: both;
    overflow: hidden;
    border-top: #dcdcdc solid 1px;
    padding: 20px;
    position: relative;
   }
.team-list .team-item .profile {
    width: 25%;
    text-align: center;
    float: left;
}
.team-list .team-item .profile-description {
    width: 53%;
    float: left;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
  
    color: #757474;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 80px;
    height: 35%;
    margin: auto 0px auto 0px;
}
.team-list .team-item .profile .photo {
    margin-bottom: 15px;
    text-align: center;
}
.team-list .team-item .profile .name {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: #333333;
    margin-bottom: 2px;
}
 .team-list .team-item .profile-description span.quote {
    font-size: 18px;
}
.saf{ margin: 0;}
.saf li{margin: 5px 0;}
.modal-box {
        width: 55%;   
    }
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: "Roboto-Regular";
}

.popup .close {
    position: absolute;
    top: 5px;
    right: 5px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #06D85F;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}

.newuser strong {
    font-size: 12px;
    text-decoration: underline;
    color: #ff8d3d;
}

.mobileview-hd2 span {
    position: absolute;
    top: 7px;
    left: 10px;
    font-size: 20px;
    color: #818181;
}

.mobil-menu {
    display: none;
}

.left {
    right: -3px;
    left: auto;
    top: -2px;
}

.m-search {
    width: 100%;
    right: 0;
    left: auto;
    position: fixed;
    top: 40px;
    background: #0c4572;
    border-radius: 0px;
    padding: 5px;
}

.btn-search {
    float: left;
    background: #0c4572;
    color: #fff;
    width: 11%;
    text-align: center;
    padding: 7px;
}

.globalSearch {
    float: left;
    background: #fff;
    width: 100%;
    padding-left: 30px;
    border-radius: 5px;
}


/* + Section Padding */

.section-padding {
    padding-top: 60px;
    padding-bottom: 60px;
}


/* + Section Header */

.section-header {
    display: inline-block;
    width: 100%;
    text-align: left;
    position: relative;
    margin-bottom: 10px;
}
.section-header a {position: absolute; top: 11px; font-size: 12px; right: 10px; color: #337ab7;}
.shopingbrands .brandbox {
    border: 1px solid rgba(204, 204, 204, 0.42);
    padding: 5px;
}

.shopingbrands .brandbox img {
    vertical-align: middle;
}

.section-header h3 {
    color: #0c4572;
    font-family: 'PT Sans', sans-serif;
    margin: 0 0 0px;
    text-transform: capitalize;
    font-size: 19px;
    line-height: 28px;
    letter-spacing: normal;
    font-weight: normal;
    word-wrap: break-word;
    background: #f2f2f2;
    padding: 5px 15px;
        padding-right: 50px;
}
.cat-links-wrapper {
    background-color: #544e4d;
    color: #ffffff;
    padding: 30px;
 
    font-size: 12px;
}
.cat-links-wrapper ul{ list-style: none; padding: 0; margin: 0; overflow-y: hidden; width: 100%; }
.cat-links-wrapper ul li{ float: left;padding:3px 5px;}
.cat-links-wrapper ul li a{ color: #fff; display: block;     padding-right: 5px; border-right: 1px solid #fff; line-height: 14px;}
.section-header p {
    font-size: 15px;
    color: #777;
    line-height: 28px;
    letter-spacing: 0.6px;
    font-family: "Roboto-Regular";
}


/* + Page Banner */

.pagebanner {
    position: relative;
    min-height: 561px;
    background: url("images/pagebanner-category.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.pagebanner::before {
    background-color: rgba(0, 0, 0, 0.8);
    bottom: 0;
    content: "";
    display: inline-block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

.pagebanner .banner-content-block {
    position: relative;
    padding-top: 270px;
    padding-bottom: 115px;
}

.banner-content-block {
    position: relative;
}

.pagebanner .banner-content {
    position: relative;
    border: 2px dashed #fff;
    display: inline-block;
    padding: 30px 64px;
    min-width: 485px;
    text-align: center;
}

.pagebanner .banner-content::after,
.pagebanner .banner-content::before {
    position: absolute;
    content: "";
    background: url("images/scisor.png");
    background-repeat: no-repeat;
    height: 39px;
    width: 43px;
}

.pagebanner .banner-content::before {
    left: 8px;
    top: -26px;
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.pagebanner .banner-content::after {
    right: 5px;
    bottom: -25px;
}

.pagebanner .banner-content h3 {
    color: #fff;
    line-height: 28px;
    letter-spacing: 0.9px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Roboto-Regular";
    margin-bottom: 21px;
    word-wrap: break-word;
}

.pagebanner .banner-content .breadcrumb {
    background-color: transparent;
    border-radius: 0;
    margin-bottom: 15px;
    padding: 0;
}

.pagebanner .banner-content .breadcrumb li {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0.91px;
    color: #fff;
    word-wrap: break-word;
    font-family: "Roboto-Regular";
    word-wrap: break-word;
}

.pagebanner .banner-content .breadcrumb li.active {
    color: #fd7140;
}

.pagebanner .banner-content .breadcrumb li:first-of-type a {
    margin-left: 0;
}

.pagebanner .banner-content .breadcrumb li:last-of-type a {
    margin-right: 0;
}

.pagebanner .banner-content .breadcrumb a {
    text-decoration: none;
    font-size: 13px;
    letter-spacing: 0.91px;
    line-height: 28px;
    color: #fff;
    text-transform: uppercase;
    margin: 0 5px;
    font-family: "Roboto-Regular";
    word-wrap: break-word;
    transition: all 1s ease 0s;
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    word-wrap: break-word;
}

.pagebanner .banner-content .breadcrumb a:hover {
    color: #fd7140;
}

.pagebanner .banner-content .breadcrumb > li + li::before {
    color: #fff;
    padding: 0 13px 0 7px;
}


/* + PageBanner::  Coupans Page */

.pagebanner.coupans {
    background: url("images/pagebanner-coupans.jpg");
}


/* + PageBanner::  Categories Page */

.pagebanner.categories {
    background: url("images/pagebanner-category.jpg");
}


/* + PageBanner::  Register Page */

.pagebanner.register {
    background: url("images/pagebanner-register.jpg");
}


/* + PageBanner::  Blog Page */

.pagebanner.blog {
    background: url("images/pagebanner-blog.jpg");
}


/* + PageBanner::  BlogPost Page */

.pagebanner.blogpost {
    background: url("images/pagebanner-blogpost.jpg");
}


/* + PageBanner::  404 Page */

.pagebanner.error {
    background: url("images/pagebanner-error.jpg");
}


/* + PageBanner::  ContactUs Page */

.pagebanner.contactus {
    background: url("images/pagebanner-contactus.jpg");
}

.mobile-login {
    display: none;
}


/* * Header */


/* + Header Main */


/*.header-main {
  position: absolute;
  left: 0;
  right: 0;
  top: 5px;
  z-index: 3;
} */


/*.header-main::after {
  position: absolute;
  content: "";
  bottom: -54px;
  background-color: #fff;
  height: 2px;
  width: 50%;
  right: 0;
  z-index: 2;
  display: inline-block;
}*/


/* + MenuBlock */

.menu-block .container {
    position: relative;
}

.menu-block .user-cart {
    position: absolute;
    right: 0;
    z-index: 1;
    top: 32px;
}

.menu-block .user-cart a {
    color: #c1c1c1;
    text-decoration: none;
    width: 36px;
    height: 36px;
    text-align: center;
    line-height: 32px;
    font-size: 14px;
    letter-spacing: 0.98px;
    border: 2px solid #c9c9c9;
    margin-right: 13px;
    display: inline-block;
    transition: all 1s ease 0s;
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
}

.menu-block .user-cart a:hover {
    border-color: #fd7140;
    color: #fd7140;
}

.menu-block .user-cart a:last-of-type {
    margin-right: 0;
}


/* * Footer */


/* + Footer Main */

.footer-main-block {
    padding: 30px 0;
    overflow: hidden;
    background: #e8e8e8;
padding-bottom:0px
}


/*.footer-main-block::before{
  background-color: rgba(37, 37, 37, 0.97);
  bottom: 0;
  content: "";
  display: inline-block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0
}*/

.menu-block {
    clear: both;
}

.logo_head {
    /*overflow: hidden;*/
    padding: 0px 0;
}

.navbar-header a img {
    padding: 10px 0;
}

.footer-main .widget-title {
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin: 0;
    display: inline-block;
    position: relative;
    word-wrap: break-word;
}

.footer-main-block .ftr-widget {
    margin-bottom: 20px;
}

.footer-main-block .ftr-widget ul {
    padding-left: 0;
}


/* + Footer Widget:: SupportUs  */

.footer-main-block .ftr-widget.widget_support {
    padding-right: 0;
}

.footer-main-block .ftr-widget.widget_support ul li,
.footer-main-block .ftr-widget.widget_pages ul li {
    display: inline-block;
    width: 100%;
}

.footer-main-block .ftr-widget ul li a {
    color: #919191;
    font-size: 15px;
    line-height: 32px;
    text-transform: capitalize;
    text-decoration: none;
    width: 100%;
    transition: all 1s ease 0s;
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
}

.footer-main-block .ftr-widget.widget_support ul li a:hover,
.footer-main-block .ftr-widget.widget_pages ul li a:hover {
    color: #fd7140;
    margin-left: 5px;
}


/* + Footer Widget:: Pages  */

.footer-main-block .ftr-widget.widget_pages {
    padding-left: 83px;
}


/* + Footer Widget:: ContactUs */

.footer-main-block .widget_contactus {
    padding-left: 70px;
}

.footer-main-block .widget_contactus .contactinfo-box {
    position: relative;
    display: inline-block;
    margin-bottom: 7px;
}

.footer-main-block .widget_contactus .contactinfo-box:hover i {
    color: #fd7140;
}

.footer-main-block .widget_contactus .contactinfo-box:last-of-type {
    margin-bottom: 0;
}

.footer-main-block .widget_contactus .contactinfo-box i {
    position: absolute;
    left: 0;
    top: 5px;
    color: #919191;
    font-size: 20px;
    transition: all 1s ease 0s;
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
}

.footer-main-block .widget_contactus .contactinfo-box p {
    margin-left: 20px;
    color: #919191;
    font-size: 15px;
    font-family: "Roboto-Regular";
    padding-right: 40px;
    line-height: 24px;
}

.footer-main-block .widget_contactus .contactinfo-box p a {
    text-decoration: none;
    color: #919191;
    display: block;
    word-wrap: break-word;
    transition: all 1s ease 0s;
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
}

.footer-main-block .widget_contactus .contactinfo-box p a:hover {
    color: #fd7140;
    margin-left: 5px;
}


/* + Footer Widget:: Subscribe */

.footer-main-block .widget_newsletter {
    padding-left: 77px;
    padding-right: 15px;
}

.footer-main-block .widget_newsletter p {
    color: #919191;
    font-family: "Roboto-Regular";
    padding-right: 15px;
    padding-top: 4px;
    display: inline-block;
}

.footer-main-block .widget_newsletter .input-group {
    margin-bottom: 27px;
    margin-top: 13px;
    margin-right: 3px;
}

.footer-main-block .widget_newsletter .form-control {
    border-radius: 0;
    box-shadow: none;
    border: none;
    min-height: 45px;
    padding-left: 23px;
    text-transform: uppercase;
    color: #888;
    font-size: 10px;
    letter-spacing: 2px;
    line-height: 24px;
    font-family: "Roboto-Regular";
    z-index: 1;
}

.footer-main-block .widget_newsletter .input-group-btn .btn {
    background-color: #ff8d3d;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Hind', sans-serif;
    border-radius: 0;
    color: #fff;
    line-height: 24px;
    min-height: 45px;
    position: relative;
    padding: 5px 20px;
    outline: none;
}

.footer-main-block .widget_newsletter .input-group-btn .btn:focus {
    outline: none;
}

.footer-main-block .widget_newsletter .input-group-btn .btn::before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    width: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(41, 54, 62, 1);
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    z-index: -1;
}

.footer-main-block .widget_newsletter .input-group-btn .btn:hover::before {
    width: 100%;
}

.footer-menu .menu-left-bg::before,
.footer-menu .ow-navigation .navbar-header::before {
    height: 0;
}

.mob-filt {
    display: none;
}


/* + Footer About */

.footer-about {
    display: inline-block;
    width: 100%;
    margin-top: 44px;
}

.footer-about .ftr-block {
    float: left;
    padding: 0;
}

.footer-about .ftr-about {
    padding-right: 15px;
}

.footer-about .ftr-about p {
    color: #919191;
    font-size: 15px;
    line-height: 28px;
    font-family: "Roboto-Regular";
}

.ftr-social {
    float: right;
    padding: 0;
}

.footer-bottom {
    position: relative;
    z-index: 1;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 14px;
    margin-bottom: 42px;
}


/* + Footer Menu */

.menu-left-bg::before,
.ow-navigation .navbar-header::before {
    height: 0;
}

.footer-menu .ow-navigation .navbar-header {
    background-color: transparent;
    padding-top: 0;
}

.footer-menu .ow-navigation .navbar-header::after {
    border: none;
    position: relative;
    z-index: 2;
}

.footer-menu .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
}

.footer-menu .ow-navigation .navbar-nav > li {
    margin-right: 29px;
}

.footer-menu .ow-navigation .navbar-nav > li:last-of-type {
    margin-right: 0;
}

.detail_inner_page.navbar-fixed-top {
    display: none !important;
}

.footer-menu .ow-navigation .navbar-nav > li > a {
    color: #919191;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 24px;
    letter-spacing: 0.12px;
    font-family: "Roboto-Regular";
    padding: 0;
}

.footer-menu .ow-navigation .navbar-nav > li > a::before {
    height: 0;
    bottom: 0;
    background-color: transparent;
}


/* + Footer Bottom */

.footer-about .ftr-social {
    padding-left: 75px;
}

.footer-about ul {
    padding-left: 0;
}

.footer-about ul li {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}

.footer-about ul li:last-of-type {
    margin-right: 0;
}

.footer-about ul li a {
    height: 37px;
    width: 37px;
    display: inline-block;
    line-height: 37px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    background-color: #939598;
    border-radius: 100%;
    transition: all 1s ease 0s;
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
}

.footer-about ul li a:hover {
    background-color: #fd7140;
    color: #fff;
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.footer-about a + .tooltip > .tooltip-inner {
    background-color: #fd7140;
    color: #fff;
}

.footer-about a + .tooltip > .tooltip-arrow {
    border-bottom-color: #fd7140;
}

.footer-main .copyright {
    background-color: #fff;
    text-align: left;
    padding-top: 14px;
    padding-bottom: 1px;
    overflow: hidden;
    clear: both;
}

.invite_box {
    position: relative;
}

.invite_box:before {
    width: 0;
    content: "";
    position: absolute;
    height: 0;
    border-top: 215px solid #0c4572;
    border-right: 100px solid transparent;
    right: -100px;
    top: 0;
    z-index: 1;
}

.navbar-fixed-top {
    text-align: center;
}

.navbar-fixed-top ul.nav {
    display: inline-block;
}

.copyright ul {
    margin: 0;
    list-style: none;
    padding: 0;
    float: right;
}

.copyright ul li a {
    font-size: 25px;
    margin: 0 8px;
}

.copyright ul li {
    float: left;
}

.footer-main .copyright p {
    color: #000;
    text-transform: capitalize;
    font-size: 13px;
    letter-spacing: 0.52px;
    line-height: 30px;
}


/*------------------------------------------------------------------
  [Responsive]
-------------------------------------------------------------------*/


/* + min-width: 1200 */

@media (min-width: 1200px) {
    /*.container {
    width: 1200px;
  }*/
}


/* + min-width: 992 */

@media (min-width: 992px) {
    /* + Footer Main */
    .footer-main-block .ftr-widget:nth-child(4n+1) {
        clear: both;
    }
    .footer-about .row [class*="ftr-"]:nth-child(2n+1) {
        clear: both;
    }
}


/* + min-width: 992 to max-width: 1199 */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    /* + Footer Main */
    .footer-main-block .widget_newsletter,
    .footer-main-block .widget_contactus,
    .footer-main-block .ftr-widget.widget_pages {
        padding-left: 45px;
    }
    .footer-menu .ow-navigation .navbar-nav > li {
        margin-right: 13px;
    }
    .footer-menu .ow-navigation .navbar-nav > li > a {
        font-size: 11.5px;
    }
    .footer-about .ftr-social {
        padding-left: 12px;
    }
}


/* + max-width: 991 */

@media (max-width: 991px) {
    /* + Header Main*/
    .header-main::after {
        bottom: 0;
        height: 0;
    }
    /* + Section Padding */
    .section-padding {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    /* + Menu Block */
    .menu-block .user-cart {
        top: 13px;
        right: 70px;
    }
    .menu-block .user-cart a {
        width: 33px;
        height: 33px;
        line-height: 30px;
        font-size: 13px;
        margin-right: 5px;
    }
    /* + Footer Main */
    .footer-main-block .ftr-widget:nth-child(2n+1) {
        clear: both;
    }
    .footer-about .ftr-social,
    .footer-main-block .widget_newsletter,
    .footer-main-block .widget_contactus,
    .footer-main-block .ftr-widget.widget_pages {
        padding-left: 15px;
    }
    .footer-about .ftr-about {
        padding-right: 15px;
    }
    .footer-about {
        margin-top: -5px;
    }
    /* + Footer Menu */
    .footer-menu .ow-navigation .navbar-header {
        padding-bottom: 0;
    }
    .footer-menu .ow-navigation .nav.navbar-nav li > a {
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.12px;
        color: #919191;
    }
    .footer-menu .ow-navigation .nav.navbar-nav li > a:hover {
        color: #fd7140;
    }
    /* + Footer About */
    .footer-about .ftr-about {
        margin-bottom: 15px;
    }
    /* + PageBanner */
    .pagebanner .banner-content-block {
        top: 50%;
    }
    .pagebanner .banner-content {
        padding: 30px 40px;
    }
    .pagebanner .banner-content h3 {
        font-size: 25px;
    }
    /* + Section Header */
    .section-header h3 {
        font-size: 21px;
    }
}


/* + max-width: 767 */

@media (max-width: 767px) {
    /* + PageBanner */
    .pagebanner {
        min-height: 350px;
    }
    .pagebanner .banner-content-block {
        top: 50%;
    }
    .pagebanner .banner-content {
        padding: 20px 30px;
    }
    .pagebanner .banner-content h3 {
        font-size: 18px;
    }
}


/* +  max-width: 639 */

@media (max-width: 639px) {
    /* + PageBanner */
    .pagebanner .banner-content {
        padding: 15px 30px;
        min-width: 100%;
        display: inline-block;
        width: 100%;
    }
    .pagebanner .banner-content .breadcrumb li {
        font-size: 12px;
    }
    .pagebanner .banner-content .breadcrumb > li + li::before {
        padding: 0 5px;
    }
    .pagebanner .banner-content h3 {
        font-size: 14px;
        margin-bottom: 10px;
    }
    /* + Section Header */
    .section-header h3 {
        font-size: 17px;
    }
}


/* +  max-width: 479 */

@media (max-width: 479px) {
    /* + Footer Main */
    .footer-main-block .col-xs-6 {
        width: 100%;
    }
    /* + PageBanner */
    .pagebanner .banner-content-block {
        width: 100%;
    }
}

.page_block {
    width: 1170px;
    margin: 0 auto;
    background: #fff;
    overflow: hidden;
    padding: 0px 15px;
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.45);
}

.header-main .container {
    width: 1170px;
}

.logo_head .container {
    padding: 10px 0;
    margin: 0 auto;
}

.top_serch {
    background: #fff;
   
    border-radius: 0px;
    margin: 28px auto 0;
    width: 100%;
}

.top_logins ul {
    margin: 0;
    list-style: none;
    padding: 0;
    min-width: 185px;
}

.top_logins ul li {
    display: inline-block;
    margin: 35px 4px;
}

.top_logins ul li a {
    color: #8e8e8e;
    font-size: 14px;
    margin: 0px;
}

.logo_head .pull-right {
    width: 60%;
}

.container {
    padding-right: 0;
    padding-left: 0;
}

.top_serch input {
    width: 90%;
    border: 0;
    padding: 6px 10px;
    color: #000;
    outline: none;
     border: 1px solid #e6e6e6;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.shoptrading .section-header {
    margin: 10px 0 0px 0;
    border-bottom: 1px solid #e0e0e0;
}

.deal-section {
    margin-top: 20px;
}

span.dic_off {
    font-size: 28px;
    font-weight: bold;
    color: #373737;
	display:block;
}

.invite_box {
    background: #0c4572;
    min-height: 215px;
    padding: 45px 30px;
}

.earn_blck h3 {
    color: #fff;
    margin: 0;
    font-size: 23px;
    font-weight: normal;
}

.app_box img {
    margin-right: 10px;
}

.app_box h3 {
    color: #fff;
    margin-top: 0;
    font-size: 30px;
}

.earn_blck .input-group-btn button {
    background: #ff8d3d;
    padding-left: 20px;
    color: #fff;
    font-size: 14px;
    padding-right: 20px;
}

.earn_blck .input-group {
    width: 63%;
}

.invite_box h4 {
    font-size: 19px;
    color: #fff;
    font-weight: normal;
}

.tradingbox img {
    width: auto;
    height: 150px;
}

.app_box {
    background: #ff8d3d;
    min-height: 215px;
    padding: 45px 15px;
    padding-left: 12%;
}

.de_share i {
    font-size: 20px;
    margin: 0 5px;
}

.de_share i.fa-twitter {
    color: #65bbf2;
}

.de_share i.fa-facebook {
    color: #385c8e;
}

.de_share i.fa-whatsapp {
    color: #7ad06d;
}

.top_serch button {
    background: #ff8d3d;
    border: 0;
    font-size: 19px;
    color: #fff;
    float: right;
    width: 10%;
        padding: 4px 12px;
}

#home-slider .carousel-inner img {
    width: 100%;
}

.photobanner-content .form-control {
    color: #000;
    background-color: rgba(255, 255, 255, 0.58);
}

.deal-thmbimg img {
    width: auto;
    height: 115px;
}

.deal-section .deal-thmbimg {
    position: relative;
    text-align: center;
}

.detail-section p {
    color: #505050;
    font-size: 14px;
    /* letter-spacing: 0.77px; */
    line-height: 24px;
    /* text-transform: uppercase; */
}

.cl {
    clear: both;
}

.gray {
    background: #ececec;
}

.review-block {
    overflow-y: hidden;
    padding: 20px;
    border: 1px solid #e0e0e0;
    margin-bottom: 15px;
}
.review-block p {
font-size:14px;
}

.review-block h1 {
    margin: 0;font-size: 24px;
    padding-bottom: 10px;
    color: #0c4674;
    text-transform: uppercase;
    font-weight: 600;
}

.detail-section h3 {
    color: #0d426c;
    font-size: 21px;
    margin-bottom: 15px;
}

.speci-table tr td:first-child {
    border-left: 0;
}

.speci-table td {
    padding: 8px;
    border-bottom: 1px solid #dfe1e8;
    border-left: 1px solid #dfe1e8;
}

.speci-table th {
    padding: 8px;
    background: #f2f3f5;
    border-bottom: 1px solid #dfe1e8;
}

.review-block ul {
    padding: 0;
    margin: 0;
}

.review-block ul li {
    padding: 5px 0;
}

.review-block .good {
    font-size: 16px;
    color: #68b809;
    padding: 10px 0;
}

.review-block .bad {
    font-size: 16px;
    color: #cc0000;
    padding: 10px 0;
}

.score {
    font-size: 25px;
    color: #66b907;
    border-radius: 6px;
    border: 1px solid #66b907;
    padding: 30px;
    display: inline-block;
    text-align: center;
    width: 200px;
    padding-bottom: 0;
    margin-top: 60px;
}

.score span {
    color: #fff;
    font-size: 16px;
    display: block;
    background: #66b907;
    padding: 5px;
    margin: 0 -30px;
    margin-top: 25px;
}

.col-row {
    border-bottom: 1px solid #e1dede;
    overflow: hidden;
    padding: 10px 0;
}

.col-row:last-child {
    border-bottom: 0;
}

.face-block {
    overflow: hidden;
    padding: 15px;
    border: 1px solid #e0e0e0;
    margin-bottom: 15px;
}

.face-block .col-sp-one {
    float: left;
    width: 16%;
}

.face-block .col-sp-one span {
    display: block;
    font-size: 12px;
    color: #333;
    padding: 2px 0;
}

.face-block .col-sp-one span i {
    color: #17a084;
}

.face-block h4 {
    background: #f5f5f5;
    padding: 15px;
    border-bottom: 1px solid #e0e0e0;
    font-size: 16px;
    margin: -20px;
    margin-bottom: 10px;
}

.store-btn {
    color: #fff;
    padding: 10px;
    background: #337ab7;
    display: block;
    border-radius: 4px;
    text-align: center;
}

.store-btn:hover {
    text-decoration: none;
    background: #333;
    color: #fff !important;
}

.col-sp-one h5 {
    color: #000;
    font-size: 17px;
    font-weight: 600;
    margin: 0;
}

.pro-det-left {
    float: left;
    width: 40%;
    border: 1px solid #dfe1e8;
    padding: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.pro-det-right {
    float: left;
    width: 100%;
    margin-top: 15px;
}

.small-img ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.small-img ul li {
    float: left;
    width: 13%;
    border: 1px solid #dfe1e8;
    margin: 5px;
}

.off-blc {
    background: #f1ffef;
    padding: 10px;
    color: #0c4572;
    margin: 10px;
}

.off-blc p {
    padding: 5px 0;
}

.off-blc span {
    padding: 3px;
    border: 1px solid #bcc7bb;
    margin-right: 5px;
}

.ad-ph {
    padding: 10px;
    border-bottom: 1px solid #e3e3e3;
}

.ad-ph img {
    margin-bottom: 3px;
    max-width: 100%;
}

.pro-det-right h1 {
    margin: 10px 0;
    color: #0c4572;
    font-size: 22px;
    padding: 0 15px;
}

.rate-block {
    border-bottom: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
    padding: 10px;
}

.rate-block span {
    border: 1px solid #417505;
    color: #417505;
    padding: 3px;
    border-radius: 3px;
}

.rate-block i {
    color: #fca835;
}

.bed-cum {
    color: #626262;
    font-size: 13px;
    overflow: hidden;
    padding: 14px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.spe-tabs {
    background: #efefef;
}

.spe-tabs ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.spe-tabs ul li {
    display: inline-block;
}

.spe-tabs ul li a {
    padding: 10px 15px;
    display: block;
    color: #0c4572;
    border-right: 1px solid #b8c4ce;
}

.price-color {
    overflow: hidden;
    margin: 10px;
}

.price-color .price {
    float: left;
    width: 100%;
    padding: 10px;
    background: #efefef;
    font-weight: 600;
}

.price-color .price span {
    font-size: 20px;
}

.price-color .color {
    float: left;
    width: 50%;
    padding: 10px;
    background: #f4f4f4;
}

.price-color .color .yellow {
    background: #ffbe0d;
    width: 15px;
    height: 15px;
    border: 1px solid #b8c4ce;
    border-radius: 50%;
    display: inline-block;
    margin: 5px 0;
    vertical-align: bottom;
}

.price-color .color .white {
    background: #fff;
    width: 15px;
    height: 15px;
    border: 1px solid #b8c4ce;
    border-radius: 50%;
    display: inline-block;
    margin: 5px 0;
    vertical-align: bottom;
}

.price-color .color .black {
    background: #333;
    width: 15px;
    height: 15px;
    border: 1px solid #b8c4ce;
    border-radius: 50%;
    display: inline-block;
    margin: 5px 0;
    vertical-align: bottom;
}

.Popular-block {
    overflow-y: hidden;
    padding: 20px;
    clear: both;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 15px;
}

.Popular-block h3 {
    margin: 0;
    padding-bottom: 10px;
    color: #0c4674;
    text-transform: uppercase;
    font-weight: 600;
}

.Popular-block ul li {
    float: left;
    width: 25%;
    font-size: 17px;
    padding: 5px 0;
}

.Popular-block ul li a {
    color: #0c4572;
}

.cat-img {
    margin-bottom: 15px;
}

.cat-img img {
    width: 100%;
}

.cat-slider,
.categori-blc {
    overflow: hidden;
    clear: both;
}

.cat-slider h1 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin: 0;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
}

.cat-slider ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.cat-slider ul li {
    display: inline-block;
	float:left;
    width: 14%;
    text-align: center;
    margin: 8px;
}

.cat-slider ul li img {
    border: 1px solid #c7c7c7;
    width: 100%;
}

.cat-slider ul li h3 {
    font-size: 15px;
    margin: 5px 0;
}

.cat-slider ul li a {
    color: #666;
}

.categori-blc ul,.categori-blc-listview ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.categori-blc-listview .listview-img{float: left; width: 40%;}
.categori-blc-listview .listview-text{float: left; width: 60%; text-align: left;}
.categori-blc ul li h4,.categori-blc-listview ul li h4 {
    color: #333;
    font-size: 14px;
    margin: 5px 0;
}

.categori-blc ul li {
    display: inline-block;
    width: 24%;
    padding: 10px;
    text-align: center;
    margin: 2px;
    margin-bottom: 10px;
    border: 1px solid #dedede;
}

.categori-blc .rate-block,.categori-blc-listview .rate-block{
    border: 0px solid #e3e3e3;
    padding: 5px;
}

.categori-blc ul li img,.categori-blc-listview ul li img{
    max-width: 100%;max-height: 125px;
    min-height: 125px;
}

.categori-blc .price,.categori-blc-listview .price {
    color: #000;
}

.categori-blc .price span,.categori-blc-listview .price span {
    color: #989898;
    text-decoration: line-through;
}
.categori-blc-listview ul li {
    float: left;
    width: 49.55%;
    padding: 10px;
    text-align: center;
    margin: 0px;
    margin-bottom: 0px;
    border: 1px solid #dedede;
}
.filter-blc {
    padding: 15px;
    background: #f5f5f5;
    overflow: hidden;
    border: 1px solid #e8e6e6;
    margin-bottom: 15px;
}

.filter-blc h3 {
    margin: 5px 0;
    font-size: 18px;
    color: #535353;
    font-weight: 600;
}

.filter-blc h3 span a {
    float: right;
    color: #535353;
    font-size: 14px;
}

.filter-blc ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.filter-blc ul li {
    display: block;
    padding: 5px 0;
    color: #525252;
    font-size: 15px;
}

.filter-blc .fil-text {
    border: 1px solid #ccc;
    margin: 2px;
    margin-right: 10px;
}

.search-input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    width: 100%;
}

.sear-blc {
    position: relative;
}

.sear-blc i {
    position: absolute;
    top: 8px;
    right: 10px;
    color: #c4c4c4;
}

.gray-font {
    color: #848484;
    line-height: 20px;
}

.show {
    display: block;
    margin: 10px;
    text-align: right;
}

.show a {
    color: #2276b4;
}

.ad-ph-sub {
    overflow-y: hidden;
    margin-bottom: 2px;
    background: #f2f2f2;
}

.ad-ph-sub-img {
    float: left;
    width: 34%;
    background: #f2f2f2;
    padding: 5px 10px;
}

.ad-ph-sub-text {
    float: left;
    width: 66%;
    background: #ffbe0e;
    padding: 7px;
    position: relative;
}

.ad-ph-sub-text:before {
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    width: 0;
    height: 0;
    border-bottom: 59px solid #ffbe0e;
    border-left: 50px solid transparent;
}

.ad-ph-sub-text h3 {
    margin: 0;
    color: #000;
    font-size: 22px;
    font-weight: 600;
    padding: 0px;
}

.ad-ph-sub-text span {
    color: #fff;
    font-size: 14px;
}

.goto {
    float: right;
    display: inline-block;
    padding: 5px 20px;
    color: #fff;
    float: right;
    background: #0c4572;
    margin-top: 7px;
}

.goto:hover {
    background: #333;
    color: #fff !important;
}

.goto i {
    margin-left: 15px;
    font-size: 18px;
}

.mfp-no-margins img.mfp-img {
    padding: 0;
}


/* position of shadow behind the image */

.mfp-no-margins .mfp-figure:after {
    top: 0;
    bottom: 0;
}


/* padding for main container */

.mfp-no-margins .mfp-container {
    padding: 0;
}

.fixed-tabs {
    position: fixed;
    top: 0px;
    left: auto;
    width: 100%;
    z-index: 5;
    right: auto;
    max-width: 1070px;
}

.ss-dd,
.ss-dd2 {
    color: #858585;
    font-size: 16px;
    padding-top: 5px;
    display: block;
}

.ss-dd2 {
    text-align: right;
}

.brands-bloc ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.brands-bloc ul li {
    display: inline-block;
    width: 17%;
    margin: 14px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    min-height: 70px;
}

.alpha-blc {
    text-align: left;
    display: block;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    overflow: hidden;
    margin-bottom: 15px;
}

.alpha-blc ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.alpha-blc ul li {
    display: inline-block;
    margin: 0px;
}

.alpha-blc ul li a {
    padding: 3px 8px;
    border: 1px solid #ccc;
    display: block;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    color: #666;
}

.alpha-blc ul li a:hover {
    text-decoration: none;
    background: #efefef;
}

.list-blcc {
    overflow: hidden;
    border: 1px solid #ebebeb;
    padding: 15px;
    margin-bottom: 15px;
}

.offe-blc {
    float: left;
    width: 10%;
    color: #558b2f;
    font-size: 15px;
}

.offe-blc span {
    color: #558b2f;
    font-size: 20px;
    display: block;
    font-weight: 600;
}

.offe-blc-mid {
    float: left;
    width: 90%;
    margin: 0 0px;
    padding-right: 0px;
}

.offe-blc-mid p {
    font-size: 13px;
    color: #a5a5a6;
}
.btn{white-space: normal; }
.offe-blc-mid .js-open-modal.btn {padding:0;}
.offe-blc-mid h3 {
    margin: 5px 0;
    color: #0c4572;
	text-align:left;white-space: normal; 
    font-size: 20px;
}

.offe-blc-right {
    float: left;
    width: 15%;
}

.kj-lee {
    text-align: center;
    padding: 5px;
    background: #ebebeb;
}

.text-center {
    text-align: center;
}

.rc {
    padding: 7px 20px;
    font-size: 14px;
    display: inline-block;
    background: #ff8d3d;
    color: #fff;
    margin: 4px;
    border-radius: 3px;
    text-align: center;
}

.gd {
    padding: 7px 20px;
    font-size: 14px;
    display: inline-block;
    background: #0c4572;
    color: #fff;
    margin: 4px;
    border-radius: 3px;
    text-align: center;
}

.code {
    color: #ebebeb;
    background: #93b393;
    text-align: center;
    padding: 3px;
    margin-top: 3px;
    display: block;
}

.verfy {
    color: #558b2f;
    font-size: 13px;
    clear: both;
    margin-top: 10px;
}

.verfy img {
    vertical-align: middle;
}

.social {
    padding-top: 0px;
    margin-top: 0px;
}

.cat-img-blc {
    border: 1px solid #efefef;
    margin-bottom: 15px;
}

.cat-img-blc img {
    width: 100%;
}

.accash a {
    display: block;
    padding: 10px;
    color: #fff;
    background: #0c4572;
    text-align: center;
}

.la-hdd {
    color: #0c4572;
    margin: 10px 0;
}

.sp-table {
    margin-bottom: 20px;
}

.sp-table td {
    padding: 7px 10px;
    width: 20%;
    background: #f6f5f5;
    border: 1px solid #dcdbdb;
}

.sp-table h2 {
    color: #13588f;
    font-size: 20px;
    margin: 10px 0;
    font-weight: 600;
}

.compare-tabs {
    margin: 20px 0;
    text-align: center;
}

.compare-tabs ul {
    padding: 0;
    margin: 0;
    list-style: none;
    background: #f5f5f5;
    display: inline-block;
}

.compare-tabs li {
    display: inline-block;
    text-align: center;
}

.compare-tabs li a {
    display: block;
    padding: 10px 30px;
    border-right: 1px solid #ccc;
}

.compare-tabs li:last-child a {
    border: 0;
}

.compare-tabs li a.active {
    background: #ff8d3d;
    color: #fff;
    border-radius: 4px 0 0 4px;
}

.view-type {
    margin: 6px 0 0;
    vertical-align: bottom;
    float: right;
    z-index: 0;
    position: relative;
}

.view-type span {
    vertical-align: top;
    display: inline-block;
    font-size: 13px;
    padding-top: 4px;
    color: #337ab7;
}

.view-type a.active {
    color: #2e90c8;
    background: #fff;
}

.view-type a.active {
    color: #2e90c8;
    background: #fff;
}

.view-type a {
    font-size: 16px;
    color: #b7b6b6;
    display: inline-block;
    height: 30px;
    width: 30px;
    margin-left: 5px;
    text-align: center;
    padding: 5px;
    background: #efefef;
    border: 1px solid #dfe1e8;
}
.js-open-modal.btn{font-weight: 600;}
.dropdown-menu .topsection {
    background: #f3f5f5;
    padding: 10px;
    text-align: right;
}

.btn-danger {
    background-color:#ff8d3d;
    border-color: #ff8d3d;
    color: #fff !important;
    padding: 10px 12px !important;
}
.photobanner{
    margin-top:10px;
}

#compareproducts:hover{

    background-color:#ff8d3d;
    border:1px solid #ff8d3d;
}
.newuser {
    display: inline-block;
    padding: 15px 5px;
    color: #666 !important;
    font-size: 11px;
}
.newsletter-block span{color:#0b416c;display: inline-block; float:none; padding:5px;    background: #efefef;}
.newsletter-block span:before{ content:''; height:1px; background:#ccc; width:39%; position:absolute; top:31px; left:0; z-index:0;}
.newsletter-block span:after{ content:''; height:1px; background:#ccc; width:39%; position:absolute; top:31px; right:0; z-index:0;}
.gray-clor{background: #efefef; padding: 10px; overflow-y: hidden; margin-top: 20px;}
.gray-clor .code{ color: #fff; display: inline-block; padding:5px 10px; border-radius: 4px; background: #0b416c; }
.news-blc{ width: 100%; margin: 10px; clear:both; }
.news-blc input{padding: 10px; background: #fff; border:0; width: 80%; float: left; border-radius:6px 0 0 6px; }
.news-blc button{ float: left; width: 20%; border:0; color: #fff; padding: 10px; background: #e66d17; border-radius:0 6px 6px 0; }
.newsletter-block{padding: 15px; overflow:hidden; position:relative; text-align:center;}
.text-left{text-align: left;}

/*.mobile-login{display:none;}
mobile-blc{display:none;}*/
.mobile_ap{ display: none; }
.modal-box {
    display: none;
    position:   absolute;
    z-index: 1000;
    width: 50%;
    background: white;
    border-bottom: 1px solid #aaa;
    border-radius: 4px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-clip: padding-box;
}



.modal-box header,
.modal-box .modal-header {
    padding: 1.25em 1.5em;
    border-bottom: 1px solid #ddd;
}

.modal-box header h3,
.modal-box header h4,
.modal-box .modal-header h3,
.modal-box .modal-header h4 {
    margin: 0;
}

.modal-box .modal-body {
    padding: 2em 1.5em;
   
    border-radius: 10px;
    position: relative;
    background: url(images/pop-bg.jpg) repeat-y top center;
}
.center-logo{text-align: center; margin: 15px 0;}
.coupon-popp .modal-body{ background: #fff;  text-align: center; padding: 2em 1.5em;
    border-radius: 10px;
    position: relative; }
.modal-box footer,
.modal-box .modal-footer {
    padding: 1em;
    border-top: 1px solid #ddd;
    background: rgba(0, 0, 0, 0.02);
    text-align: right;
}

.modal-overlay {
    opacity: 0;
    filter: alpha(opacity=0);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5) !important;
}

.succes-point figure {
    margin-top: -30px
}

.succes-point ul {
    margin: 10px 0 0;
    padding: 0
}

.succes-point ul li {
    margin: 0;
    padding: 10px 0 0;
    list-style: none;
    display: block
}

.succes-point ul li img {
    float: left;
    padding-right: 10px
}

.succes-point ul li p {
    float: none;
    overflow: hidden;
    font-size: 16px;
    color: #ff8d3d;
}

.succes-point ul li p strong {
    display: block;
    font-size: 11px;
    color: #4f4f4f;
    font-weight: 400
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
}

.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}

.login-model .nav-tabs>li.active>a,
.login-model .nav-tabs>li.active>a:focus,
.login-model .nav-tabs>li.active>a:hover {
    border: 0;
    border-bottom: 2px solid #cd3232;
    color: #000;
    cursor: default;
}

.gn-menu-main {
    display: none;
}

.close2 {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 22px;
    float: none;
}


/* MENU */

.menu {
    float: left;
    a {
        padding: 0 10px;
    }
    a:hover {
        color: #c5cae9;
    }
}


/* RESPONSIVE */

@media only screen and (max-width: 768px) {
    .site-pusher,
    .site-container {
        height: 100%;
    }
    .site-container {
        overflow: hidden;
    }
    .site-pusher {
        @include transition-duration(0.3s);
        @include transform(translateX(0px));
    }
    .site-content {
        position: absolute;
        top: 66px;
        right: 0;
        left: 0;
        bottom: 0;
        padding-top: 0;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
    .header {
        position: static;
    }
    .header__icon {
        position: relative;
        display: block;
        float: left;
        width: 50px;
        height: 66px;
        cursor: pointer;
        &:after {
            content: '';
            position: absolute;
            display: block;
            width: 1rem;
            height: 0;
            top: 16px;
            left: 15px;
            @include box-shadow(0 10px 0 1px #fff,
            0 16px 0 1px #fff,
            0 22px 0 1px #fff);
        }
    }
    .menu {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        background-color: darken($header-bg, 5);
        /*    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;*/
        width: $menu-width;
        @include transform(translateX($menu-width * -1));
        a {
            display: block;
            height: 40px;
            text-align: center;
            line-height: 40px;
            border-bottom: 1px solid $header-bg;
        }
    }
    .with--sidebar {
        .site-pusher {
            @include transform(translateX($menu-width));
        }
        .site-cache {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.6);
        }
    }
}

@media only screen and (min-width: 960px) and (max-width: 1199px) {
    .page_block,
    .header-main .container {
        width: 95%;
    }
    .tradingbox {
       
    }
    .top_serch,
    .logo_head .pull-right {
        width: 100%;
    }
    .app_box img {
        width: 46%;
    }
    .ow-navigation .nav > li {
        margin-right: 0;
    }
    .ow-navigation .navbar-nav > li > a {
        padding: 10px 10px;
    }
    .brands-bloc ul li {
        margin: 12px;
    }
    .Popular-block ul li {
        width: 33%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .page_block,
    .header-main .container {
        width: 95%;
    }
    .top_serch input {
        width: 90%;
    }
    .photobanner-content {
        max-width: 537px;
        top: 44%;
    }
    .tradingbox {
      
    }
    .deal-section .col-sm-3 {
        width: 50%;
    }
    .logo_head .col-md-3 {
        width: 25%;
        float: left;
    }
    .logo_head .col-md-6 {
        width: 50%;
        float: left;
    }
    .top_serch,
    .logo_head .pull-right {
        width: 100%;
    }
    .Popular-block ul li {
        width: 50%;
    }
    .brands-bloc ul li {
        width: 21%;
        margin: 10px;
    }
    .alpha-blc ul li {
        display: inline-block;
        margin: 4px;
    }
    .app_box img {
        margin-right: 10px;
        width: 45%;
    }
    .invite_box {
        padding: 35px 30px;
    }
}

@media only screen and (max-width:767px) {
    .header-main {
        background: #0c4572;
        position: fixed;
        top: 0;
        width: 100%;
        left: auto;
        right: auto;
        z-index: 8;
    }
    .app_box h3 {
    color: #ff7200;
    margin-top: 0;
    font-size: 26px;
}
    .desktoapp{display: none;}
    .mobile_ap{ display: inline-block; }
    .app_box {
    background: #ffffff;
    min-height: auto;
    padding: 45px 30px;
    padding-left: 12%;
    text-align: center !important;
}
    .page_block {
        margin-top: 29%;
    }
    .logo_head .pull-right {
        width: 100%;
    }
    .top_logins ul li a {
        color: #f5f5f5;
        font-size: 13px;
        margin: 0 6px;
    }
    .product_box {
    white-space: nowrap;
    overflow-y: auto;
}
.tradingbox {
 
    padding: 5px;
    margin: 0px;
    display: inline-block;
    float: none;
}

}

@media only screen and (max-width: 767px) {
.pro-det-right {
    margin-top: 0;
    padding:0px;
    margin:0px;
}

.pro-det-right .row,.pro-det-right .row {
    
    padding:0px !important;
    margin:0px !important;
}

}

@media only screen and (min-width: 481px) and (max-width: 767px) {
   .top_logins {
        margin-top: 8px;
    }
    .tradingbox {
    
        padding: 5px;
        margin: 0px;
    }
    .page_block,
    .invite_box,
    .app_box,
    .earn_blck .input-group,
    .header-main .container,
    .offe-blc,
    .offe-blc-mid,
    .Popular-block ul li {
        width: 100%;
    }
    .invite_box:before {
        display: none;
    }
    #home-slider {
        display: none;
    }
    .tradingbox h3 {
        margin: 4px;
        font-size: 20px;
    }
    .app_box,
    .invite_box {
        padding: 20px !important;
        text-align: center;
    }
    .app_box img {
        margin: 10px;
    }
    .navbar-toggle {
        color: #000;
    }
    .social {
        margin: 10px;
    }
    .navbar-header,
    .list-blcc .ss-dd,
    .social,
    .ss-dd2,
    .ftr-social {
        text-align: center;
    }
    .navbar-toggle {
        position: absolute;
        top: 0px;
        left: 0px;
        background: #0c4572;
    }
    .navbar-toggle .icon-bar {
        background: #fff;
    }
    .top_serch {
        width: 93%;
        border: 1px solid #e6e6e6;
        margin-top: 4px;
        margin-left: 6%;
    }
    .pro-det-right {
        margin-top: 0;
        padding:0px;
        margin:0px;
    }
    .invite_box {
        display: none;
    }
    .top_serch input {
        width: 76%;
        padding: 2px 10px;
    }
    .photobanner-content {
        display: none;
    }
    .earn_blck h3 {
        font-size: 20px;
    }
    .copyright ul {
        float: none;
    }
    .copyright ul li {
        display: inline-block;
        float: none;
    }
    .ow-navigation .navbar-nav {
        padding: 10px;
    }
    .ow-navigation .nav.navbar-nav li > a,
    .ow-navigation .navbar-collapse > ul > li > a {
        padding: 7px;
    }
    .brands-bloc ul li {
        margin: 0px;
        width: 33%;
        float: left;
    }
    .Popular-block {
        
    }
    .page_block h2 {
        font-size: 25px;
        margin-top: 0;
    }
    .alpha-blc ul li {
        margin: 3px;
    }
    .page_block {
        box-shadow: none;
    }
    .top_logins ul li {
        margin: 0px 2px;
    }
    .dealbox {
        margin-bottom: 15px;
    }
    .cat-slider ul li {
        width: 26%;
    }
    .cat-slider ul li h3 {
        font-size: 12px;
    }
    .categori-blc ul li {
        width: 49%;
        margin-bottom: 5px;
    }
    .login {
        display: block;
    }
    .mobile-header ul.login {
        margin: 0;
        padding: 15px 0 0;
        padding-top: 10px;
    }
    .fa-4 {
        font-size: 19px;
        color: #fff;
        margin-right: 12px;
    }
    ul.login>li {
        display: inline-block;
        text-align: center;
        padding-left: 0;
        vertical-align: top;
    }
    .mobile-blc {
        display: block;
    }
    .mobile-login {
        position: absolute;
        top: 10px;
        right: 10px;
        display: block;
    }
    .mobile-login li {
        list-style: none;
        float: left;
    }
    .mobile-login li a {
        color: #fff;
    }
    .js-open-modal.btn {
        color: #333;
    }
    /*.mob-see{display:none;}*/
    .page_block {
        margin-top: 20%;
        padding: 0 0;
    }
    .catt .page_block {
        margin-top: 13%;
    }
    .face-block .col-sp-one {
        width: 50%;
    }
    .pro-det-left,
    .pro-det-right,
    .price-color .price,
    .price-color .color,
    .ad-ph-sub-img,
    .ad-ph-sub-text {
        width: 100%;
    }
    .bed-cum {
        text-align: center;
    }
    .bed-cum .fl,
    .bed-cum .fr {
        float: none;
    }
    .fixed-tabs {
        position: relative;
    }
    .cat-slider {
        display: none;
    }
    .filter-blc {
        margin-bottom: 10px;
    }
    .col-lg-1,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-xs-1,
    .col-xs-10,
    .col-xs-11,
    .col-xs-12,
    .col-xs-2,
    .col-xs-3,
    .col-xs-4,
    .col-xs-5,
    .col-xs-6,
    .col-xs-7,
    .col-xs-8,
    .col-xs-9 {
        padding: 0 10px;
    }
    .page_block .col-md-3,
    .mob-see,
    .cat-img {
        display: none;
    }
    .mobile-login {
        display: block;
    }
    .logo_head {
        padding: 0;
    }
    .mob-filt {
        display: block;
        background: #fff;
        overflow: hidden;
        border-bottom: 1px solid #e0e0e0;
    }
    .mob-filt ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    .mob-filt ul li {
        float: left;
        width: 50%;
        text-align: center;
        border-right: 1px solid #e0e0e0;
    }
    .mob-filt ul li:last-child {
        border: 0;
    }
    .mob-filt ul li a {
        padding: 10px;
        display: block;
        color: #000;
    }
    .spe-tabs ul li a {
        padding: 5px 10px;
        display: block;
        color: #0c4572;
        border-right: 1px solid #b8c4ce;
        text-transform: lowercase;
    }
    .menu-block .ow-navigation .navbar-nav {
        display: none;
    }
    .box {
        width: 70%;
    }
    .popup {
        width: 70%;
    }
    .ss-select {
        padding: 5px 0;
    }
    .ss-select input {
        float: right;
    }
    .mobil-menu {
        display: block;
    }
    .mobil-menu .cd-dropdown-trigger::before,
    .cd-dropdown-trigger::after {
        display: none;
    }
    .mobil-menu .cd-dropdown-trigger {
        display: block;
        position: relative;
        padding: 0 5px 0 5px;
        line-height: 40px;
        background-color: #0c4572;
        color: #ffffff;
        border-radius: 0px;
    }
    .hidden-xs {
        display: none;
    }
    .modal-box .modal-body {
        background: #fff;
    }
    .gn-menu-main {
        display: block;
    }
    .navbar-header a img {
        padding: 0;
            vertical-align: middle;
    }
	.mobile-popular-cat{display:block;}
	.pop-blc{float:left; width:33.3%; border:1px solid rgba(204, 204, 204, 0.42); text-align:center;    min-height: 84px;
    background-color: #fff;}
	.grid_pop_cat_pic {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #fff;
}
	.grid_pop_cat_pic img {
    height: 40px;
    width: 50px;
    display: inline-block;
}
.grid_pop_text h6 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 10px;
}
.type_heading {
    font-size: 16px;
    border-bottom: 1px solid #ddd; font-weight:600;
    padding: 10px 5px;
}
.mobile-view-menu {
	display:block;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
    background: #fff none repeat scroll 0 0;
    top: 45px;
    left: 0;
    margin: 0;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 2;
    padding: 0;
}
.mobile-view-menu li {
    border-right: 1px solid #ccc;
    color: #4d4d53;
    display: inline-block;
    font-size: 14px;
    margin: 0;
    padding: 10px;
    vertical-align: middle;
    width: 49%;
}
.mobile-view-menu li:last-child {
    border-right: 0;
}
.mobi-filter-bc{display: none; background: #fff;    height: 100%;
    
    position: fixed;
    z-index: 66666;
    top: 0;left:0;
    width: 100%;}
    .filter-hdd{background: #f2f3f5; padding: 10px;    border-bottom: 1px solid #e0e0e0;}
    .filter-hdd .clearall{float: right;}
.checkbox-inline {
    border-bottom: 1px dashed #dfe1e8; padding: 5px; width: 100%; margin-left: 0!important;
}  
.checkbox-inline input[type=checkbox]{ position: relative; margin:0;}
.scro-ll{height: 100%; overflow-y: scroll;}  
.left-fill{  background: #f2f3f5;    height: 100%; padding: 0;}
.filter-bottom-btn{position: fixed; bottom: 0; width: 100%;}
.filter-bottom-btn button{ padding: 10px; color: #fff; background:#535353; border:0; width: 50%; float: left;}
.filter-bottom-btn .red{ background: #d9534f;}
.categori-blc-listview ul li{ width: 100%; }
.deal-section .gth{ display:block;}
  .modal-box {
        width: 80%;    top: 60px !important;
    }
	.row{margin:0;}
      .section-header {margin-bottom: 0;}.section-header h3{margin-bottom: 0;}
	  .iner-mob{display:block;}
	  .margin10{margin-top: 10%;}.gtrr,.gray-clor{display:none;}
	  .news-blc button,.news-blc input{width:100%; border-radius:0;}
	  .gray-clor h3{font-size:18px;}
	  .pop-padding h3{    font-size: 20px;}.code-blc button{border-radius:0;}.sdfg{display:none;}
}

@media only screen and (max-width: 480px) {
    .top_logins {
        margin-top: 8px;
    }
    .tradingbox {
    
        padding: 5px;
        margin: 0px;
    }
    .page_block,
    .invite_box,
    .app_box,
    .earn_blck .input-group,
    .header-main .container,
    .offe-blc,
    .offe-blc-mid,
    .Popular-block ul li {
        width: 100%;
    }
    .invite_box:before {
        display: none;
    }
    #home-slider {
        display: none;
    }
    .tradingbox h3 {
        margin: 4px;
        font-size: 20px;
    }
    .app_box,
    .invite_box {
        padding: 20px !important;
        text-align: center;
    }
    .app_box img {
        margin: 10px;
    }
    .navbar-toggle {
        color: #000;
    }
    .social {
        margin: 10px;
    }
    .navbar-header,
    .list-blcc .ss-dd,
    .social,
    .ss-dd2,
    .ftr-social {
        text-align: center;
    }
    .navbar-toggle {
        position: absolute;
        top: 0px;
        left: 0px;
        background: #0c4572;
    }
    .navbar-toggle .icon-bar {
        background: #fff;
    }
    .top_serch {
        width: 93%;
        border: 1px solid #e6e6e6;
        margin-top: 4px;
        margin-left: 6%;
    }
    .pro-det-right {
        margin-top: 0;
    }
    .invite_box ,.app_box{
        display: none;
    }
    .top_serch input {
        width: 76%;
        padding: 2px 10px;
    }
    .photobanner-content {
        display: none;
    }
    .earn_blck h3 {
        font-size: 20px;
    }
    .copyright ul {
        float: none;
    }
    .copyright ul li {
        display: inline-block;
        float: none;
    }
    .ow-navigation .navbar-nav {
        padding: 10px;
    }
    .ow-navigation .nav.navbar-nav li > a,
    .ow-navigation .navbar-collapse > ul > li > a {
        padding: 7px;
    }
    .brands-bloc ul li {
        margin: 0px;
        width: 33%;
        float: left;
    }
    .Popular-block {
        padding: 0;
    }
	.gtrr{padding:20px;}
    .page_block h2 {
        font-size: 25px;
        margin-top: 0;
    }
    .alpha-blc ul li {
        margin: 3px;
    }
    .page_block {
        box-shadow: none;
    }
    .top_logins ul li {
        margin: 0px 2px;
    }
    .dealbox {
        margin-bottom: 15px;
    }
    .cat-slider ul li {
        width: 26%;
    }
    .cat-slider ul li h3 {
        font-size: 12px;
    }
    .categori-blc ul li {
        width: 48%;
        margin-bottom: 5px;
    }
    .login {
        display: block;
    }
    .mobile-header ul.login {
        margin: 0;
        padding: 15px 0 0;
        padding-top: 10px;
    }

    .fa-4 {
        font-size: 19px;
        color: #fff;
        margin-right: 12px;
    }
    ul.login>li {
        display: inline-block;
        text-align: center;
        padding-left: 0;
        vertical-align: top;
    }
    .mobile-blc {
        display: block;
    }
    .mobile-login {
        position: absolute;
        top: 14px;
        right: 10px;
        display: block;
    }
    .mobile-login li {
        list-style: none;
        float: left;
    }
    .mobile-login li a {
        color: #fff; font-size: 17px;
    }
    .js-open-modal.btn {
        color: #333;
    }
    /*.mob-see{display:none;}*/
    .page_block {
        margin-top: 20%;
        padding: 0 0;
    }
	.nkuy { margin-top: 12%;}
	.margin10{margin-top: 10%;}
    .catt .page_block {
        margin-top: 23%;
    }
    .face-block .col-sp-one {
        width: 50%;
    }
	.ad-ph-sub-text:before{display:none;}
    .pro-det-left,
    .pro-det-right,
    .price-color .price,
    .price-color .color,
	.pro-det-left,
	.pro-det-right
    {
        width: 100%;
    }
    .bed-cum {
        text-align: center;
    }
    .bed-cum .fl,
    .bed-cum .fr {
        float: none;
    }
    .fixed-tabs {
        position: fixed;
		top:50px;
		overflow-x:scroll;
		      height: 45px;
    padding: 4px;
    }
	.detail-section{padding:10px;}
	.spe-tabs ul li{float:left;}
    .cat-slider {
        display: none;
    }
    .filter-blc {
        margin-bottom: 10px;
    }
    .col-lg-1,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-xs-1,
    .col-xs-10,
    .col-xs-11,
    .col-xs-12,
    .col-xs-2,
    .col-xs-3,
    .col-xs-4,
    .col-xs-5,
    .col-xs-6,
    .col-xs-7,
    .col-xs-8,
    .col-xs-9 {
        padding: 0 10px;
    }
    
    .mob-see,
    .cat-img {
        display: none;
    }
    .mobile-login {
        display: block;
    }
    .logo_head {
        padding: 0;
    }
    .mob-filt {
        display: block;
        background: #fff;
        overflow: hidden;
        border-bottom: 1px solid #e0e0e0;
    }
    .mob-filt ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    .mob-filt ul li {
        float: left;
        width: 50%;
        text-align: center;
        border-right: 1px solid #e0e0e0;
    }
    .mob-filt ul li:last-child {
        border: 0;
    }
    .mob-filt ul li a {
        padding: 10px;
        display: block;
        color: #000;
    }
    .spe-tabs ul li a {
    
    padding: 5px 5px;
    display: block;
    color: #0c4572;
    border: 1px solid #b8c4ce;
    text-transform: CAPITALIZE;
    margin: 6px 0px;

    }
    .menu-block .ow-navigation .navbar-nav {
        display: none;
    }
    .box {
        width: 70%;
    }
    .popup {
        width: 70%;
    }
    .ss-select {
        padding: 5px 0;
    }
    .ss-select input {
        float: right;
    }
    .mobil-menu {
        display: block;
    }
    .mobil-menu .cd-dropdown-trigger::before,
    .cd-dropdown-trigger::after {
        display: none;
    }
    .mobil-menu .cd-dropdown-trigger {
        display: block;
        position: relative;
        padding: 0 5px 0 5px;
        line-height: 40px;
        background-color: #0c4572;
        color: #ffffff;
        border-radius: 0px;
    }
    .hidden-xs {
        display: none;
    }
    .modal-box .modal-body {
        background: #fff;
		padding:10px;
    }
    .gn-menu-main {
        display: block;
    }
    .navbar-header a img {
        padding: 3px;
            vertical-align: middle;
    }
	.mobile-popular-cat{display:block;}
	.pop-blc{float:left; width:33.3%; border:1px solid rgba(204, 204, 204, 0.42); text-align:center;    min-height: 84px;
    background-color: #fff;}
	.grid_pop_cat_pic {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #fff;
}
	.grid_pop_cat_pic img {
    height: 40px;
    width: 50px;
    display: inline-block;
}
.grid_pop_text h6 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 10px;
}
.type_heading {
    font-size: 16px;
    border-bottom: 1px solid #ddd; font-weight:600;
    padding: 10px 5px;
}
.mobile-view-menu {
	display:block;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
    background: #fff none repeat scroll 0 0;
    top: 51px;
    left: 0;
    margin: 0;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 2;
    padding: 0;
}
.mobile-view-menu li {
    border-right: 1px solid #ccc;
    color: #4d4d53;
    display: inline-block;
    font-size: 14px;
    margin: 0;
    padding: 10px;
    vertical-align: middle;
    width: 49%;
}
.mobile-view-menu li:last-child {
    border-right: 0;
}
.mobi-filter-bc{display: none; background: #fff;    height: 100%;
    
    position: fixed;
    z-index: 66666;
    top: 0;left:0;
    width: 100%;}
    .filter-hdd{background: #f2f3f5; padding: 10px;    border-bottom: 1px solid #e0e0e0;}
    .filter-hdd .clearall{float: right;}
.checkbox-inline {
    border-bottom: 0px dashed #dfe1e8; padding: 5px; width: 100%; margin-left: 0!important;
}  
.checkbox-inline input[type=checkbox]{ position: relative; margin:0;}
.scro-ll{height: 100%; overflow-y: scroll;}  
.left-fill{  background: #f2f3f5;    height: 100%; padding: 0;}
.filter-bottom-btn{position: fixed; bottom: 0; width: 100%;}
.filter-bottom-btn button{ padding: 10px; color: #fff; background:#535353; border:0; width: 50%; float: left;}
.filter-bottom-btn .red{ background: #d9534f;}
.categori-blc-listview ul li{ width: 100%; }
.deal-section .gth{ display:block;}
  .modal-box {
        width: 80%;    top: 60px !important;
    }
	.spe-tabs{    overflow-x: scroll;
    height: 45px;
    padding: 4px;}
	.ad-ph-sub-img { width:30%;} .ad-ph-sub-text { width:70%;}
	.goto{    padding: 5px 10px;}
	.row{margin:0;}
    .section-header {margin-bottom: 0;}.section-header h3{margin-bottom: 0;}
    .mobi-foloow{list-style: none; padding: 0; margin: 0;}
  
    .mobi-foloow li{ display: inline-block; margin: 0px;}
    .mobile-follow{float: left; text-align: center;padding:7px; display: block; width: 50%;}
    .cat-links-wrapper{padding: 10px;}
    .footer-main-block,.cat-links-wrapper{display: none;}
	.iner-mob{display:block;}
	.gtrr,.gray-clor{display:none;}
	.news-blc button,.news-blc input{width:100%; border-radius:0;}
	 .gray-clor h3{font-size:18px;}
	 .coupon-popp{position:fixed;}
	 .pop-padding h3{    font-size: 20px;}
	 .code-blc button{border-radius:0;}
	 .spe-tabs ul{width:700px;}
    .team-list .team-item .profile-description{}
    .team-list .team-item .profile{width: 100%;}
    .team-list .team-item .profile-description{width: 100%; position: relative; text-align: center; right: auto;}
    .one_half{width: 100%; margin: 0;}
    .face-block{display: none;}.sdfg{display:block;}
}













.accordionjs {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 10px;
  margin-bottom: 20px;
}
.accordionjs .acc_section {
  border: 1px solid #ccc;
  position: relative;
  z-index: 10;
  margin-top: -1px;
  overflow: hidden;
}
.accordionjs .acc_section .acc_head {
  position: relative;
  background: #fff;
  padding: 10px;
  display: block;
  cursor: pointer;
}
.accordionjs .acc_section .acc_head h3 {
  line-height: 1;
  margin: 5px 0;
}
.accordionjs .acc_section .acc_content {
  padding: 10px;
}
.accordionjs .acc_section:first-of-type,
.accordionjs .acc_section:first-of-type .acc_head {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.accordionjs .acc_section:last-of-type,
.accordionjs .acc_section:last-of-type .acc_content {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.accordionjs .acc_section.acc_active > .acc_content {
  display: block;
}
.accordionjs .acc_section.acc_active > .acc_head {
  background: #F9F9F9;
  border-bottom: 1px solid #ccc;
}
