<ion-header>
    <ion-navbar>
        <ion-title home>
            <ion-icon padding-right name="close" tappble (click)="dismiss()"></ion-icon>
            FILTER BY
        </ion-title>
        <ion-buttons end>
            <button font13 (click)="clearAllFilters()" ion-button icon-only>
                Clear All
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-grid no-padding class="filterpage">
        <ion-row>
            <ion-col class="selectedfilters">
                <span *ngFor="let filter of filters">
                    <span *ngFor="let filterValue of filter.values">
                        <button ion-button outline item-end *ngIf="filterValue.selected" (click)="removeFilter(filterValue)">
                            {{filterValue.name}}
                            <ion-icon padding-left name="close"> </ion-icon>
                        </button>
                    </span>
                </span>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-5 class="filternames">
                <div *ngFor="let filter of filters">
                    <ion-item [ngClass]="{'active': filter.display}" no-padding text-left (click)="displayFilterOptions(filter)">
                        {{filter.name}}
                        <span text-right *ngIf="filter.display" class="dot"></span>
                    </ion-item>
                </div>
            </ion-col>
            <ion-col col-7 class="filterlist">
                <div *ngFor=" let filter of filters ">
                    <ion-list *ngIf="filter.display && filter.type=='list' ">

                        <div *ngFor="let filterValue of filter.values ">
                            <ion-item no-padding (click)="toggleFilter(filter,filterValue) ">
                                {{filterValue.name}}
                                <ion-icon text-right *ngIf="filterValue.selected" name="checkmark"></ion-icon>
                            </ion-item>
                        </div>
                    </ion-list>
                </div>
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>
<ion-footer>
    <ion-grid class="filteraction" no-padding no-margin>
        <ion-row *ngIf="filters && filters.length ">
            <ion-col>
                <ion-item font13 text-center (click)="dismiss()">
                    Close
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item class="filterbutton" text-center (click)="filter()">
                    APPLY FILTER
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>