<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title text-uppercase>
            Nayashopi
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="compareproduct">
    <ion-card no-padding no-margin class="widthfull">
        <ion-card-header>
            Comparison of {{product1.label}} vs {{product2.label}}
        </ion-card-header>
        <ion-card-content class="compareblockhome">
            <ion-grid>
                <ion-row padding-top class="noborder">
                    <ion-col col-5>


                        <ion-item activecompare text-center>
                            <ion-icon name="create" float-right class="noborder" tappable (click)="selectFirstProduct()"></ion-icon>
                            <div class="minheight ">
                                <img class="thubnail-image" src="http://www.nayashopi.in/{{product1.icon}}" />
                            </div>
                            <ion-note>{{product1.label}}</ion-note>
                            <h3>
                                <i class="fa fa-rupee"></i>{{product1.lowest_price}}</h3>
                        </ion-item>
                    </ion-col>
                    <ion-col col-2>
                        <ion-badge item-center>vs</ion-badge>
                    </ion-col>
                    <ion-col col-5>
                        <ion-item activecompare text-center>
                            <ion-icon name="create" float-right class="noborder" tappable (click)="selectSecondProduct()"></ion-icon>
                            <div class="minheight ">
                                <img class="thubnail-image" src="http://www.nayashopi.in/{{product2.icon}}" />
                            </div>
                            <ion-note>{{product2.label}}</ion-note>
                            <h3>
                                <i class="fa fa-rupee"></i>{{product2.lowest_price}}</h3>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>


    <ion-segment [(ngModel)]="comparetab">
        <ion-segment-button value="overview">
            Overview
        </ion-segment-button>
        <ion-segment-button value="price" (click)="formatSupplier()">
            Price
        </ion-segment-button>
    </ion-segment>

    <div [ngSwitch]="comparetab">
        <ion-list *ngSwitchCase="'overview'">
            <ion-card no-padding no-margin class="widthfull" *ngFor="let featureGroup of compareData.productFeatureGroup">
                <ion-card-header>
                    {{featureGroup.name}}
                </ion-card-header>
                <ion-card-content>
                    <ion-grid>
                        <ion-row padding-top *ngFor="let feature of featureGroup.features">
                            <ion-col col-4 text-start>
                                <h3>{{getProduct(product1.slug,feature)}}</h3>
                            </ion-col>
                            <ion-col col-4 text-center>
                                <h3>{{feature.name}}</h3>
                            </ion-col>
                            <ion-col col-4 text-end>
                                <h3>{{getProduct(product2.slug,feature)}}</h3>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card-content>
            </ion-card>
        </ion-list>
        <ion-list *ngSwitchCase="'price'">
            <ion-card no-padding no-margin class="widthfull">
                <ion-card-content>
                    <ion-grid>
                        <ion-row padding-top *ngFor="let list of compareData.supplier  | ValuesPipe; let i=index">
                            <ion-col col-4 text-start>
                                <h3>{{getSupplier(0,list,i)}}</h3>
                            </ion-col>
                            <ion-col col-4 text-center>
                                <ion-note>{{getSupplierName(i,list)}}</ion-note>
                            </ion-col>
                            <ion-col col-4 text-end>
                                <h3>{{getSupplier(1,list,i)}}</h3>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card-content>
            </ion-card>


        </ion-list>
    </div>

</ion-content>