html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav > li > form {
    padding: 8px;
}

.nav > li > form > button:hover {
    text-decoration: none;
}

.productLists{}
.productLists p {
  background: #ecf0f5 none repeat scroll 0 0;
  padding: 5px;
  cursor:pointer;
}

.small-thumbnail{ display: inline-block;
height: 250px;
margin-right: 5px;
max-width: 100%;}

.alert-success {
  background-color: #dff0d8 !important;
  border-color: #dff0d8; margin-left:5px; z-index: 99; position:relative; 
  color:#3c763d!important; width: 82%; float:right; margin-right:5px; margin-top:5px;  
}

.alert-danger {
 
  color: #fff !important;
  float: right;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  position: relative;
  width: 82%;
  z-index: 99;
}
.content-header > .breadcrumb {
  background: transparent none repeat scroll 0 0;
  border-radius: 2px; 
  float: right;
  font-size: 12px;
  margin-bottom: 0;
  margin-top: 0;
  padding: 7px 5px;
  position: absolute;
  right: 10px;
}

.left-scrollblock{height:400px !important}
.content-header{ padding-top:40px;}
.content-header{*zoom:1;}
.content-header:after,.content-header:before{ content:""; display:table;}
.content-header:after{clear:both;}
.breadcrumb{ width:100%; float:left; position:absolute !important; text-align:right; top:10px !important; bottom:0px inherit !important;}


.display_show{display: block;}
.display_hide{display: none;}

#mongo_product_popup_form .modal-dialog {
  width: 86%;
}
.searchblock{ padding:5px; background:#f9f9f9;}
.searchblock:after,.searchblock:before{content:""; display:table;}
.searchblock:after{clear:both;}


.clickMongoProduct{background:#6dfab9  !important;}
.add_more_filter_list.box.box-info{ border:1px solid #ccc; padding:5px; box-shadow:2px 2px 0 #ccc; background:#fafafa; border-top:5px solid #00c0ef; }

.deleteImgIcon {
  border: 2px solid gainsboro;
  float: right;
}


.sortOrderTextBox{width:100px !important;}



