/*!
   light-modal v1.0.2: A new lightweight css modal.
   (c) 2017 
   MIT License
   git+https://github.com/hunzaboy/Light-Modal.git
*/
.light-modal {
  display: none;
  position: fixed;
  background: transparent;
  top: 0;
  bottom: 0;
  left: 0;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  right: 0;
  z-index: 9000;
  transition: background 1s;
  font-size: 16px;
}

.light-modal-content {
  background: #fff;
  color: #000;
  width: 30vw;
  border-radius: .2em;
  position: relative;
  max-height: calc(100vh - 150px);
  line-height: 1.4;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
      border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}

.light-modal-content img {
  max-width: 100%;
  border-radius: .2em;
}

.light-modal-content.large-content {
  width: 50vw;
}

.light-modal-header {
  padding: 20px 20px 20px 20px;
  background: rgba(0, 0, 0, 0.2);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}

.light-modal-heading {
  margin: 0;
  font-size: 1.5em;
}

.light-modal-heading + .light-modal-close-icon {
  position: static;
}

.light-modal-body {
  padding: 0px;
  overflow: auto;
  max-height: 450px;
}

.light-modal-footer {
  padding: 20px 20px 20px 20px;
  background: rgba(0, 0, 0, 0.2);
  text-align: right;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.light-modal-close-icon, .light-modal-close-btn {
  text-decoration: none;
  color: #000;
  padding:0px;
  float: right;
  border-radius: .2em;
 
  font-size: 1.5em;
  line-height: 1;
  transition: background .2s ease-in-out;
}

.light-modal-close-icon:hover, .light-modal-close-btn:hover {
  background: #ff3c6a;
}

.light-modal-close-icon {

}

.light-modal-close-btn {
  font-size: 1em;
}

.light-modal-caption {
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
      transform: translateX(-50%);
  top: 100%;
  padding: 10px 0;
  background: rgba(0, 0, 0, 0.2);
  border-radius: .2em;
  width: 100%;
  text-align: center;
  margin-top: 5px;
}

.light-modal:target {
  background: rgba(0, 0, 0, 0.5);
  display: -ms-flexbox;
  display: flex;
}

@keyframes basic {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.basic {
  animation-name: basic;
}

@media (max-width: 767px) {
  .light-modal {
    font-size: 14px;
  }
  .light-modal:target .light-modal-content {
    width: 76vw;
  }
}

@supports (display: flex) {
  @media (max-width: 767px) {
    .light-modal:target .light-modal-content {
      width: 76vw;
    }
  }
}


/*filter left tabs*/

.tabordion {
  color: #333;
  display: block;
  font-family: arial, sans-serif;
  margin: auto;
  position: relative;
  width: 80%;
}

.tabordion input[name="sections"] {
  left: -9999px;
  position: absolute;
  top: -9999px;
}

.tabordion section {
  display: block;
}

.tabordion section label {
  background: #ccc;
  border:1px solid #fff;
  cursor: pointer;
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  padding: 15px 20px;
  position: relative;
  width: 180px;
  z-index:100;
}

.tabordion section article {
  display: none;
  left: 230px;
  min-width: 300px;
  padding: 0 0 0 21px;
  position: absolute;  
  top: 0;
}

.tabordion section article:after {
  background-color: #ccc;
  bottom: 0;
  content: "";
  display: block;
  left:-229px;
  position: absolute;
  top: 0;
  width: 220px;
  z-index:1;
}

.tabordion input[name="sections"]:checked + label { 
  background: #eee;
  color: #bbb;
}

.tabordion input[name="sections"]:checked ~ article {
  display: block;
}


@media (max-width: 533px) {
  
  h1 {
    width: 100%;
  }

  .tabordion {
    width: 100%;
  }
  
  .tabordion section label {
    font-size: 1em;
    width: 160px;
  }  

 .tabordion section article {
    left: 200px;
    min-width: 270px;
  } 
  
  .tabordion section article:after {
    background-color: #ccc;
    bottom: 0;
    content: "";
    display: block;
    left:-199px;
    position: absolute;
    top: 0;
    width: 200px;

  }  
  
}


@media (max-width: 768px) {
  h1 {
    width: 96%;
  }

  .tabordion {
    width: 96%;
  }
}


@media (min-width: 1366px) {
  h1 {
    width: 70%;
  }

  .tabordion {
    width: 70%;
  }
}
.tabs-left, .tabs-right {
  border-bottom: none;
  padding-top: 0px;
}
.tabs-left {
  border-right: 1px solid #ddd;
}
.tabs-right {
  border-left: 1px solid #ddd;
}
.tabs-left>li, .tabs-right>li {
  float: none;

}
.tabs-left>li {
  margin-right: -1px;
}
.tabs-right>li {
  margin-left: -1px;
}
.tabs-left>li.active>a,
.tabs-left>li.active>a:hover,
.tabs-left>li.active>a:focus {
  border-bottom-color: #ddd;
  border-right-color: transparent;
}

.tabs-right>li.active>a,
.tabs-right>li.active>a:hover,
.tabs-right>li.active>a:focus {
  border-bottom: 1px solid #ddd;
  border-left-color: transparent;
}
.tabs-left>li>a {
  border-radius: 4px 0 0 4px;
  margin-right: 0;
  padding: 6px; border-bottom: 1px solid #dfe1e8;
  display:block;
}
.tabs-left>li:last-child>a{border-bottom: 0;}
.tabs-right>li>a {
  border-radius: 0 4px 4px 0;
  margin-right: 0;
}
.vertical-text {
  margin-top:50px;
  border: none;
  position: relative;
}
.vertical-text>li {
  height: 20px;
  width: 120px;
  margin-bottom: 100px;
}
.vertical-text>li>a {
  border-bottom: 1px solid #ddd;
  border-right-color: transparent;
  text-align: center;
  border-radius: 4px 4px 0px 0px;
}
.vertical-text>li.active>a,
.vertical-text>li.active>a:hover,
.vertical-text>li.active>a:focus {
  border-bottom-color: transparent;
  border-right-color: #ddd;
  border-left-color: #ddd;
}
.vertical-text.tabs-left {
  left: -50px;
}
.vertical-text.tabs-right {
  right: -50px;
}
.vertical-text.tabs-right>li {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.vertical-text.tabs-left>li {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
