.navbar-nav {
    float: left;
}

.cd-dropdown-content,
.cd-dropdown-content ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.cd-dropdown-wrapper {
    display: inline-block;
    position: relative;
    height: 40px;
    margin: 0;
    float: left;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.cd-dropdown-content .cd-secondary-dropdown>li {
    border: 0;
}

.cd-dropdown-trigger {
    display: block;
    position: relative;
    padding: 0 36px 0 20px;
    line-height: 45px;
    background-color: #ff8d3d;
    color: #ffffff;
    border-radius: 0px;
}

.no-touch .cd-dropdown-trigger:hover {
    background-color: #ff8d3d;
}

.cd-dropdown-trigger::before,
.cd-dropdown-trigger::after {
    /* this is the arrow inside the dropdown trigger*/
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -1px;
    height: 2px;
    width: 9px;
    background: #ffffff;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: width 0.3s, -webkit-transform 0.3s;
    -moz-transition: width 0.3s, -moz-transform 0.3s;
    transition: width 0.3s, transform 0.3s;
}

.cd-dropdown-trigger::before {
    right: 22px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.cd-dropdown-trigger::after {
    right: 17px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@media only screen and (min-width: 1024px) {
    .cd-dropdown-trigger {
        font-size: 1.5rem;
    }
    .cd-dropdown-trigger.dropdown-is-active {
        background-color: #FF8D3D;
    }
    .no-touch .cd-dropdown-trigger.dropdown-is-active:hover {
        background-color: #47975f;
    }
    .cd-dropdown-trigger.dropdown-is-active::before,
    .cd-dropdown-trigger.dropdown-is-active::after {
        /* transform the arrow into a 'X' */
        width: 14px;
    }
    .cd-dropdown-trigger.dropdown-is-active::before {
        /* transform the arrow into a 'X' */
        -webkit-transform: translateX(5px) rotate(-45deg);
        -moz-transform: translateX(5px) rotate(-45deg);
        -ms-transform: translateX(5px) rotate(-45deg);
        -o-transform: translateX(5px) rotate(-45deg);
        transform: translateX(5px) rotate(-45deg);
    }
    .cd-dropdown-trigger.dropdown-is-active::after {
        /* transform the arrow into a 'X' */
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

.cd-dropdown h2,
.cd-dropdown-content a,
.cd-dropdown-content ul a {
    height: 50px;
    line-height: 50px;
}

@media only screen and (min-width: 768px) {
    .cd-dropdown h2,
    .cd-dropdown-content a,
    .cd-dropdown-content ul a {
        height: 60px;
        line-height: 60px;
    }
}

@media only screen and (min-width: 1024px) {
    .cd-dropdown h2,
    .cd-dropdown-content a,
    .cd-dropdown-content ul a {
        height: 50px;
        line-height: 50px;
    }
}

.cd-dropdown h2,
.cd-dropdown-content a,
.cd-dropdown-content ul a,
.cd-dropdown-content .cd-divider {
    padding: 0 20px;
}

.cd-dropdown {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #111433;
    color: #ffffff;
    visibility: hidden;
    /* Force Hardware Acceleration */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: -webkit-transform 0.5s 0s, visibility 0s 0.5s;
    -moz-transition: -moz-transform 0.5s 0s, visibility 0s 0.5s;
    transition: transform 0.5s 0s, visibility 0s 0.5s;
}

.cd-dropdown h2 {
    /* dropdown title - mobile version only */
    position: relative;
    z-index: 1;
    margin: 0;
    font-size: 15px;
    color: #fff;
    background-color: #111433;
    border-bottom: 1px solid #242643;
}

.cd-dropdown .cd-close {
    /* 'X' close icon - mobile version only */
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    height: 50px;
    width: 50px;
    /* image replacement */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
}

.cd-dropdown .cd-close::after,
.cd-dropdown .cd-close::before {
    /* this is the 'X' icon */
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    height: 20px;
    width: 2px;
    background-color: #ffffff;
}

.cd-dropdown .cd-close::after {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -o-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.cd-dropdown .cd-close::before {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    -o-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}

.cd-dropdown.dropdown-is-active {
    visibility: visible;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform 0.5s 0s, visibility 0s 0s;
    -moz-transition: -moz-transform 0.5s 0s, visibility 0s 0s;
    transition: transform 0.5s 0s, visibility 0s 0s;
}

@media only screen and (min-width: 768px) {
    .cd-dropdown .cd-close {
        top: 5px;
    }
}

@media only screen and (min-width: 1024px) {
    .cd-dropdown {
        position: absolute;
        top: calc(100% - 2px);
        /* reset style*/
        height: auto;
        width: auto;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        background-color: #ffffff;
        color: #111433;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        opacity: 0;
        -webkit-transform: translateY(30px);
        -moz-transform: translateY(30px);
        -ms-transform: translateY(30px);
        -o-transform: translateY(30px);
        transform: translateY(30px);
        -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s, -webkit-transform 0.3s 0s;
        -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s, -moz-transform 0.3s 0s;
        transition: opacity 0.3s 0s, visibility 0s 0.3s, transform 0.3s 0s;
    }
    .open-to-left .cd-dropdown {
        /* use the .open-to-left class if you want to open the dropdown on the left */
        right: 0;
        left: auto;
    }
    .cd-dropdown h2,
    .cd-dropdown .cd-close {
        /* on desktop - hide title and 'X' */
        display: none;
    }
    .cd-dropdown.dropdown-is-active {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        -webkit-transition: opacity 0.3s 0s, visibility 0.3s 0s, -webkit-transform 0.3s 0s;
        -moz-transition: opacity 0.3s 0s, visibility 0.3s 0s, -moz-transform 0.3s 0s;
        transition: opacity 0.3s 0s, visibility 0.3s 0s, transform 0.3s 0s;
    }
}

.cd-dropdown-content,
.cd-dropdown-content ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
    padding-top: 50px;
}

.cd-dropdown-content a,
.cd-dropdown-content ul a {
    display: block;
    color: #ffffff;
    /* truncate text with ellipsis if too long */
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-width: 1px;
    border-color: #242643;
    border-style: solid;
}

.cd-dropdown-content li:first-of-type>a,
.cd-dropdown-content ul li:first-of-type>a {
    border-top-width: 0;
}

.cd-dropdown-content li:last-of-type>a,
.cd-dropdown-content ul li:last-of-type>a {
    border-bottom-width: 1px;
}

.cd-dropdown-content .cd-divider,
.cd-dropdown-content ul .cd-divider {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #0b0e23;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: #585a70;
    text-transform: uppercase;
}

.cd-dropdown-content .cd-divider+li>a,
.cd-dropdown-content ul .cd-divider+li>a {
    border-top-width: 0;
}

.cd-dropdown-content a,
.cd-dropdown-content .cd-search,
.cd-dropdown-content .cd-divider,
.cd-dropdown-content ul a,
.cd-dropdown-content ul .cd-search,
.cd-dropdown-content ul .cd-divider {
    /* Force Hardware Acceleration */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
}

.cd-dropdown-content.is-hidden,
.cd-dropdown-content ul.is-hidden {
    /* push the secondary dropdown items to the right */
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
}

.cd-dropdown-content.is-hidden>li>a,
.cd-dropdown-content.is-hidden>li>.cd-search,
.cd-dropdown-content.is-hidden>.cd-divider,
.cd-dropdown-content.move-out>li>a,
.cd-dropdown-content.move-out>li>.cd-search,
.cd-dropdown-content.move-out>.cd-divider,
.cd-dropdown-content ul.is-hidden>li>a,
.cd-dropdown-content ul.is-hidden>li>.cd-search,
.cd-dropdown-content ul.is-hidden>.cd-divider,
.cd-dropdown-content ul.move-out>li>a,
.cd-dropdown-content ul.move-out>li>.cd-search,
.cd-dropdown-content ul.move-out>.cd-divider {
    /* lower down the dropdown items opacity - when secondary dropdown slides in or for dropdown items hidden on the right */
    opacity: 0;
}

.cd-dropdown-content.move-out>li>a,
.cd-dropdown-content.move-out>li>.cd-search,
.cd-dropdown-content.move-out>.cd-divider,
.cd-dropdown-content ul.move-out>li>a,
.cd-dropdown-content ul.move-out>li>.cd-search,
.cd-dropdown-content ul.move-out>.cd-divider {
    /* push the dropdown items to the left when secondary dropdown slides in */
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
}

.dropdown-is-active .cd-dropdown-content,
.dropdown-is-active .cd-dropdown-content ul {
    -webkit-overflow-scrolling: touch;
}

@media only screen and (min-width: 768px) {
    .cd-dropdown-content,
    .cd-dropdown-content ul {
        padding-top: 60px;
    }
    .cd-dropdown-content a,
    .cd-dropdown-content ul a {
        font-size: 1.8rem;
    }
}

@media only screen and (min-width: 1024px) {
    .cd-dropdown-content,
    .cd-dropdown-content ul {
        padding-top: 0;
        overflow: visible;
    }
    .cd-dropdown-content a,
    .cd-dropdown-content ul a {
        color: #111433;
        height: 38px;
        line-height: 38px;
        font-size: 1.4rem;
        border: none;
    }
    .cd-dropdown-content .cd-divider,
    .cd-dropdown-content ul .cd-divider {
        background-color: transparent;
        color: #b3b3b3;
        border-top: 1px solid #ebebeb;
    }
    .cd-dropdown-content .cd-divider+li>a,
    .cd-dropdown-content ul .cd-divider+li>a {
        border-top-width: 1px;
    }
    .cd-dropdown-content.is-hidden>li>a,
    .cd-dropdown-content.is-hidden>li>.cd-search,
    .cd-dropdown-content.is-hidden>.cd-divider,
    .cd-dropdown-content.move-out>li>a,
    .cd-dropdown-content.move-out>li>.cd-search,
    .cd-dropdown-content.move-out>.cd-divider,
    .cd-dropdown-content ul.is-hidden>li>a,
    .cd-dropdown-content ul.is-hidden>li>.cd-search,
    .cd-dropdown-content ul.is-hidden>.cd-divider,
    .cd-dropdown-content ul.move-out>li>a,
    .cd-dropdown-content ul.move-out>li>.cd-search,
    .cd-dropdown-content ul.move-out>.cd-divider {
        /* reset mobile style */
        opacity: 1;
    }
}

.cd-dropdown-content .see-all a {
    /* different style for the See all links */
    color: #FF8D3D;
}

.cd-dropdown-content .cd-dropdown-gallery .cd-dropdown-item,
.cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item {
    /* items with picture (or icon) and title */
    height: 80px;
    line-height: 80px;
}

.cd-dropdown-content .cd-dropdown-gallery .cd-dropdown-item h3,
.cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item h3 {
    /* truncate text with ellipsis if too long */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cd-dropdown-content .cd-dropdown-gallery .cd-dropdown-item {
    padding-left: 90px;
}

.cd-dropdown-content .cd-dropdown-gallery img {
    position: absolute;
    display: block;
    height: 40px;
    width: auto;
    left: 20px;
    top: 50%;
    margin-top: -20px;
}

.cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item {
    padding-left: 75px;
    position: relative;
}

.cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item p {
    color: #111433;
    font-size: 1.3rem;
    /* hide description on small devices */
    display: none;
}

.cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item::before {
    /* item icon */
    content: '';
    display: block;
    position: absolute;
    left: 20px;
    top: 50%;
    margin-top: -20px;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 40px 40px;
}

.cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item.item-1::before {
    background-image: url("../img/nucleo-icon-1.svg");
}

.cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item.item-2::before {
    background-image: url("../img/nucleo-icon-2.svg");
}

.cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item.item-3::before {
    background-image: url("../img/nucleo-icon-3.svg");
}

.cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item.item-4::before {
    background-image: url("../img/nucleo-icon-4.svg");
}

.cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item.item-5::before {
    background-image: url("../img/nucleo-icon-5.svg");
}

.cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item.item-6::before {
    background-image: url("../img/nucleo-icon-6.svg");
}

.cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item.item-7::before {
    background-image: url("../img/nucleo-icon-7.svg");
}

.cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item.item-8::before {
    background-image: url("../img/nucleo-icon-8.svg");
}

.cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item.item-9::before {
    background-image: url("../img/nucleo-icon-9.svg");
}

.cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item.item-10::before {
    background-image: url("../img/nucleo-icon-10.svg");
}

.cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item.item-11::before {
    background-image: url("../img/nucleo-icon-11.svg");
}

.cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item.item-12::before {
    background-image: url("../img/nucleo-icon-12.svg");
}

@media only screen and (min-width: 1024px) {
    .cd-dropdown-content {
        /* reset mobile style */
        position: static;
        height: auto;
        text-align: left;
        width: 280px;
    }
    .cd-dropdown-content>li:last-of-type a {
        border-bottom: none;
    }
    .no-touch .cd-dropdown-content>li:not(.has-children) a:hover {
        color: #FF8D3D;
    }
    .cd-dropdown-content.move-out>li>a,
    .cd-dropdown-content.move-out>li>.cd-search,
    .cd-dropdown-content.move-out>.cd-divider {
        /* reset mobile style */
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
    .cd-dropdown-content .cd-secondary-dropdown,
    .cd-dropdown-content .cd-dropdown-gallery,
    .cd-dropdown-content .cd-dropdown-icons {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        left: 100%;
        height: auto;
        background-color: #ffffff;
        box-shadow: 0 2px 14px rgba(0, 0, 0, 0.1);
    }
    .cd-dropdown-content .cd-secondary-dropdown::after,
    .cd-dropdown-content .cd-dropdown-gallery::after,
    .cd-dropdown-content .cd-dropdown-icons::after {
        clear: both;
        content: "";
        display: table;
    }
    .open-to-left .cd-dropdown-content .cd-secondary-dropdown,
    .open-to-left .cd-dropdown-content .cd-dropdown-gallery,
    .open-to-left .cd-dropdown-content .cd-dropdown-icons {
        /* use the .open-to-left class if you want to open the dropdown on the left */
        left: auto;
        right: 100%;
    }
    .cd-dropdown-content .cd-secondary-dropdown.is-hidden,
    .cd-dropdown-content .cd-dropdown-gallery.is-hidden,
    .cd-dropdown-content .cd-dropdown-icons.is-hidden {
        /* reset mobile style */
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
    .cd-dropdown-content .cd-secondary-dropdown.fade-in,
    .cd-dropdown-content .cd-dropdown-gallery.fade-in,
    .cd-dropdown-content .cd-dropdown-icons.fade-in {
        /* animate secondary dropdown items when hovering over of of the .cd-dropdown-content list items */
        -webkit-animation: cd-fade-in 0.2s;
        -moz-animation: cd-fade-in 0.2s;
        animation: cd-fade-in 0.2s;
    }
    .cd-dropdown-content .cd-secondary-dropdown.fade-out,
    .cd-dropdown-content .cd-dropdown-gallery.fade-out,
    .cd-dropdown-content .cd-dropdown-icons.fade-out {
        /* animate secondary dropdown items when hovering over of of the .cd-dropdown-content list items */
        -webkit-animation: cd-fade-out 0.2s;
        -moz-animation: cd-fade-out 0.2s;
        animation: cd-fade-out 0.2s;
    }
    .cd-dropdown-content .cd-secondary-dropdown>.go-back,
    .cd-dropdown-content .cd-dropdown-gallery>.go-back,
    .cd-dropdown-content .cd-dropdown-icons>.go-back {
        display: none;
    }
    .cd-dropdown-content .cd-secondary-dropdown>.see-all,
    .cd-dropdown-content .cd-dropdown-gallery>.see-all,
    .cd-dropdown-content .cd-dropdown-icons>.see-all {
        position: absolute;
        bottom: 20px;
        height: 45px;
        text-align: center;
    }
    .cd-dropdown-content .cd-secondary-dropdown>.see-all a,
    .cd-dropdown-content .cd-dropdown-gallery>.see-all a,
    .cd-dropdown-content .cd-dropdown-icons>.see-all a {
        margin: 0;
        height: 100%;
        pointer-events: auto;
        -webkit-transition: color 0.2s, background-color 0.2s;
        -moz-transition: color 0.2s, background-color 0.2s;
        transition: color 0.2s, background-color 0.2s;
    }
    .no-touch .cd-dropdown-content .cd-secondary-dropdown>.see-all a:hover,
    .no-touch .cd-dropdown-content .cd-dropdown-gallery>.see-all a:hover,
    .no-touch .cd-dropdown-content .cd-dropdown-icons>.see-all a:hover {
        color: #ffffff;
        background-color: #111433;
    }
    .cd-dropdown-content .cd-secondary-dropdown .cd-dropdown-item,
    .cd-dropdown-content .cd-secondary-dropdown a,
    .cd-dropdown-content .cd-dropdown-gallery .cd-dropdown-item,
    .cd-dropdown-content .cd-dropdown-gallery a,
    .cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item,
    .cd-dropdown-content .cd-dropdown-icons a {
        border: none;
    }
    .cd-dropdown-content .cd-dropdown-gallery,
    .cd-dropdown-content .cd-dropdown-icons {
        padding: 20px 30px 100px;
    }
    .cd-dropdown-content .cd-dropdown-gallery>.see-all,
    .cd-dropdown-content .cd-dropdown-icons>.see-all {
        width: calc(100% - 60px);
    }
    .cd-dropdown-content .cd-dropdown-icons>li,
    .cd-dropdown-content .cd-secondary-dropdown>li {
        width: 25%;
        float: left;
    }
    .cd-dropdown-content .cd-secondary-dropdown {
        overflow: hidden;
        width: 750px;
        padding-bottom: 40px;
    }
    .cd-dropdown-content .cd-secondary-dropdown::before {
        /* this is the separation line in the middle of the .cd-secondary-dropdown element */
        position: absolute;
        /* content: '';*/
        top: 290px;
        left: 15px;
        height: 1px;
        width: 520px;
        background-color: #ebebeb;
    }
    .cd-dropdown-content .cd-secondary-dropdown>li>h5 {
        color: #0c4572;
        font-size: 1.4rem;
        margin-bottom: 10px;
        line-height: 14px;
        pointer-events: none;
    }
    .cd-dropdown-content .cd-secondary-dropdown>li>a::after,
    .cd-dropdown-content .cd-secondary-dropdown>li>a::before {
        /* hide the arrow */
        display: none;
    }
    .cd-dropdown-content .cd-secondary-dropdown.move-out>li>a {
        /* reset mobile style */
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
    .cd-dropdown-content .cd-secondary-dropdown>li {
        /* margin: 8px 0; */
        border-right-width: 0px;
        border-color: #ebebeb;
        border-style: solid;
        padding: 10px 20px;
        height: auto;
    }
    .cd-dropdown-content .cd-secondary-dropdown>li:nth-of-type(2n) {
        border-right-width: 0;
    }
    .cd-dropdown-content .cd-secondary-dropdown>li>ul {
        /* reset mobile style */
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
        transform: translate(0);
        position: relative;
        height: auto;
    }
    .cd-dropdown-content .cd-secondary-dropdown>li>ul>.go-back {
        display: none;
    }
    .cd-dropdown-content .cd-secondary-dropdown a {
        line-height: 25px;
        height: 25px;
        font-size: 1.3rem;
        padding-left: 0;
    }
    .no-touch .cd-dropdown-content .cd-secondary-dropdown a:hover {
        color: #FF8D3D;
    }
    .cd-dropdown-content .cd-secondary-dropdown ul {
        padding-bottom: 25px;
        overflow: hidden;
        height: auto;
    }
    .cd-dropdown-content .cd-secondary-dropdown .go-back a {
        padding-left: 20px;
        color: transparent;
    }
    .no-touch .cd-dropdown-content .cd-secondary-dropdown .go-back a:hover {
        color: transparent;
    }
    .cd-dropdown-content .cd-secondary-dropdown .go-back a::before,
    .cd-dropdown-content .cd-secondary-dropdown .go-back a::after {
        left: 0;
    }
    .cd-dropdown-content .cd-secondary-dropdown .see-all {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    .cd-dropdown-content .cd-dropdown-gallery {
        width: 600px;
        padding-bottom: 100px;
    }
    .cd-dropdown-content .cd-dropdown-gallery>li {
        width: 48%;
        float: left;
        margin-right: 4%;
    }
    .cd-dropdown-content .cd-dropdown-gallery>li:nth-of-type(2n) {
        margin-right: 0;
    }
    .cd-dropdown-content .cd-dropdown-gallery .cd-dropdown-item {
        padding: 0;
        height: auto;
        line-height: normal;
        color: #FF8D3D;
        margin-bottom: 2em;
    }
    .cd-dropdown-content .cd-dropdown-gallery>li:nth-last-of-type(2) a,
    .cd-dropdown-content .cd-dropdown-gallery>li:last-of-type a {
        margin-bottom: 0;
    }
    .cd-dropdown-content .cd-dropdown-gallery img {
        position: static;
        height: auto;
        width: 100%;
        margin: 0 0 0.6em;
    }
    .cd-dropdown-content .cd-dropdown-icons {
        width: 600px;
    }
    .cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item {
        height: 80px;
        line-height: 1.2;
        padding: 24px 0 0 85px;
    }
    .cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item:hover {
        background: #ebebeb;
    }
    .cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item h3 {
        color: #FF8D3D;
        font-weight: bold;
    }
    .cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item p {
        display: block;
        font-size: 1.2rem;
    }
    .cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item::before {
        left: 25px;
    }
    .cd-dropdown-content>.has-children>ul {
        visibility: hidden;
    }
    .cd-dropdown-content>.has-children>ul.is-active {
        /* when hover over .cd-dropdown-content items - show subnavigation */
        visibility: visible;
    }
    .cd-dropdown-content>.has-children>.cd-secondary-dropdown.is-active>li>ul {
        /* if .cd-secondary-dropdown is visible - show also subnavigation */
        visibility: visible;
    }
    .cd-dropdown-content>.has-children>a.is-active {
        /* hover effect for .cd-dropdown-content items with subnavigation */
        box-shadow: inset 2px 0 0 #FF8D3D;
        color: #FF8D3D;
    }
    .cd-dropdown-content>.has-children>a.is-active::before,
    .cd-dropdown-content>.has-children>a.is-active::after {
        background: #FF8D3D;
    }
    .open-to-left .cd-dropdown-content>.has-children>a.is-active {
        box-shadow: inset -2px 0 0 #FF8D3D;
    }
}

@-webkit-keyframes cd-fade-in {
    0% {
        opacity: 0;
        visibility: visible;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

@-moz-keyframes cd-fade-in {
    0% {
        opacity: 0;
        visibility: visible;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes cd-fade-in {
    0% {
        opacity: 0;
        visibility: visible;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

@-webkit-keyframes cd-fade-out {
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: visible;
    }
}

@-moz-keyframes cd-fade-out {
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: visible;
    }
}

@keyframes cd-fade-out {
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: visible;
    }
}

.cd-search input[type="search"] {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-color: #242643;
    color: #ffffff;
    border: none;
    border-radius: 0;
}

.cd-search input[type="search"]::-webkit-input-placeholder {
    color: #ffffff;
}

.cd-search input[type="search"]::-moz-placeholder {
    color: #ffffff;
}

.cd-search input[type="search"]:-moz-placeholder {
    color: #ffffff;
}

.cd-search input[type="search"]:-ms-input-placeholder {
    color: #ffffff;
}

.cd-search input[type="search"]:focus {
    background: #ffffff;
    color: #111433;
    outline: none;
}

.cd-search input[type="search"]:focus::-webkit-input-placeholder {
    color: rgba(17, 20, 51, 0.4);
}

.cd-search input[type="search"]:focus::-moz-placeholder {
    color: rgba(17, 20, 51, 0.4);
}

.cd-search input[type="search"]:focus:-moz-placeholder {
    color: rgba(17, 20, 51, 0.4);
}

.cd-search input[type="search"]:focus:-ms-input-placeholder {
    color: rgba(17, 20, 51, 0.4);
}

@media only screen and (min-width: 1024px) {
    .cd-search input[type="search"] {
        background-color: #ebebeb;
    }
    .cd-search input[type="search"]::-webkit-input-placeholder {
        color: #b3b3b3;
    }
    .cd-search input[type="search"]::-moz-placeholder {
        color: #b3b3b3;
    }
    .cd-search input[type="search"]:-moz-placeholder {
        color: #b3b3b3;
    }
    .cd-search input[type="search"]:-ms-input-placeholder {
        color: #b3b3b3;
    }
}

.has-children>a,
.go-back a {
    position: relative;
}

.has-children>a::before,
.has-children>a::after,
.go-back a::before,
.go-back a::after {
    /* arrow icon in CSS - for element with nested unordered lists */
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -1px;
    display: inline-block;
    height: 2px;
    width: 10px;
    background: #ffffff;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.has-children>a::before,
.go-back a::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.has-children>a::after,
.go-back a::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@media only screen and (min-width: 1024px) {
    .has-children>a::before,
    .has-children>a::after,
    .go-back a::before,
    .go-back a::after {
        background: #b3b3b3;
    }
}

.has-children>a {
    padding-right: 40px;
    text-align: left;
    border-width: 1px;
}

.has-children>a::before,
.has-children>a::after {
    /* arrow goes on the right side - children navigation */
    right: 20px;
    -webkit-transform-origin: 9px 50%;
    -moz-transform-origin: 9px 50%;
    -ms-transform-origin: 9px 50%;
    -o-transform-origin: 9px 50%;
    transform-origin: 9px 50%;
}

@media only screen and (min-width: 1024px) {
    .open-to-left .cd-dropdown-content>.has-children>a {
        padding-left: 40px;
        padding-right: 20px;
    }
    .open-to-left .cd-dropdown-content>.has-children>a::before,
    .open-to-left .cd-dropdown-content>.has-children>a::after {
        right: auto;
        left: 20px;
        -webkit-transform-origin: 1px 50%;
        -moz-transform-origin: 1px 50%;
        -ms-transform-origin: 1px 50%;
        -o-transform-origin: 1px 50%;
        transform-origin: 1px 50%;
    }
}

.cd-dropdown-content .go-back a {
    padding-left: 40px;
}

.cd-dropdown-content .go-back a::before,
.cd-dropdown-content .go-back a::after {
    /* arrow goes on the left side - go back button */
    left: 20px;
    -webkit-transform-origin: 1px 50%;
    -moz-transform-origin: 1px 50%;
    -ms-transform-origin: 1px 50%;
    -o-transform-origin: 1px 50%;
    transform-origin: 1px 50%;
}

.cd-main-content {
    background-color: #e6e6e6;
    min-height: calc(100vh - 100px);
    padding: 2em 5%;
    line-height: 2;
}

.no-js .cd-dropdown-wrapper:hover .cd-dropdown {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.no-js .cd-dropdown-wrapper .cd-close {
    display: none;
}


/*------------------------------------------------------------------
	[Geo:: Navigation]
	* Navigation Menu
		+ OW Navigation
		
	* Responsive
		+ min-width: 992
		+ max-width: 991
*/


/* * Navigation Menu */


/* + OW Navigation */

.ow-navigation {
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    min-height: 1px;
    position: relative;
    z-index: 1;
}


/* + min-width: 992 */

@media (min-width: 992px) {
    /* + Menu Block */
    /*.menu-block{
		position: relative;
		top: 50px;
		z-index: 3;
		background-color: #fff;
	}*/
    .menu-block .menu-left-bg {
        background-color: #fd7140;
        left: 0;
        top: 0;
        position: absolute;
        z-index: 1;
        bottom: 0;
    }
    .menu-block .container {
        position: relative;
    }
    /*	.ow-navigation .navbar-header{
		position: relative;
		display: inline-block;
		width: 100%;
		background-color: #fd7140;
		padding-top: 25px;
		padding-bottom: 24px;
	}*/
    .menu-left-bg::before,
    .ow-navigation .navbar-header::before {
        background-color: #fd7140;
        content: "";
        display: inline-block;
        height: 2px;
        left: 0;
        position: absolute;
        right: -33px;
        top: -4px;
        z-index: 1;
    }
    .menu-left-bg::before {
        right: 0;
    }
    /*	.menuinner::after{
		position: absolute;
		content: "";
		bottom: -4px;
		background-color: #fff;
		height: 2px;
		left: -23px;
		right: 0;
		z-index: 2;
	}*/
    /*	.ow-navigation .navbar-header::after {
		border-right: 56px solid #fff;
		border-top: 100px solid #fd7140;
		position: absolute;
		content: "";
		right: -33px;
		top: 0;
	}*/
    .ow-navigation .navbar-brand {
        padding: 0;
        height: auto;
    }
    /*.ow-navigation .navbar-brand > img {
		float: left;
		margin-left: 4px;
	}*/
    .ow-navigation .navbar-brand>span {
        position: relative;
        z-index: 2;
        font-size: 25px;
        font-weight: 700;
        letter-spacing: 1.25px;
        font-family: "Roboto-Regular";
        text-transform: uppercase;
        color: #fff;
        display: inline-block;
        padding-left: 12px;
        padding-top: 15px;
        transition: all 1s ease 0s;
        -webkit-transition: all 1s ease 0s;
        -moz-transition: all 1s ease 0s;
        -o-transition: all 1s ease 0s;
    }
    .ow-navigation .navbar-brand:hover>span {
        color: #333;
    }
    /*.ow-navigation .nav > li{
		margin-right: 32px;
	}*/
    .ow-navigation .nav>li:last-of-type {
        margin-right: 0;
    }
    .ow-navigation .navbar-nav>li>a {
        color: #fff;
        display: inline-block;
        font-family: "Roboto-Regular";
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.98px;
        line-height: 25px;
        padding: 10px 14px;
        text-decoration: none;
        text-transform: uppercase;
        transition: all 1s ease 0s;
        -webkit-transition: all 1s ease 0s;
        -moz-transition: all 1s ease 0s;
        -o-transition: all 1s ease 0s;
        position: relative;
    }
    .ow-navigation .navbar-nav>li>a:hover {
        background: #000;
    }
    .ow-navigation .navbar-nav>li>a::before {
        position: absolute;
        content: "";
        background-color: #fd7140;
        height: 2px;
        bottom: -4px;
        left: 0;
        right: 0;
        margin: 0 auto;
        transition: all 1s ease 0s;
        -webkit-transition: all 1s ease 0s;
        -moz-transition: all 1s ease 0s;
        -o-transition: all 1s ease 0s;
        opacity: 0;
        z-index: 4;
    }
    /*.ow-navigation .navbar-nav > li.active > a::before,
	.ow-navigation .navbar-nav > li > a:hover::before{
		border-color: #fd7140;
		left: -9px;
		right: -9px;
		opacity: 1;
	}*/
    .ow-navigation .navbar-nav>li>a:focus,
    .ow-navigation .navbar-nav>li>a:hover {
        color: #fff;
        background-color: #ff8d3d;
        opacity: 1;
    }
    .ow-navigation .dropdown-menu>li>a:focus,
    .ow-navigation .dropdown-menu>li>a:hover {
        background-color: transparent;
        color: #fff;
    }
    .ow-navigation .dropdown-menu>.active>a,
    .ow-navigation .dropdown-menu>.active>a:focus,
    .ow-navigation .dropdown-menu>.active>a:hover {
        background-color: transparent;
        color: #fd7140;
    }
    .ow-navigation .dropdown .dropdown-menu li.active a {
        color: #fd7140;
        background-color: transparent;
    }
    /*	.ow-navigation .nav.navbar-nav > li.active > a,
	.ow-navigation .nav.navbar-nav > li.active:hover > a,
	.ow-navigation .nav.navbar-nav > li.active:focus > a,
	.ow-navigation .nav.navbar-nav > li:hover > a,
	.ow-navigation .nav.navbar-nav > li:focus > a,
	.ow-navigation .nav.navbar-nav > li > a:hover,
	.ow-navigation .nav.navbar-nav > li > a:focus,
	.ow-navigation .dropdown-menu li:hover > a,
	.ow-navigation .dropdown-menu li > a:hover{
		background-color: transparent;
	}*/
    .menu-block .navbar-collapse {
        padding-left: 0;
        padding-right: 0;
        display: inline-block;
        margin-top: 0;
        background-color: #0c4572;
    }
    .ow-navigation .nav.navbar-nav li.dropdown:hover>.dropdown-menu {
        opacity: 1;
        transform: scaleY(1);
        visibility: visible;
        background-color: #222;
    }
    .ow-navigation .ddl-switch {
        display: none !important;
    }
    .ow-navigation .navbar-nav>li.dropdown>a::before {
        height: 0;
    }
    /* Dropdown */
    .ow-navigation .dropdown {}
    .ow-navigation .navbar-collapse>ul>li>.dropdown-menu {
        top: 100%;
        left: 0;
    }
    .ow-navigation ul li>.dropdown-menu {
        border: none;
        left: 100%;
        border-radius: 0;
        margin-top: 0;
        transform: scaleY(0);
        transform-origin: 0 0 0;
        transition: all 0.4s ease-in-out 0s;
        visibility: hidden;
        top: 0;
        box-shadow: none;
        display: block;
        padding: 0 10px;
        max-width: 250px;
        min-width: 180px;
        width: 100%;
    }
    .ow-navigation .dropdown .dropdown-menu li a {
        padding: 10px 15px;
        margin-top: 0;
        margin-bottom: 0;
        transition: all 1s ease 0s;
        -webkit-transition: all 1s ease 0s;
        -moz-transition: all 1s ease 0s;
        -o-transition: all 1s ease 0s;
        color: #fff;
        text-transform: uppercase;
        font-family:"Roboto-Regular";
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 0.98px;
        line-height: 26px;
        border-bottom: 1px solid rgba(253, 113, 64, 0.5);
    }
    .ow-navigation .dropdown .dropdown-menu li a::before {
        border: none;
    }
    .ow-navigation .dropdown .dropdown-menu li:last-of-type a {
        border-bottom: none;
    }
    .ow-navigation .dropdown-menu>li:hover>a,
    .ow-navigation .dropdown-menu>li>a:hover {
        background-color: #222;
        color: #fd7140;
    }
    .ow-navigation ul>li>.dropdown-menu {
        left: 0;
    }
    .ow-navigation .navbar-collapse>ul>li:last-child>.dropdown-menu {
        right: 0;
    }
    .ow-navigation ul>li>.dropdown-menu,
    .ow-navigation ul>li .dropdown-menu ul,
    .ow-navigation ul>li .dropdown-menu ul ul ul,
    .ow-navigation ul>li .dropdown-menu ul ul ul ul ul,
    .ow-navigation ul>li .dropdown-menu ul ul ul ul ul ul ul,
    .ow-navigation ul>li .dropdown-menu ul ul ul ul ul ul ul ul ul,
    .ow-navigation .navbar-collapse>ul>li:last-child .dropdown-menu ul ul,
    .ow-navigation .navbar-collapse>ul>li:last-child .dropdown-menu ul ul ul ul,
    .ow-navigation .navbar-collapse>ul>li:last-child .dropdown-menu ul ul ul ul ul ul,
    .ow-navigation .navbar-collapse>ul>li:last-child .dropdown-menu ul ul ul ul ul ul ul ul,
    .ow-navigation .navbar-collapse>ul>li:last-child .dropdown-menu ul ul ul ul ul ul ul ul ul ul {
        right: auto;
    }
    .ow-navigation ul>li .dropdown-menu ul,
    .ow-navigation ul>li .dropdown-menu ul ul ul,
    .ow-navigation ul>li .dropdown-menu ul ul ul ul ul,
    .ow-navigation ul>li .dropdown-menu ul ul ul ul ul ul ul,
    .ow-navigation ul>li .dropdown-menu ul ul ul ul ul ul ul ul ul,
    .ow-navigation .navbar-collapse>ul>li:last-child .dropdown-menu ul ul,
    .ow-navigation .navbar-collapse>ul>li:last-child .dropdown-menu ul ul ul ul,
    .ow-navigation .navbar-collapse>ul>li:last-child .dropdown-menu ul ul ul ul ul ul,
    .ow-navigation .navbar-collapse>ul>li:last-child .dropdown-menu ul ul ul ul ul ul ul ul,
    .ow-navigation .navbar-collapse>ul>li:last-child .dropdown-menu ul ul ul ul ul ul ul ul ul ul {
        left: 100%;
    }
    .ow-navigation ul>li .dropdown-menu ul ul,
    .ow-navigation ul>li .dropdown-menu ul ul ul ul,
    .ow-navigation ul>li .dropdown-menu ul ul ul ul ul ul,
    .ow-navigation ul>li .dropdown-menu ul ul ul ul ul ul ul ul,
    .ow-navigation ul>li .dropdown-menu ul ul ul ul ul ul ul ul ul ul,
    .ow-navigation .navbar-collapse>ul>li:last-child .dropdown-menu ul,
    .ow-navigation .navbar-collapse>ul>li:last-child .dropdown-menu ul ul ul,
    .ow-navigation .navbar-collapse>ul>li:last-child .dropdown-menu ul ul ul ul ul,
    .ow-navigation .navbar-collapse>ul>li:last-child .dropdown-menu ul ul ul ul ul ul ul,
    .ow-navigation .navbar-collapse>ul>li:last-child .dropdown-menu ul ul ul ul ul ul ul ul ul {
        right: 100%;
    }
    .ow-navigation ul>li .dropdown-menu ul ul,
    .ow-navigation ul>li .dropdown-menu ul ul ul ul,
    .ow-navigation ul>li .dropdown-menu ul ul ul ul ul ul,
    .ow-navigation ul>li .dropdown-menu ul ul ul ul ul ul ul ul,
    .ow-navigation ul>li .dropdown-menu ul ul ul ul ul ul ul ul ul ul,
    .ow-navigation .navbar-collapse>ul>li:last-child>.dropdown-menu,
    .ow-navigation .navbar-collapse>ul>li:last-child .dropdown-menu ul,
    .ow-navigation .navbar-collapse>ul>li:last-child .dropdown-menu ul ul ul,
    .ow-navigation .navbar-collapse>ul>li:last-child .dropdown-menu ul ul ul ul ul,
    .ow-navigation .navbar-collapse>ul>li:last-child .dropdown-menu ul ul ul ul ul ul ul,
    .ow-navigation .navbar-collapse>ul>li:last-child .dropdown-menu ul ul ul ul ul ul ul ul ul {
        left: auto;
    }
    .mobile-logo {
        display: none;
    }
    /* + Navbar Fixed Top */
    .menu-block.navbar-fixed-top {
        position: fixed;
        top: 0;
        background-color: #0c4572;
    }
    .menu-block.navbar-fixed-top .navbar-collapse,
    .menu-block.navbar-fixed-top::before {
        background-color: transparent;
    }
    .menu-block.navbar-fixed-top::before,
    .menu-block.navbar-fixed-top::after {
        height: 0;
    }
    .navbar-fixed-top .ow-navigation .navbar-nav>li>a {
        color: #fff;
    }
    .navbar-nav {
        float: none;
        margin: 0;
    }
    .navbar-fixed-top .ow-navigation .navbar-header {
        padding-top: 0;
        padding-bottom: 0;
    }
    .navbar-fixed-top .ow-navigation .navbar-header::before {
        border: none;
    }
    .navbar-fixed-top .ow-navigation .navbar-header::after {
        border: none;
    }
    .navbar-fixed-top .ow-navigation .navbar-brand>img {
        margin-top: 8px;
        max-width: 31px;
    }
    .navbar-fixed-top.menu-block .user-cart {
        top: 9px;
    }
    .navbar-fixed-top .ow-navigation .navbar-nav>li>a::before {
        bottom: 0;
    }
    .navbar-fixed-top .ow-navigation .navbar-brand>span {
        margin-top: 2px;
        font-size: 22px;
        padding-bottom: 16px;
    }
    .navbar-fixed-top .ow-navigation .dropdown .dropdown-menu li a {
        padding: 6px 10px;
    }
    .navbar-fixed-top.menu-block .menuinner::after {
        height: 0;
    }
}


/* + min-width: 992 to max-width: 1199 */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    /* + Header Main */
    .menu-block .navbar-collapse {
        margin-left: 15px;
    }
    .ow-navigation .navbar-header::before {
        right: 0;
    }
    .ow-navigation .navbar-header::after {
        right: 0;
    }
    .menuinner::after {
        left: -56px;
    }
    .ow-navigation .nav>li {
        margin-right: 20px;
    }
    .ow-navigation .nav>li:last-of-type {
        margin-right: 0;
    }
}


/* + max-width: 991 */

@media (max-width: 991px) {
    /* + OW Navigation */
    .menu-block {
        background-color: #fff;
    }
    .menu-block .mobile-logo h3 {
        margin: 4px 0 0;
        letter-spacing: 1.25px;
        font-weight: 700;
        text-transform: uppercase;
        font-family: "Roboto-Regular";
        color: #fd7140;
        display: inline-block;
        transition: all 1s ease 0s;
        -webkit-transition: all 1s ease 0s;
        -moz-transition: all 1s ease 0s;
        -o-transition: all 1s ease 0s;
    }
    .menu-block .mobile-logo h3:hover {
        color: #333;
    }
    .ow-navigation {
        padding: 0;
        top: 0;
        width: 100%;
    }
    .ow-navigation .navbar-collapse {
        border-top: none;
        box-shadow: none;
        width: 100%;
        overflow: auto !important;
        padding-left: 0;
        padding-right: 0;
    }
    .ow-navigation .navbar-collapse.collapse {
        display: none!important;
    }
    .ow-navigation .navbar-nav {
        float: none!important;
        margin: 0;
    }
    .menu-block.navbar-fixed-top .ow-navigation .navbar-header {
        padding-top: 20px;
        padding-bottom: 0;
    }
    .ow-navigation .navbar-header {
        float: none;
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .ow-navigation .navbar-toggle {
        display: block;
        background-color: #fd7140;
        margin-bottom: 0;
        margin-top: 0;
        margin-right: 0px;
        border-radius: 0;
        border: 1px solid transparent;
        transition: all 1s ease 0s;
        -webkit-transition: all 1s ease 0s;
        -moz-transition: all 1s ease 0s;
        -o-transition: all 1s ease 0s;
    }
    .ow-navigation .navbar-collapse>.nav.navbar-nav>li {
        margin: 0;
    }
    .menu-block .ow-navigation .navbar-nav {
        border-top: 1px solid #333;
    }
    .ow-navigation .navbar-nav>li {
        display: inline-block;
        float: none;
        width: 100%;
    }
    .ow-navigation .nav.navbar-nav li>a {
        color: #000;
        margin-top: 0;
        margin-bottom: 0;
        font-family:"Roboto-Regular";
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.98px;
        line-height: 28px;
        text-transform: uppercase;
    }
    .ow-navigation .nav>li>a:focus,
    .ow-navigation .nav>li>a:hover {
        background-color: transparent;
        color: #fd7140;
    }
    .ow-navigation .nav.navbar-nav li>a,
    .ow-navigation .navbar-collapse>ul>li>a {
        padding-top: 6px;
        padding-bottom: 6px;
        width: 100%;
        padding-left: 0;
        transition: all 1s ease 0s;
        -webkit-transition: all 1s ease 0s;
        -moz-transition: all 1s ease 0s;
        -o-transition: all 1s ease 0s;
    }
    .ow-navigation .navbar-collapse>ul>li:last-of-type>a {
        padding-bottom: 13px;
    }
    .ow-navigation .navbar-text {
        float: none;
        margin: 15px 0;
    }
    .ow-navigation .nav.navbar-nav li>a::before {
        border: none;
    }
    /* since 3.1.0 */
    .ow-navigation .navbar-collapse.collapse.in {
        display: block!important;
    }
    .ow-navigation .collapsing {
        overflow: hidden!important;
    }
    .ow-navigation .dropdown-menu {
        background-color: transparent;
        border: 0 none;
        margin-top: 0;
        padding-left: 10px;
        padding-top: 0;
        position: relative;
        width: 100%;
        box-shadow: none;
        padding-bottom: 0;
    }
    .menu-block .ow-navigation .dropdown .dropdown-menu li a:hover {
        color: #fd7140;
    }
    .ow-navigation .dropdown-menu>.active>a,
    .ow-navigation .dropdown-menu>.active>a:focus,
    .ow-navigation .dropdown-menu>.active>a:hover {
        background-color: transparent;
    }
    /* Switch */
    .ow-navigation .ddl-switch {
        background-color: #fd7140;
        cursor: pointer;
        font-size: 18px;
        padding: 1.5px 5px;
        position: absolute;
        right: 0;
        z-index: 9999;
        top: 6px;
        color: #fff;
    }
    .ow-navigation .ddl-active>.ddl-switch:before {
        content: "\f106";
    }
    /* + 991:: Navbar Fixed Top */
    .navbar-fixed-top.menu-block {
        background-color: #333;
    }
    .navbar-fixed-top.menu-block .ow-navigation .navbar-brand,
    .ow-navigation .navbar-brand {
        display: none;
    }
    .navbar-fixed-top.menu-block .mobile-logo h3 {
        color: #fff;
    }
    a.mobile-logo {
        text-decoration: none;
        color: #333;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 22px;
        font-family: "Roboto-Regular";
        transition: all 1s ease 0s;
        -webkit-transition: all 1s ease 0s;
        -moz-transition: all 1s ease 0s;
        -o-transition: all 1s ease 0s;
    }
    .menu-block.navbar-fixed-top .mobile-logo h3:hover,
    .mobile-logo h3:hover {
        color: #fd7140;
    }
    .menu-block.navbar-fixed-top .ow-navigation {
        top: -10px;
    }
    .navbar-fixed-top.menu-block .user-cart {
        top: 11px;
    }
    .navbar-fixed-top .ow-navigation .nav.navbar-nav li>a {
        color: #fff;
    }
    .navbar-fixed-top .ow-navigation .nav.navbar-nav li>a:hover {
        color: #fd7140;
    }
    .navbar-fixed-top .ow-navigation .navbar-toggle .icon-bar,
    .ow-navigation .navbar-toggle .icon-bar,
    .navbar-fixed-top .ow-navigation .navbar-toggle:focus,
    .navbar-fixed-top .ow-navigation .navbar-toggle:hover,
    .ow-navigation .navbar-toggle:hover {
        background-color: #fff;
        border-color: #fd7140;
    }
    .navbar-fixed-top .ow-navigation .navbar-toggle:focus .icon-bar,
    .navbar-fixed-top .ow-navigation .navbar-toggle:hover .icon-bar,
    .ow-navigation .navbar-toggle:hover .icon-bar {
        background-color: #fd7140;
    }
    .menu-block.navbar-fixed-top .ow-navigation .navbar-nav {
        border-top: 1px solid #fd7140;
        margin-top: 12px;
        margin-right: 0;
        padding-top: 5px;
    }
    .menu-block .ow-navigation .dropdown .dropdown-menu li a {
        color: #000;
    }
    .navbar-fixed-top.menu-block .ow-navigation .dropdown .dropdown-menu li.active a,
    .menu-block .ow-navigation .dropdown .dropdown-menu li.active a {
        color: #fd7140;
    }
    .menu-block.navbar-fixed-top .ow-navigation .dropdown .dropdown-menu li a {
        padding-top: 0;
        padding-bottom: 0;
        color: #fff;
    }
    .menu-block.navbar-fixed-top .ow-navigation .dropdown-menu>li>a:hover,
    .ow-navigation .dropdown-menu>li>a:hover {
        background-color: transparent;
        color: #fd7140;
    }
}
