category-page {
    .accordion-list {
       
        height: 100%;
    }
    ion-thumbnail{
        margin:5px 2px 5px 0px !important;
        min-height: 67px !important;
        min-width:72px !important;
    }
    .scroll-content{
        padding:10px !important;
    }
    h2{
        color:#514f66;
        font-size:$fontsizeheading !important;
        font-weight: normal !important;
        line-height:2.4rem !important;
    }

    p{
        padding-top:4px;
        font-size:1.2rem !important;
        color:#514f66;
        font-family:'montserratregular';
        line-height: 1.4rem !important;
    }
    .list-header-md:not(.nonepadding){
        padding :0px ;
        border:0px;
        margin-bottom:10px !important;
    }
    ion-icon{
        color:$gray;
        opacity:.6;
    }
    .ion-ios-arrow-down:before{
        color:#514f66;
    }
   
    .item-md ion-thumbnail ion-img, .item-md ion-thumbnail img{
        height:45px;
        width:45px;
        position: relative;
        top: 9px;
        left: 7px;
    }
    .section ,.section-active {
        background: $white;
        color: #000;
        border-radius:4px;
        padding-left:10px !important;
       
    }
    .section-active {
       
    }
 
    .child {
        padding-left:20px;
        padding-right:20px;
        color:#514f66;
        font-size:$fontsizemedium;
        line-height:1.8rem;
    }
    .child-item {
        
        padding-left: 30px;
        padding-right:30px
    }
    .label {
        margin: 0px;
    }
    .list {
        margin-bottom: 4px;
    }
}

.tabs-md .tab-button[aria-selected=true],.tabs-md .tab-button[aria-selected=true] .tab-button-icon {
    color:$tab-color;
}


.has-infinite-scroll .scroll-content{
    .grid{
    padding:0px !important;
    }
.col{
    padding:0px !important;

    .item-md{
        padding:0px;
        border-bottom: 1px solid $lightgray;
        border-right: 1px solid $lightgray;
    }
    .borderleftcolor{
        border-left:1px soild $gray !important;
    }

    .item-md.item-block .item-inner{
        border-bottom:0px !important;
        padding-left:18px;
    }
    ion-label{
        text-align:center;
    }
   
    h6{
        font-size:13px;
        text-align:left;
        
        white-space: normal;
        color:$gray;
        min-height:37px;

        .label-md {
            margin: 2px 8px 8px 0;
        }
    }
    .price{
        text-align:left !important;
        color:$gray;
        font-size:$fontsizesmall;
        margin-top:5px;

        del{
            color:#24272c;
            opacity: .5;
        }
    }
   
}
}
.boxshadow{
 -webkit-box-shadow: 0 11px 6px -6px rgba(211,211,211,0.31);
 
-moz-box-shadow: 0 11px 6px -6px rgba(211,211,211,0.31);
     box-shadow: 0 11px 6px -6px rgba(211,211,211,0.31);


     
     z-index:1000;
     .input-wrapper{
         color:$gray;
         font-size:$fontsizemedium;;
     }
}

.action-sheet-group{
    padding-left:20px;
    padding-right:20px;
   
    
}
.action-sheet-md .action-sheet-button{
    
            border-bottom:2px solid $lightgray;
            color:$gray;
            opacity:.8;
           
        }


        [icon-start] .button-inner{
            color:$tab-color;
        }


        .filterpage {
            ion-item
            {
                color:$gray;
                opacity:.6;
                ion-label{
            margin-left:16px;
            font-size:$fontsizesmall;
        }
        }
       .filternames .item-md.item-block .item-inner{
           
            border-right: 2px solid #dedede;
        }
        

        .filternames .item-md.active {
                background-color:$white;
                color:$tab-color;
                opacity:1 !important;
         .item-inner{
            
             border-right: 0px;
         }
        }
 

        }
     
        .filternames ion-item.item-md{
            background-color:$background-gray;
        }

        .filterlist 
        
       
        {
            background-color:$white;
           margin-top:1px;
            
            
            .ion-md-checkmark{
            float:right;
            color:$rating-start-color;
        }
    }

        ion-label > .ion-md-checkmark{
            font-weight:bold;
        }

        .ion-md-options:before,  .ion-md-swap:before{
            transform: rotate(90deg);
        }

        .dot {
            height: 3px;
            width:3px;
            background-color: $rating-start-color;
            border-radius: 50%;
            display: inline-block;
           
            float: right;
            margin-top: 8px;
            color:$rating-start-color;
          }

          .filteraction{
              background-color:$white;
              .item-md.item-block .item-inner{
                  border-bottom:0px;
              }
          }

          .filterbutton {
              color:$color-blue;
              font-size:$fontsizemidmedium;
          }

          .selectedfilters {
              
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
            .button-outline-md{
border-color:$gray;
color:$gray;
opacity:.5;
          }
        }

        .shrinkable .toolbar-background-md{
            background:transparent;

           
        }

        .searchbar-md .searchbar-search-icon{
            right:16px;
            left:unset;
            opacity: .54;
        }

       .searchresult  .item-inner{
           border-bottom:0px !important;
       }


       [childtopborder]{
           border-top:2px solid $bordercolor;
           margin-left: 16px;
           margin-right: 16px;
           .list-header-md{
               border:0px !important;
           }
           ion-icon{
               font-size:2.0rem;
               opacity:.4;
           }
       }

       [parentclass]{
           .item-inner{
               
           }
       }

       [leafcategory] h2{
           font-size:$fontsizesmall !important;
           line-height:2.6rem !important;
       }

       [searchiconlist]{
           font-size:1.7rem !important;
           position: absolute !important;
           right: 19px !important;
          
           line-height: 50px !important;
       }


       [categorysearchicon]
       {
       input{
           height:37px !important;
           padding:6px 20px !important;
       }
       .searchbar-search-icon{
        right: 2px !important;
        background-size: 24px !important;
        top: 8px !important;
        opacity:.4 !important;
       }
    }