<ion-header>
    <ion-navbar nopadding>
        <div backicon tappable (click)="goback()">
            <ion-icon whitecolor name="arrow-back"></ion-icon>
        </div>
        <ion-title>
            <ion-searchbar categorysearchicon placeholder="e.g redmi note 4" (ionFocus)="onSearch($event)"></ion-searchbar>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list class="accordion-list">
        <!-- First Level -->
        <ion-list-header fullshadow parentclass *ngFor="let category of categories; let i = index" no-lines no-padding>
            <!-- Toggle Button -->
            <ion-item ion-item (click)="toggleSection(i)" detail-none [ngClass]="{'section-active': category.open, 'section': !category.open}">

                <ion-thumbnail item-start>
                    <img block src="{{getImagePath(category.slug)}}" />
                </ion-thumbnail>
                <h2>{{ category.title }}</h2>
                <p>{{category.concat}}</p>



                <ion-icon item-right name="ios-arrow-down" *ngIf="!category.open"></ion-icon>
                <ion-icon item-right name="ios-arrow-up" *ngIf="category.open"></ion-icon>
            </ion-item>

            <ion-list childtopborder *ngIf="category.children && category.open" no-lines>
                <!-- Second Level -->
                <ion-list-header no-padding no-margin class="nonepadding" *ngFor="let subCategory of category.children; let j = index" no-padding>
                    <!-- Toggle Button -->
                    <button ion-item (click)="toggleItem(i, j)" *ngIf="subCategory.children" class="child" detail-none>
                        {{ subCategory.title }}
                        <ion-icon item-right name="ios-arrow-down" *ngIf="!subCategory.open"></ion-icon>
                        <ion-icon item-right name="ios-arrow-up" *ngIf="subCategory.open"></ion-icon>


                    </button>

                    <!-- Direct Add Button as Fallback -->
                    <ion-item *ngIf="!subCategory.children" ion-item detail-none class="child-item" text-wrap>
                        <h2>{{ subCategory.title }}</h2>


                    </ion-item>

                    <ion-list leafcategory *ngIf="subCategory.children && subCategory.open">
                        <!-- Third Level -->
                        <ion-item *ngFor="let customCategory of subCategory.children; let k = index ;" detail-none class="child-item" text-wrap (click)="openPage(customCategory)">
                            <h2>{{ customCategory.title }}</h2>

                        </ion-item>
                    </ion-list>

                </ion-list-header>
            </ion-list>

        </ion-list-header>
    </ion-list>
</ion-content>