<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            {{menuTitle}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content no-padding no-margin class="productImage ">
    <product-segment [Obj]="productObj" [activeTab]="'specs'"></product-segment>
    <ion-card no-padding no-margin class="widthfull  margintop0">
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col col-4>
                        <ion-row>
                            <img height="100" width="50" src="https://www.nayashopi.in/{{productObj?.product?.image}}">
                        </ion-row>
                        <ion-row>

                        </ion-row>
                    </ion-col>
                    <ion-col col-8>
                        <ion-row>
                            <h6 font14>{{productObj?.product?.product_name}}</h6>




                            <div class=" lowestprice">Rs. {{productObj?.product?.lowest_price}}
                                <del *ngIf="(+productObj?.product?.original_price)" class="">Rs. {{productObj?.product?.original_price}}</del>
                            </div>
                            <ion-grid no-padding no-margin>
                                <ion-row>
                                    <ion-col col-6 no-padding no-margin>

                                        <ion-rating [numStars]="5" [readOnly]="true" [value]="productObj?.product?.rating"></ion-rating>
                                    </ion-col>
                                    <ion-col>
                                        <ion-note *ngIf="productObj?.product?.rating_user_count">{{productObj?.product?.rating_user_count}} Reviews</ion-note>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>





                        </ion-row>


                    </ion-col>
                </ion-row>

            </ion-grid>
        </ion-card-content>
    </ion-card>

    <div class="specs">
        <ion-card np-padding no-margin class="widthfull specslisttabs">

            <ion-segment [(ngModel)]="selectedSegment">
                <ion-segment-button text-left value="specs">
                    Specification
                </ion-segment-button>
                <ion-segment-button text-left value="desc">
                    Description
                </ion-segment-button>
            </ion-segment>

            <div [ngSwitch]="selectedSegment">
                <ion-list *ngSwitchCase="'specs'">
                    <ion-item *ngFor="let d of productObj?.featureGroups[0] | keys; let i=index" text-wrap (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}">
                        <h3 icon-right>
                            {{ d.key.replace(re,' ')}}
                            <ion-icon color="success" class="pull-right" no-margin icon-right [name]="isGroupShown(i) ? 'remove' : 'add'"></ion-icon>
                        </h3>
                        <ion-grid no-padding no-margin *ngIf="isGroupShown(i)">
                            <ion-row class="specsfeaturelist" margin-top *ngFor="let specslist of d.value">
                                <ion-col class="name" col-6>{{specslist?.display_name}}</ion-col>
                                <ion-col text-right class="value" col-6>{{specslist?.featurevalue}}</ion-col>
                            </ion-row>


                        </ion-grid>
                    </ion-item>
                </ion-list>


                <ion-grid *ngSwitchCase="'desc'">
                    <ion-row>
                        <ion-col col-12 text-wrap [innerHtml]="productObj?.product?.product_description">

                        </ion-col>

                    </ion-row>
                </ion-grid>

            </div>


        </ion-card>

    </div>

</ion-content>