<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            {{menuTitle}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content no-padding no-margin class="productImage">
    <product-segment [Obj]="productObj" [activeTab]="'review'"></product-segment>
    <ion-card no-padding no-margin class="widthfull margintop0 ">
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col col-4>
                        <ion-row>
                            <img height="100" width="50" src="https://www.nayashopi.in/{{productObj?.product?.image}}">
                        </ion-row>
                        <ion-row>

                        </ion-row>
                    </ion-col>
                    <ion-col col-8>
                        <ion-row>
                            <h6 font14>{{productObj?.product?.product_name}}</h6>




                            <div class=" lowestprice">Rs. {{productObj?.product?.lowest_price}}
                                <del *ngIf="(+productObj?.product?.original_price)">Rs. {{productObj?.product?.original_price}}</del>
                            </div>
                            <ion-grid no-padding no-margin>
                                <ion-row>
                                    <ion-col col-6 no-padding no-margin>

                                        <ion-rating [numStars]="5" [readOnly]="true" [value]="productObj?.product?.rating"></ion-rating>
                                    </ion-col>
                                    <ion-col>
                                        <ion-note *ngIf="productObj?.product?.rating_user_count">{{productObj?.product?.rating_user_count}} Reviews.</ion-note>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>





                        </ion-row>


                    </ion-col>
                </ion-row>

            </ion-grid>
        </ion-card-content>
    </ion-card>




    <ion-card no-padding no-margin class="widthfull ratingreview ">
        <ion-card-header>Write Review </ion-card-header>
        <ion-card-content>
            <div *ngIf="formSubmitted && reviewForm.pristine" class="submitted"> Review is submitted successfully. </div>

            <ion-list>
                <ion-note>Give Rating out of 5</ion-note>
                <rating [(ngModel)]="rating" readOnly="false" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star"
                    nullable="false" (ngModelChange)="selectRating($event)"></rating>
            </ion-list>

            <form [formGroup]="reviewForm" novalidate (ngSubmit)="postForm()">
                <ion-list>
                    <ion-item no-padding no-margin>
                        <ion-label color="primary" floating>Review Title(eg. Good phone)</ion-label>
                        <ion-input name="title" id="title" type="text" formControlName="title" maxlength="100"></ion-input>
                    </ion-item>

                    <ion-item no-padding no-margin>
                        <ion-label color="primary" floating>Comments</ion-label>
                        <ion-textarea type="text" formControlName="description" maxlength="100"></ion-textarea>

                    </ion-item>
                    <ion-list padding-top>
                        <button [disabled]="reviewForm.invalid" ion-button full>Submit Review</button>
                    </ion-list>
                </ion-list>

            </form>
        </ion-card-content>
    </ion-card>

</ion-content>