<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            {{menuTitle}}
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content no-padding no-margin class="productImage">
    <product-segment [Obj]="productObj" [activeTab]="'store'"></product-segment>
    <ion-card no-padding no-margin class="widthfull margintop0">
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col col-4>
                        <ion-row>
                            <img height="100" width="50" src="https://www.nayashopi.in/{{productObj?.product?.image}}">
                        </ion-row>
                        <ion-row>

                        </ion-row>
                    </ion-col>
                    <ion-col col-8>
                        <ion-row>
                            <h6 font14>{{productObj?.product?.product_name}}</h6>




                            <div class=" lowestprice">Rs. {{productObj?.product?.lowest_price}}
                                <del *ngIf="(+productObj?.product?.original_price)" class="">Rs. {{productObj?.product?.original_price}}</del>
                            </div>
                            <ion-grid no-padding no-margin>
                                <ion-row>
                                    <ion-col col-6 no-padding no-margin>

                                        <ion-rating [numStars]="5" [readOnly]="true" [value]="productObj?.product?.rating"></ion-rating>
                                    </ion-col>
                                    <ion-col>
                                        <ion-note *ngIf="productObj?.product?.rating_user_count">{{productObj?.product?.rating_user_count}} Reviews.</ion-note>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>





                        </ion-row>


                    </ion-col>
                </ion-row>

            </ion-grid>
        </ion-card-content>
    </ion-card>

    <ion-card *ngIf="productObj?.suppliers" no-padding no-margin width-100 class="widthfull storelistoverview">

        <ion-card-header>Stores </ion-card-header>

        <ion-card-content>
            <ion-grid *ngFor="let supplier of productObj?.suppliers;">
                <ion-row>
                    <ion-col col-8>
                        <ion-row>
                            <img src="https://www.nayashopi.in/{{supplier?.image}}" height="40" width="50%">
                        </ion-row>
                        <ion-row class="shipping">
                            <p>{{supplier?.shipping}}</p>
                        </ion-row>
                    </ion-col>
                    <ion-col col-4>
                        <ion-row familybold class="storeprice ">
                            Rs. {{supplier?.price}}
                        </ion-row>

                        <ion-row float-right>
                            <a (click)="openWithInAppBrowser(supplier?.redirectlink)" buy ion-button full>Buy</a>
                        </ion-row>
                    </ion-col>
                </ion-row>


            </ion-grid>


        </ion-card-content>

    </ion-card>


</ion-content>