<ion-header>
    <ion-navbar>
        <ion-title>
            {{menuTitle}}
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content no-padding class="productImage">
    <product-segment *ngIf="productObj" [Obj]="productObj" [activeTab]="'overview'"></product-segment>
    <ion-card no-padding no-margin width-100 class="widthfull margintop0" *ngIf="productObj">
        <ion-card-content>


            <ion-slides *ngIf="productObj?.product?.imageList && productObj?.product?.imageList.length" pager="true" autoplay="false"
                loop="true">
                <ion-slide *ngFor="let slider of productObj?.product?.imageList">
                    <img height="130" src="{{slider}}" imageViewer />
                </ion-slide>
            </ion-slides>


            <h6>{{productObj?.product?.product_name}}</h6>

            <div class="lowestprice">Rs. {{productObj?.product?.lowest_price}}
                <del *ngIf="(+productObj?.product?.original_price)" class="">Rs. {{productObj?.product?.original_price}}</del>
            </div>
            <ion-grid no-padding no-margin>
                <ion-row>
                    <ion-col col-4 no-padding no-margin>

                        <ion-rating [numStars]="5" [readOnly]="true" [value]="productObj?.product?.rating"></ion-rating>
                    </ion-col>
                    <ion-col>
                        <ion-note *ngIf="productObj?.product?.rating_user_count">{{productObj?.product?.rating_user_count}} Reviews.</ion-note>
                    </ion-col>
                </ion-row>
            </ion-grid>

        </ion-card-content>

    </ion-card>


    <ion-card *ngIf="productObj?.suppliers" no-padding no-margin width-100 class="widthfull storelistoverview">

        <ion-card-header>Stores </ion-card-header>

        <ion-card-content paddingbottom4>
            <ion-grid *ngFor="let supplier of productObj?.suppliers;">
                <ion-row>
                    <ion-col col-8>
                        <ion-row>
                            <img src="https://www.nayashopi.in/{{supplier?.image}}" height="40" width="50%">
                        </ion-row>
                        <ion-row class="shipping">
                            <p>{{supplier?.shipping}}</p>
                        </ion-row>
                    </ion-col>
                    <ion-col col-4>
                        <ion-row familybold class="storeprice ">
                            Rs. {{supplier?.price}}
                        </ion-row>

                        <ion-row float-right>
                            <a (click)="openWithInAppBrowser(supplier?.redirectlink)" buy ion-button full>Buy</a>
                        </ion-row>
                    </ion-col>
                </ion-row>


            </ion-grid>
            <button ion-button full viewall (click)="redirect('store')">View All Stores</button>

        </ion-card-content>

    </ion-card>

    <ion-card no-padding no-margin *ngIf="productObj?.keyfeature.length>0" class="widthfull ">
        <ion-card-header>
            Key Specification
        </ion-card-header>
        <ion-card-content specscard>
            <ion-grid>
                <ion-row class="topcategory">
                    <ion-col col-4 *ngFor="let d of productObj?.keyfeature;">
                        <ion-item>
                            <img block src="{{getFetureImagePath(d.id)}}" />
                            <p class="fullwidth displayname"> {{ d?.display_name }}</p>
                            <p class="fullwidth displayvalue"> {{ d?.featurevalue }}</p>

                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <button ion-button full viewall (click)="redirect('specs')">View All Specification</button>
        </ion-card-content>
    </ion-card>



    <ion-card no-padding no-margin *ngIf="productObj?.similar" class="widthfull similarproduct">

        <ion-card-header>Similar Products </ion-card-header>

        <ion-slides slidesPerView=2>

            <ion-slide *ngFor="let product of productObj?.similar">
                <ion-item center text-center (click)="openPage(product.slug)">
                    <img src="https://www.nayashopi.in/{{product.image}}">
                    <h5> {{product.product_name}}</h5>
                    <h6>Rs. {{product.lowest_price}} &nbsp;&nbsp;
                        <del *ngIf="product.original_price && product.original_price>product.lowest_price" class="fa fa-rupee">{{product.original_price}}</del>
                    </h6>
                    <ion-grid no-padding>
                        <ion-row no-padding>
                            <ion-col col-8>
                                <ion-rating [numStars]="5" [readOnly]="true" [value]="product?.rating"></ion-rating>
                            </ion-col>
                        </ion-row>
                    </ion-grid>

                </ion-item>
            </ion-slide>

        </ion-slides>


    </ion-card>
    <br/>
</ion-content>