// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ul {
    padding: 0px;
   
    &.rating li {
      padding: 5px 10px !important;
      background: none;
      color: #ffb400;
   
      ion-icon {
        font-size: 30px;
      }
    }
  }
  

.productImage ion-card img {
    width:auto !important;
}

img.thubnail-image{width: 1em}



@font-face {
  font-family: 'montserratbold';
  src: url('../assets/fonts/montserrat-bold-webfont.woff2') format('woff2'),
       url('../assets/fonts/montserrat-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'montserratlight';
  src: url('../assets/fonts/montserrat-light-webfont.woff2') format('woff2'),
       url('../assets/fonts/montserrat-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'montserratmedium';
  src: url('../assets/fonts/montserrat-medium-webfont.woff2') format('woff2'),
       url('../assets/fonts/montserrat-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'montserratregular';
  src: url('../assets/fonts/montserrat-regular-webfont.woff2') format('woff2'),
       url('../assets/fonts/montserrat-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
.toolbar-md{
  min-height: 5rem;
}

.footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before{
  height:0px !important;
}